.sanPham{
    color: rgba(0,0,0,.8);
    width: 46.27949%;
}
.donGia{
    width: 15.88022%;
}
.soLuong{
    width: 15.4265%;
}

.soTien{
    width: 10.43557%;
    text-align: center;
}

.thaoTac{
    width: 12.70417%;
    text-align: center;
}
