<style>
    .custom-input {
        height: auto; /* Đặt chiều cao tự động để phù hợp với nội dung */
        padding: 4px 10px; /* Điều chỉnh đệm để tạo khoảng cách vừa phải */
        font-size: 14px; /* Cỡ chữ phù hợp */
        line-height: 1.5; /* Khoảng cách dòng */
        border-radius: 5px; /* Bo góc cho input */
        border: 1px solid #ced4da; /* Màu viền */
    }

    /* Tùy chỉnh cho trạng thái focus */
    .custom-input:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .form-text.text-muted {
        color: red; /* Màu xám */
        font-size: 0.8em; /* Kích thước nhỏ */
    }

    .custom-badge {
        background-color: #343a40; /* Màu nền tối */
        color: #fff; /* Màu chữ trắng */
        border: 1px solid #fff; /* Viền màu trắng */
        padding: 5px 10px; /* Padding xung quanh văn bản */
        border-radius: 5px; /* Bo tròn góc */
    }

    #buttons-container {
        display: flex;
    }


    .form-with-scroll {
        margin: 2px;
        max-height: 700px; /* Hoặc chiều cao tùy chỉnh */
        overflow-y: auto;
        overflow-x: hidden;
    }

</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div style="background-color: #EEEEEE;">
    <div class="row" style="height: 50px; margin-bottom: 10px">
        <div class="col-md-9"></div>
        <div class="col-md-3" style="margin-top: 5px">
            <button type="button" class="btn btn-info"><i class="fas fa-shopping-bag"></i></button>
            <button type="button" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
    <div class="row" style="height: 800px; margin-left: 1px; margin-right: 10px">
        <div class="col-md-9 position-relative" style="height: 100%">
            <div style="position: sticky;top: 0; height: 100%">
                <div class="card" style="height: 50%; border-radius: 10px 10px 0px 0px">
                    <div class="card-header" style="border-radius: 10px 10px 0px 0px; background-color: #222222">
                        <label class="fw-medium" style="color: white">Sản Phẩm Đã Mua</label>
                    </div>
                    <div class="card-body">
                        <div class="return-product-table table-responsive">
                            <table class="table table-hover align-middle table-borderless text-center mw-100"
                                   border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Sản Phẩm</th>
                                    <th>Số Lượng Trả</th>
                                    <th>Hình Ảnh</th>
                                    <th>Đơn Gía</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="(index,hoaDonChiTiet) in listHoaDonChiTiet">
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>SP{{hoaDonChiTiet.bienTheGiay.id}}</td>
                                    <td>{{hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</td>
                                    <td><input type="number" class="custom-input" min="0"
                                               max="{{hoaDonChiTiet.soLuongDuocTra}}"
                                               ng-init="hoaDonChiTiet.soLuongTra = 0"
                                               ng-model="hoaDonChiTiet.soLuongTra"> / {{hoaDonChiTiet.soLuongDuocTra}}
                                    </td>
                                    <td>
                                        <img ng-src="{{'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh sản phẩm" height="50" width="50" style="border-radius: 5px;">
                                    </td>
                                    <td>{{hoaDonChiTiet.bienTheGiay.giaBan | formatToVND}}</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary"
                                                ng-click="traHang(index+1,hoaDonChiTiet)">Trả Hàng <i
                                                class="fas fa-exchange-alt"></i></button>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card" style="height: 50%;border-radius: 0px 0px 10px 10px">
                    <div class="card-header" style="background-color: #222222">
                        <label class="fw-medium" style="color: white">Sản Phẩm Đã Mua</label>
                    </div>
                    <div class="card-body">
                        <div class="change-product-table table-responsive">
                            <table class="table table-hover align-middle table-borderless text-center mw-100"
                                   border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Key</th>
                                    <th>Loại</th>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Sản Phẩm</th>
                                    <th>Số Lượng Trả</th>
                                    <th>Hình Ảnh</th>
                                    <th>Đơn Gía</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="sanPhamTra in listSanPhamTra track by $index">
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>{{sanPhamTra.key}}</td>
                                    <td><span class="badge custom-badge">Sản Phẩm Trả</span></td>
                                    <td>SP{{sanPhamTra.value.hoaDonChiTiet.bienTheGiay.id}}</td>
                                    <td>{{sanPhamTra.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</td>
                                    <td>{{sanPhamTra.value.hoaDonChiTiet.soLuongDuocTra}}</td>
                                    <td>
                                        <img ng-src="{{'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh sản phẩm" height="50" width="50" style="border-radius: 5px;">
                                    </td>
                                    <td>{{sanPhamTra.value.hoaDonChiTiet.bienTheGiay.giaBan}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" ng-click="addLyDoView(sanPhamTra)">Lý Do
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                ng-click="deleteGiayTra(sanPhamTra)"><i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-repeat="sanPhamDoi in listSanPhamDoi track by $index " class="table-light">
                                    <td>{{key}}</td>
                                    <td><span class="badge custom-badge">Sản Phẩm Đổi</span></td>
                                    <td>SP{{hoaDonChiTiet.bienTheGiay.id}}</td>
                                    <td>{{hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</td>
                                    <td>{{hoaDonChiTiet.soLuongDuocTra}}</td>
                                    <td>Hình Ảnh</td>
                                    <td>{{hoaDonChiTiet.bienTheGiay.giaBan | formatToVND}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                                ng-click="deleteGiayDoi(sanPhamDoi)"><i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="height: 100%; border-radius: 10px; background-color: white">
            <div class="thongTinChiTiet" style=" height: 100%">
                <form class="form-with-scroll" ng-submit="taoYeuCau()" style="margin: 2px; height: 700px;">
                    <div class="thongTinKhachHang" style="padding-top: 20px">
                        <div class="row">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <div class="form-floating" style="width: 90%">
                                    <input type="text" class="form-control" id="floatingInputGrid"
                                           placeholder="name@example.com" value="{{hoaDon.khachHang.hoTen}}" disabled>
                                    <label for="floatingInputGrid">Khách Hàng</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="thongTinTraHang">'
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open first modal</button>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold"
                                       style="margin: 2px; font-size: x-large; color: lightgreen;">Trả Hàng /
                                </label>
                                <strong style="color: #03fce8;" ng-show="hoaDon.id">
                                    {{hoaDon.loaiHoaDon == 1 ? "HD" : hoaDon.loaiHoaDon == 2 ? "HD_HDD" : "HD_HDT"
                                    }}{{hoaDon.id}}
                                </strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tổng tiền mua hàng:</label>
                                <strong ng-show="hoaDon.tongTienKhachThanhToan > 0" class="fw-medium">{{hoaDon.tongTienKhachThanhToan
                                    | formatToVND}} </strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tổng tiền Trả hàng:</label>
                                <strong class="fw-medium">{{tongTienTraHang | formatToVND}} </strong>
                            </div>
                        </div>

                        <div class="row" ng-show="mapSanPhamThayThe.size <= 0">
                            <div class="mb-3">
                                <label class="form-label fw-bold" style="font-size: large">Tổng tiền hoàn:</label>
                                <strong class="fw-medium">{{tongTienTraHang | formatToVND}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="thongTinDoiHang" ng-show="mapSanPhamThayThe.size == 0">
                        <hr>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold" style="margin: 2px; font-size: x-large; color: lightgreen;">Đổi Hàng /</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tiền hàng:</label>
                                <strong class="fw-medium">{{tongTienDoiHang | formatToVND}} </strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Giảm giá:</label>
                                <strong class="fw-medium">0 VND</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tổng tiền đổi hàng:</label>
                                <strong class="fw-medium">{{tongTienDoiHang | formatToVND}}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold" style="font-size: large">Tổng tiền thanh toán:</label>
                                <strong class="fw-medium">{{tongTienDoiHang | formatToVND}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea1">Ghi Chú</label>
                    </div>
                </form>
                <div style="height: 100px; text-align: center;padding-top: 10px;">
                    <button type="button" ng-click="datHang()" class="btn btn-outline-dark"
                            style="width: 90%;height: 60%;margin: 20px">Xác nhận
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal chọn lý do-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Lý Do Đổi Trả</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <small class="form-text text-muted">(*bắt buộc)</small>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                                ng-model="selectedLyDo" ng-options="lyDo.id as lyDo.ten for lyDo in listLyDo">
                        </select>
                        <label for="floatingSelect">Lý Do</label>
                    </div>
                    <br>
                    <small class="form-text text-muted">(*bắt buộc)</small>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Mô tả chi tiết lý do đổi trả."
                                  id="floatingTextarea2" style="height: 100px" ng-model="ghiChu"></textarea>
                        <label for="floatingTextarea2">Mô tả</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay về</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            ng-click="addLyDo(selectedLyDo, ghiChu)">Lưu <i class="fas fa-save"></i></button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                            ng-disabled="!selectedLyDo || !ghiChu" ng-click="resetLyDo()">Đổi
                        <i class="fas fa-undo-alt"></i></button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal chọn giày-->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Danh Sách Giày</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="item-list mt-3 box-shadow-page" style="overflow: hidden;">
                        <div class="p-2">
                            <div class="d-flex align-items-center ">
                                <input type="text" class="form-control w-50" placeholder="search..."
                                       ng-model="searchText">
                                <button class="btn btn-custom" ng-click="searchGiay()">Tìm kiếm</button>
                                <button class="btn btn-custom mx-2" ng-click="resetSearch()">Nhập lại</button>
                                <button class="btn btn-custom mx-2" ng-click="startScanning()">
                                    <i class="fas fa-qrcode"></i></button>
                                <button hidden="true" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" id="staticBackDropButton">
                                </button>
                            </div>
                            <div class="item row">
                                <div class="col-md-2 mb-2" ng-repeat="giay in listGiay">
                                    <div class="p-2 hover-item" data-bs-dismiss="modal"
                                         data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                         ng-click="selectBienTheGiayDoiView(giay)"
                                         data-bs-toggle="tooltip"
                                         data-bs-placement="right" title="{{giay.ten}}">
                                        <div class="position-relative" style="text-align: center;">
                                            <img width="60%" class="rounded-3"
                                                 style="height: 85px; width: 85px; object-fit: contain"
                                                 ng-src="{{giay.lstAnh && giay.lstAnh.length > 0 ? giay.lstAnh[0] : 'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                                 alt="Ảnh giày">
                                        </div>
                                        <p class="mt-1"
                                           style="text-wrap: nowrap;overflow: hidden;text-align: center;text-overflow: ellipsis;">
                                            {{giay.ten}}</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                                     data-current-page="curPage"
                                     data-max-size="maxSize"
                                     data-boundary-links="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở Về</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Chi Tiết Giày</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="" class=" col-md-4">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner" id="image-container">
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="side-left">
                                <div class="title">
                                    <h5 class="py-3">{{giayDetail.ten}} </h5>
                                    <h5 class="py-3">Giá <sup class="text-danger">vnđ</sup>:
                                        <span id="price-product" class="py-3">
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan | number:0}}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}
                                        </span>
                                    </span>
                                    </h5>
                                    <h5 class="py-3">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span></h5>
                                </div>
                                <div id="buttons-container"></div>
                                <div id="product-info"></div>
                                <div class="size-selector">
                                    <h2>Kích thước:</h2>
                                    <div id="sizeButtons"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal">Trở Về
                    </button>
                    <button class="btn btn-success" data-bs-dismiss="modal" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal">Đổi <i class="fas fa-undo-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>