<form name="khuyenMaiForm" ng-submit="updateKhuyenMai()">
    <button type="submit" class="btn btn-primary" ng-disabled="khuyenMaiForm.$invalid">Cập nhật</button>
    <div class="form-group">
        <label for="ten">Tên chương trình: </label>
        <input type="text" class="form-control" id="ten" name="ten" ng-model="khuyenMai.ten" ng-maxlength="50"
               ng-required="true" ng-change="change(khuyenMaiForm.ten)">
    </div>
    <div class="form-group">
        <label for="ghiChu">Ghi chú: </label>
        <textarea class="form-control" id="ghiChu" name="ghiChu" rows="3" ng-model="khuyenMai.ghiChu"
                  ng-change="changeGhiChu(khuyenMaiForm.ghiChu)" ng-required="true"></textarea>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày bắt đầu: </label>
                <input type="date" class="form-control" id="ngayBatDau" name="ngayBatDau"
                       ng-model="khuyenMai.ngayBatDau">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày kết thúc: </label>
                <input type="date" class="form-control" id="ngayKetThuc" name="ngayKetThuc"
                       ng-model="khuyenMai.ngayKetThuc">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Trạng thái: </label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="khuyenMaiTrangThai" name="trangThai"
                           ng-model="khuyenMai.trangThai" ng-true-value="1" ng-false-value="0"
                           ng-init="khuyenMai.trangThai = 1">
                    <label class="form-check-label" for="khuyenMaiTrangThai">Kích hoạt</label>
                </div>
            </div>
        </div>
    </div>
</form>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
        ng-click="loadGiay()">
    Thêm sản phẩm
</button>
<br>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="col-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tên giày"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Tìm</button>
                    </div>
                </div>

                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" ng-model="selectAll" ng-change="selectAllGiay()">
                            </th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="giay in giays">
                            <td><input type="checkbox" ng-model="giay.selected" ng-disabled="giay.disabled"
                                       ng-click="selectAllChanged = true; checkAllSelected()"></td>

                            <td style="display: none;">{{giay.id}}</td>
                            <td>{{giay.lstAnh}} {{giay.ten}}</td>
                            <td class="col-3">
                                {{giay.giaTu == giay.giaDen ? giay.giaTu + 'đ' : giay.giaTu + 'đ' + ' - ' +
                                giay.giaDen + 'đ'}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="xacNhan()">Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

<br>

<div ng-show="selectedGiayTableData.length > 0" class="mb-4">
    <form class="row">
        <div class="col-md-5">
            <div class="form-check">
                <label class="form-check-label" for="autoSizingCheck">
                    Chọn tất cả
                </label>
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input type="text" class="form-control" id="autoSizingInputGroup" ng-model="giamPhanTram">
                <div class="input-group-text">%</div>
            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary" ng-click="thietLapHangLoat()">Thiết lập hàng loạt</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success">Xóa</button>
        </div>
    </form>

    <table class="table table-hover table-striped" ng-repeat="giay in selectedGiayTableData">
        <thead>
        <tr>
            <th scope="col">Tên giày</th>
            <th scope="col">Giá bán</th>
            <th scope="col">% giảm</th>
            <th scope="col">Giá sau giảm</th>
            <th scope="col">Bật/Tắt</th>
            <th scope="col">Thao tác</th>
        </tr>
        <tr>
            <th>
                <input type="checkbox" ng-model="giay.selected">
                {{giay.lstAnh}} {{giay.ten}}
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
                <button class="btn btn-success" ng-click="xoaDong(giay)">Xóa</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bienTheGiay in giay.lstBienTheGiay">
            <td class="col-3">
                <br>
                {{bienTheGiay.mauSac.ten}}, {{bienTheGiay.kichThuoc.ten}}
            </td>
            <td class="col-2">
                {{bienTheGiay.giaBan}}
            </td>
            <td class="col-2">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" ng-model="bienTheGiay.phanTramGiam"
                           aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="0">
                    <span class="input-group-text" id="basic-addon2">%</span>
                </div>
            </td>
            <td class="col-2"
                ng-if="bienTheGiay.phanTramGiam !== null && bienTheGiay.phanTramGiam !== undefined">
                {{bienTheGiay.giaBan - (bienTheGiay.giaBan * bienTheGiay.phanTramGiam / 100)}}
            </td>
            <td class="col-2"
                ng-if="bienTheGiay.phanTramGiam === null || bienTheGiay.phanTramGiam === undefined">
                {{bienTheGiay.giaBan}}
            </td>
            <td class="col-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>