<style>
    #buttons-container {
        display: flex;
    }

    .container {
        margin: 10px;
    }

    .insideDiv {
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        border: 1px solid rgb(180, 180, 180);
    }

    .button_checked {
        transition: 0.3s all;
        border: 1px solid rgb(0, 0, 0) !important;
    }

    #image-container img {
        margin-bottom: 10px;
    }

    .info {
        max-height: 208px;
        overflow: hidden;
    }

    .text-limit {
        max-height: 60px;
        overflow: hidden;
    }

    .toggle-button {
        background: transparent;
        border: none;
        color: blue;
    }

    .card-body {
        padding: 0px;
    }

    .card-header {
        padding: 0px;
    }

    .card-content {
        display: flex;
        margin: 0;
    }

    .left {
        display: flex;
        flex-direction: column;
        width: 1100px;
    }

    #formSanPhamDaMua, #formSanPhamThayThe, #formYeuCau {
        border: 1px solid black; /* Chỉ để trực quan hóa các div */
        padding: 10px;
        margin: 5px;
    }

    #formSanPhamDaMua, #formSanPhamThayThe {
        height: 350px;
    }

    #formYeuCau {
        height: 710px;
    }

    .right {
        /* Điều chỉnh kích thước của DIV 3 nếu cần */
        width: 400px;
        Height: 710px;
    }

</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="container">
    <form name="addYeuCauForm">
        <div class="card-header bg-white">
            <h5 class="card-title p-2 mt-2">
                Yêu Cầu
            </h5>
        </div>

        <div class="card-content">
            <div class="left">

                <div id="formSanPhamDaMua">
                    <div class="box-shadow-page">
                        <div class="card-header bg-white">
                            <h5 class="card-title p-2 mt-2">
                                Sản Phẩm Đã Mua
                            </h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <table class="table align-middle text-center">
                                    <thead>
                                    <tr>
                                        <th>Mã SP</th>
                                        <th>Tên</th>
                                        <th>Số Lượng Trả</th>
                                        <th>Kích Cỡ</th>
                                        <th>Màu Sắc</th>
                                        <th>Đơn Giá</th>
                                        <th>Thao Tác</th>
                                    </tr>
                                    </thead>
                                    <tbody style="max-height: 350px;overflow: auto">
                                    <tr ng-repeat="(index,hoaDonChiTiet) in hoaDon.listHoaDonChiTiet">
                                        <td>SP{{hoaDonChiTiet.bienTheGiay.giayResponse.id}}</td>
                                        <td>{{hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</td>
                                        <td>
                                            <input type="number" ng-model="hoaDonChiTiet.soLuongTra" min="0"
                                                   max="{{hoaDonChiTiet.soLuong}}" ng-change="updateTongTienTra()">
                                            <span>/ {{hoaDonChiTiet.soLuong}}</span>
                                        </td>
                                        <td>{{hoaDonChiTiet.bienTheGiay.kichThuoc.ten}}</td>
                                        <td>{{hoaDonChiTiet.bienTheGiay.mauSac.ten}}</td>
                                        <td>{{ hoaDonChiTiet.donGia | formatToVND }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-lg"
                                                    ng-click="traSanPham(hoaDonChiTiet,index+1);updateTongTienTra()">Trả
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="formSanPhamThayThe">
                    <div class="box-shadow-page">
                        <div class="card-header bg-white">
                            <h5 class="card-title p-2 mt-2">
                                Sản Phẩm Trả
                            </h5>
                        </div>
                        <div class="card-body">
                            <table class="table align-middle text-center" border="1">
                                <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Loại</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Số Lượng Trả/Đổi</th>
                                    <th>Kích Cỡ</th>
                                    <th>Màu Sắc</th>
                                    <th>Đơn Giá</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="item in arrayForRepeat track by $index"
                                       style="max-height: 250px;overflow: auto">
                                <tr>
                                    <td>{{ item.key}}</td>
                                    <td>Giày Trả</td>
                                    <td>{{ item.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten }}</td>
                                    <td>x{{ item.value.hoaDonChiTiet.soLuongTra }}</td>
                                    <td>{{ item.value.hoaDonChiTiet.bienTheGiay.kichThuoc.ten }}</td>
                                    <td>{{ item.value.hoaDonChiTiet.bienTheGiay.mauSac.ten }}</td>
                                    <td>{{ formatToVND(item.value.hoaDonChiTiet.donGia) }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" ng-click="ghiChu_LyDo(item)">Đổi
                                        </button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteGiayTra(item)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-repeat="(index, item1) in arrayForRepeat1 track by $index"
                                    ng-if="item1.key === item.key">
                                    <td>{{ item1.key }}</td>
                                    <td>Giày Đổi</td>
                                    <td>{{ item1.value.bienTheGiay.ten }}</td>
                                    <td>x{{ item1.value.soLuongDoi }}</td>
                                    <td>{{ item1.value.bienTheGiay.kichThuoc.ten }}</td>
                                    <td>{{ item1.value.bienTheGiay.mauSac.ten }}</td>
                                    <td>{{ item1.value.bienTheGiay.giaBan }}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="deleteGiayDoi(item1)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- Modal Điền: Lý Do + Ghi Chú-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Lý Do Đổi Trả</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelect"
                                                    placeholder="Chọn Lý Do Đổi/Trả"
                                                    aria-label="Floating label select example" ng-model="lyDo"
                                                    ng-change="updateMapSanPhamTra(giayTra.key,lyDo,ghiChu)">
                                                <option ng-repeat="lyDo in listLyDo" value="{{lyDo.id}}">{{lyDo.ten}}
                                                </option>
                                            </select>
                                            <label for="floatingSelect">Lý Do</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                        <textarea class="form-control" placeholder="Hãy mô tả chi tiết lý do đổi/trả"
                                                  id="floatingTextarea2" style="height: 100px"
                                                  ng-model="ghiChu"
                                                  ng-blur="updateMapSanPhamTra(giayTra.key,lyDo,ghiChu)"
                                                  ng-keyup="$event.keyCode == 13 && updateMapSanPhamTra(giayTra.key,lyDo,ghiChu)"></textarea>
                                            <label for="floatingTextarea2">Mô Tả Chi Tiết</label></div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay Về</button>
                                <button type="button" class="btn btn-primary"
                                        ng-click="checkFormMoTaLyDo(giayTra.key,lyDo,ghiChu)">Chọn Sản Phẩm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                     aria-labelledby="exampleModalToggleLabel"
                     tabindex="-1">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Giày</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="box-shadow-page">
                                    <div class="card-body">
                                        <div class="d-flex add-search-custom">
                                            <div class="input-group w-60">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-search"></i></span>
                                                <input id="seachText" class="form-control" type="text"
                                                       ng-model="searchText"
                                                       placeholder="Nhập Mã Yêu Cầu">
                                                <button class="btn btn-custom " ng-click="search()">Tìm kiếm</button>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <div class="custom-radio">
                                                <input type="radio" id="all" name="loaiHoaDon" ng-model="loaiHoaDon"
                                                       value="0" ng-checked="loaiHoaDon != 1 && loaiHoaDon != 2"
                                                       ng-change="changeRadio(0)">
                                                <label class="radio-label" for="all">Tất cả</label>
                                            </div>

                                            <div class="custom-radio">
                                                <input type="radio" id="active" name="loaiHoaDon" ng-model="loaiHoaDon"
                                                       value="1" ng-checked="loaiHoaDon == 1"
                                                       ng-change="changeRadio(1)">
                                                <label class="radio-label" for="active">Hóa Đơn Mua</label>
                                            </div>

                                            <div class="custom-radio">
                                                <input type="radio" id="disable" name="loaiHoaDon" ng-model="loaiHoaDon"
                                                       value="2" ng-checked="loaiHoaDon == 2"
                                                       ng-change="changeRadio(2)">
                                                <label class="radio-label" for="disable">Hóa Đơn Đổi</label>
                                            </div>
                                        </div>
                                        <div>
                                            <table class="table align-middle text-center" border="1">
                                                <thead>
                                                <tr>
                                                    <th>Mã Sản Phẩm</th>
                                                    <th>Tên</th>
                                                    <th>Thao Tác</th>
                                                </tr>
                                                </thead>
                                                <tbody style="max-height: 350px;overflow: auto">
                                                <tr ng-repeat="(index,giay) in listGiay">
                                                    <td>SP{{giay.id}}</td>
                                                    <td>{{giay.ten}}</td>
                                                    <td>
                                                        <button class="btn btn-primary"
                                                                data-bs-target="#exampleModalToggle2"
                                                                data-bs-toggle="modal"
                                                                data-bs-dismiss="modal" ng-click="chonGiayDoi(giay)">
                                                            Chọn
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-danger" data-bs-dismiss="modal" aria-label="Close">Quay
                                    Về
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                     aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel2">Biến Thể Gìay</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">


                                <div class="row">
                                    <div id="" class=" col-md-4">
                                        <div id="carouselExampleControls" class="carousel slide"
                                             data-bs-ride="carousel">
                                            <div class="carousel-inner" id="image-container">
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#carouselExampleControls"
                                                    data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                    data-bs-target="#carouselExampleControls"
                                                    data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="side-left">
                                            <div class="title">
                                                <h5>{{giayDetail.ten}} </h5>
                                                <h5>Giá <span id="price-product">{{giayDetail.giaBan}}</span></h5>
                                                <h5>Số lượng : <span id="quantity">{{giayDetail.soLuong}}</span></h5>
                                            </div>
                                            <div id="buttons-container"></div>
                                            <div id="product-info"></div>
                                            <div class="size-selector">
                                                <h2>Kích thước:</h2>
                                                <div id="sizeButtons"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                        data-bs-toggle="modal"
                                        data-bs-dismiss="modal">Quay Về
                                </button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                                        ng-click="giaySelected()">Chọn
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="right">
                <div id="formYeuCau">

                    <div class="form-group">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect1"
                                    placeholder="Chọn Lý Do Đổi/Trả"
                                    aria-label="Floating label select example" name="nguoiThucHien"
                                    ng-model="yeuCau.nguoiThucHien">
                                <option ng-repeat="nhanVien in listNhanVien" value="{{nhanVien.id}}"
                                        ng-selected="nhanVien.id">
                                    {{nhanVien.hoTen}}
                                </option>
                            </select>
                            <label for="floatingSelect1">Nhân Viên</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Trả hàng/: <a style="color: #0c63e4">HD{{hoaDon.id}} - {{hoaDon.nhanVien.ten}}</a></label>
                    </div>

                    <div class="form-group">
                        <label>Tổng tiền mua hàng: {{tongTienHangMua | formatToVND}}</label>
                    </div>

                    <div class="form-group">
                        <label>Tổng tiền hàng trả: {{ tongTienHangTra | formatToVND }}</label>
                    </div>

                    <div class="form-group">
                        <label>Tổng tiền hàng đổi: {{ tongTienHangDoi | formatToVND }}</label>
                    </div>

                    <div class="form-group">
                        <label>Tổng tiền trả khách: {{ tongTienTraKhach | formatToVND }}</label>
                    </div>

                    <div class="form-group">
                        <label>Tổng tiền trả khách: {{ tongTienKhachPhaiTra | formatToVND }}</label>
                    </div>


                    <div class="form-group">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect2"
                                    aria-label="Floating label select example" name="loaiYeuCau"
                                    ng-model="yeuCau.loaiYeuCau">
                                <option value="1">Yêu Cầu Đổi</option>
                                <option value="2">Yêu Cầu Trả</option>
                            </select>
                            <label for="floatingSelect2">Loại Yêu Cầu</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect3"
                                    aria-label="Floating label select example" name="trangThai"
                                    ng-model="yeuCau.trangThai">
                                <option value="1">Chờ Xét Duyệt</option>
                                <option value="2">Đã Xét Duyệt</option>
                                <option value="3">Đã Hoàn Thành</option>
                                <option value="4">Bị Hủy</option>
                            </select>
                            <label for="floatingSelect3">Trạng Thái</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating">
                            <textarea class="form-control"
                                      name="ghiChu" ng-model="yeuCau.ghiChu"
                                      id="floatingTextarea3" style="height: 100px"
                                      ng-model="ghiChu"
                                      ng-change="change(addYeuCauForm.ghiChu)"></textarea>
                            <label for="floatingTextarea3">Ghi Chú</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                    <button type="button" class="btn btn-primary" ng-click="combineMaps()">Hợp Nhât</button>
                </div>
            </div>
        </div>
        <!--            <div>-->
        <!--                &lt;!&ndash; Hình ảnh &ndash;&gt;-->
        <!--                <div class="p-3">-->
        <!--                    <label>Hình ảnh <sup class="text-danger">(cần ít nhất một ảnh)</sup></label>-->
        <!--                    <div class="imageContainer d-flex flex-row">-->

        <!--                        <div class="image m-2">-->
        <!--                            <label class="image-image p2" for="imageInput1">-->
        <!--                                <input type="file" hidden id="imageInput1" accept="image/*"-->
        <!--                                       ng-model="image1"-->
        <!--                                       onchange="angular.element(this).scope().showSelectedImageYeuCau(event, 1)">-->
        <!--                                <div class="imageSquare">-->
        <!--                                    <img class="selectedImage" id="selectedImage1" src=""-->
        <!--                                         alt="Ảnh được chọn">-->
        <!--                                </div>-->
        <!--                                <div class="imageTextContainer" ng-hide="image1">-->
        <!--                            <span class="imageText-icon">-->
        <!--                                <i class="fas fa-image fa-lg"></i>-->
        <!--                            </span>-->
        <!--                                    <small class="imageText">Thêm ảnh(1/5)</small>-->
        <!--                                </div>-->
        <!--                            </label>-->
        <!--                            <div class="remove-icon text-center" ng-show="image1"-->
        <!--                                 ng-click="removeImageYeuCau(1)"><i-->
        <!--                                    class="fas fa-times"></i>-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--                        &lt;!&ndash; image 2                     &ndash;&gt;-->
        <!--                        <div class="image m-2" ng-show="image1">-->
        <!--                            <label class="image-image p2" for="imageInput2">-->
        <!--                                <input type="file" hidden id="imageInput2" accept="image/*"-->
        <!--                                       ng-model="image2"-->
        <!--                                       name="image2"-->
        <!--                                       onchange="angular.element(this).scope().showSelectedImageYeuCau(event, 2)">-->
        <!--                                <div class="imageSquare">-->
        <!--                                    <img class="selectedImage" id="selectedImage2" src=""-->
        <!--                                         alt="Ảnh được chọn">-->
        <!--                                </div>-->
        <!--                                <div class="imageTextContainer" ng-hide="image2">-->
        <!--                            <span class="imageText-icon">-->
        <!--                                <i class="fas fa-image fa-lg"></i>-->
        <!--                            </span>-->
        <!--                                    <small class="imageText">Thêm ảnh(2/5)</small>-->
        <!--                                </div>-->
        <!--                            </label>-->
        <!--                            <div class="remove-icon text-center" ng-show="image2"-->
        <!--                                 ng-click="removeImageYeuCau(2)"><i-->
        <!--                                    class="fas fa-times"></i>-->
        <!--                            </div>-->
        <!--                        </div>-->


        <!--                        &lt;!&ndash; image 3                     &ndash;&gt;-->
        <!--                        <div class="image m-2" ng-show="image2">-->
        <!--                            <label class="image-image p2" for="imageInput3">-->
        <!--                                <input type="file" hidden id="imageInput3" accept="image/*"-->
        <!--                                       ng-model="image3"-->
        <!--                                       name="image3"-->
        <!--                                       onchange="angular.element(this).scope().showSelectedImageYeuCau(event, 3)">-->
        <!--                                <div class="imageSquare">-->
        <!--                                    <img class="selectedImage" id="selectedImage3" src=""-->
        <!--                                         alt="Ảnh được chọn">-->
        <!--                                </div>-->
        <!--                                <div class="imageTextContainer" ng-hide="image3">-->
        <!--                            <span class="imageText-icon">-->
        <!--                                <i class="fas fa-image fa-lg"></i>-->
        <!--                            </span>-->
        <!--                                    <small class="imageText">Thêm ảnh(3/5)</small>-->
        <!--                                </div>-->
        <!--                            </label>-->
        <!--                            <div class="remove-icon text-center" ng-show="image3"-->
        <!--                                 ng-click="removeImageYeuCau(3)"><i-->
        <!--                                    class="fas fa-times"></i>-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--                        &lt;!&ndash; image 4                     &ndash;&gt;-->
        <!--                        <div class="image m-2" ng-show="image3">-->
        <!--                            <label class="image-image p2" for="imageInput4">-->
        <!--                                <input type="file" hidden id="imageInput4" accept="image/*"-->
        <!--                                       ng-model="image4"-->
        <!--                                       onchange="angular.element(this).scope().showSelectedImageYeuCau(event, 4)">-->
        <!--                                <div class="imageSquare">-->
        <!--                                    <img class="selectedImage" id="selectedImage4" src=""-->
        <!--                                         alt="Ảnh được chọn">-->
        <!--                                </div>-->
        <!--                                <div class="imageTextContainer" ng-hide="image4">-->
        <!--                            <span class="imageText-icon">-->
        <!--                                <i class="fas fa-image fa-lg"></i>-->
        <!--                            </span>-->
        <!--                                    <small class="imageText">Thêm ảnh(4/5)</small>-->
        <!--                                </div>-->
        <!--                            </label>-->
        <!--                            <div class="remove-icon text-center" ng-show="image4"-->
        <!--                                 ng-click="removeImageYeuCau(4)"><i-->
        <!--                                    class="fas fa-times"></i>-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--                        &lt;!&ndash; image 5                     &ndash;&gt;-->
        <!--                        <div class="image m-2" ng-show="image4">-->
        <!--                            <label class="image-image p2" for="imageInput5">-->
        <!--                                <input type="file" hidden id="imageInput5" accept="image/*"-->
        <!--                                       ng-model="image5"-->
        <!--                                       onchange="angular.element(this).scope().showSelectedImageYeuCau(event, 5)">-->
        <!--                                <div class="imageSquare">-->
        <!--                                    <img class="selectedImage" id="selectedImage5" src=""-->
        <!--                                         alt="Ảnh được chọn">-->
        <!--                                </div>-->
        <!--                                <div class="imageTextContainer" ng-hide="image5">-->
        <!--                            <span class="imageText-icon">-->
        <!--                                <i class="fas fa-image fa-lg"></i>-->
        <!--                            </span>-->
        <!--                                    <small class="imageText">Thêm ảnh(5/5)</small>-->
        <!--                                </div>-->
        <!--                            </label>-->
        <!--                            <div class="remove-icon text-center" ng-show="image5"-->
        <!--                                 ng-click="removeImageYeuCau(5)"><i-->
        <!--                                    class="fas fa-times"></i>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div><small class="text-danger" ng-show="errors.anh">Phải chọn ít nhất một ảnh</small></div>-->
        <!--                </div>-->
        <!--            </div>-->
    </form>
</div>
