
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="box-shadow-page" style="border-radius: 10px 10px 0px 0px">
    <div class="row" style="height: 760px; margin-left: 1px; margin-right: 10px">
        <div class="col-md-12 position-relative" style="height: 100%">
            <div style="position: sticky;top: 0; height: 100%">
                <div class="card" style="height: 15%; border-radius: 10px 10px 0px 0px">
                    <div class="card-header" style="background-color: #222222">
                        <label class="fw-medium" style="color: white">Danh Sách Yêu Cầu</label>
                    </div>
                    <div class="card-body">
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" ng-show="typeSearch == 1"><i class="fas fa-search"></i></span>
                                            <span class="input-group-text" id="basic-addon2" ng-show="typeSearch == 2"><i class="fas fa-user-tie"></i> </span>
                                            <span class="input-group-text" id="basic-addon3" ng-show="typeSearch == 3"><i class="fas fa-user"></i></span>
                                            <span class="input-group-text" id="basic-addon4" ng-show="typeSearch == 4"><i class="fas fa-phone"></i></span>
                                            <span class="input-group-text" id="basic-addon5" ng-show="typeSearch == 5"><i class="fas fa-at"></i></span>
                                            <select class="form-select" aria-label="Default select example" ng-model="typeSearch">
                                                <option value="1" selected>ID</option>
                                                <option value="2">Nhân Viên</option>
                                                <option value="3">Khách Hàng</option>
                                                <option value="4">SĐT</option>
                                                <option value="5">Gmail</option>
                                            </select>
                                            <input type="text" class="form-control" placeholder="Nhập từ khóa" ng-model="textSearch">
                                            <button class="btn btn-custom" ng-click="searchYeuCau()">Tìm kiếm</button>
                                            <button class="btn btn-custom" ng-click="resetTextSearch()">Nhập Lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                            </div>

                            <div class="col-md-4">
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                    <i class="fas fa-plus px-2 small"></i> Thêm Lý Do
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="height: 85%;border-radius: 0px 0px 10px 10px">
                    <div class="card-body" style="overflow-y: auto">

                        <div class="d-flex justify-content-start">
                            <div class="custom-radio">
                                <input type="radio" id="all" name="trangThai" ng-model="trangThai" value="null"
                                       ng-checked="trangThai != 0 && trangThai != 1 && trangThai != 2 && trangThai != 3"
                                       ng-change="changeRadioYeuCau()">
                                <label class="radio-label" for="all">Tất cả</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" id="choXacNhan" name="trangThai" ng-model="trangThai" value="1"
                                       ng-checked="trangThai == 1" ng-change="changeRadioYeuCau()">
                                <label class="radio-label" for="choXacNhan">Chờ Xác Nhận</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" id="daXacNhan" name="trangThai" ng-model="trangThai" value="2"
                                       ng-checked="trangThai == 2" ng-change="changeRadioYeuCau()">
                                <label class="radio-label" for="daXacNhan">Đã Xác Nhận</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" id="hoanThanh" name="trangThai" ng-model="trangThai" value="3"
                                       ng-checked="trangThai == 3" ng-change="changeRadioYeuCau()">
                                <label class="radio-label" for="hoanThanh">Hoàn Thành</label>
                            </div>

                            <div class="custom-radio">
                                <input type="radio" id="biHuy" name="trangThai" ng-model="trangThai" value="0"
                                       ng-checked="trangThai == 0" ng-change="changeRadioYeuCau()">
                                <label class="radio-label" for="biHuy">Đã Bị Hủy</label>
                            </div>

                        </div>

                        <div class="change-product-table table-responsive">
                            <table class="table table-hover align-middle table-borderless text-center mw-100 fixed-header"
                                   border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã</th>
                                    <th>Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>SĐT</th>
                                    <th>Nhân Viên</th>
                                    <th>Ngày Tạo</th>
                                    <th>Ngày Sửa</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="(index,yeuCau) in listYeuCau">
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>YC{{yeuCau.id}}</td>
                                    <td><a>{{yeuCau.hoaDon.loaiHoaDon == 1? "HD" : "HD_HDD"}}{{yeuCau.hoaDon.id}}</a>
                                    </td>
                                    <td>{{ yeuCau.hoaDon.khachHang.hoTen}}</td>
                                    <td>{{ yeuCau.hoaDon.khachHang.soDienThoai}}</td>
                                    <td>{{ yeuCau.hoaDon.nhanVien.hoTen}}</td>
                                    <td>{{ yeuCau.ngayTao | formatDate}}</td>
                                    <td>{{ yeuCau.ngaySua | formatDate}}</td>
                                    <td>
                                        <span class="badge rounded-pill text-bg-warning" style="background-color: black"
                                              ng-show="yeuCau.trangThai == 1">Chờ Xác Nhận</span>
                                        <span class="badge rounded-pill text-bg-success"
                                              style="background-color: #fcad03" ng-show="yeuCau.trangThai == 2">Đã Xác Nhận</span>
                                        <span class="badge rounded-pill text-bg-success"
                                              style="background-color: #03a106" ng-show="yeuCau.trangThai == 3">Hoàn Thành</span>
                                        <span class="badge rounded-pill text-bg-danger"
                                              style="background-color: #bf0606"
                                              ng-show="yeuCau.trangThai == 0">Bị Hủy</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info">
                                            <a ng-href="#/update/{{yeuCau.id}}">Chi Tiết</a>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                                 data-current-page="curPage"
                                 data-max-size="maxSize"
                                 data-boundary-links="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Danh Sách Lý Do -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: white"> Danh Sách Lý Do</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" style="height: 50%;border-radius: 0px 0px 10px 10px">
                        <div class="card-body" style="overflow-y: auto">
                            <div class="change-product-table table-responsive">
                                <table class="table table-hover align-middle table-borderless text-center mw-100 fixed-header"
                                       border="1">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>MÃ</th>
                                        <th>Tên Lý Do</th>
                                        <th>Trạng Thái</th>
                                        <th>Chi Tiết</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(index,lyDo) in listLyDo">
                                    <tr>
                                        <td>{{index+1}}</td>
                                        <td>LD{{lyDo.id}}</td>
                                        <td>{{lyDo.ten}}</td>
                                        <td>
                                            <span class="badge text-bg-success" style="background-color: #019136"
                                                  ng-show="lyDo.trangThai == 1">Đang Hoạt Động</span>
                                            <span class="badge text-bg-success" style="background-color: #b80000"
                                                  ng-show="lyDo.trangThai == 2">Ngừng Hoạt Động</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop2" ng-click="detailLyDo(lyDo)"><i
                                                    class="fas fa-info"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="fas fa-chevron-left"></i> Trở Về </button>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop3"><i class="fas fa-plus"></i> Thêm Mới
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Detail Lý Do-->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel2" style="color: white">Chi Tiết Lý Do</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput2" value="lyDo.ten"
                               ng-model="lyDo.ten">
                        <label for="floatingInput2">Tên Lý Do:</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                               id="flexSwitchCheckChecked{{lyDo.id}}" ng-checked="lyDo.trangThai == 1" ng-true-value="1"
                               ng-false-value="2" ng-model="lyDo.trangThai">
                        <label class="form-check-label" for="flexSwitchCheckChecked{{lyDo.id}}">{{lyDo.trangThai == 1?
                            "Đang Hoạt Động" : "Ngừng Hoạt Động"}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="fas fa-chevron-left"></i> Trở Về</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-click="updateLyDo()"><i class="fas fa-save"></i> Lưu</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-click="deletelyDo()"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Thêm Mới Lý Do-->
    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: black">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel3" style="color: white">Thêm Mới - Lý Do</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput3" ng-model="lyDo.ten">
                        <label for="floatingInput2">Tên Lý Do:</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                               ng-true-value="1" ng-false-value="2" ng-model="lyDo.trangThai">
                        <label class="form-check-label" for="flexSwitchCheckChecked">{{lyDo.trangThai == 1? "Đang Hoạt
                            Động" : "Ngừng Hoạt Động"}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="fas fa-chevron-left"></i> Trở Về</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-click="addLyDo()"><i
                            class="fas fa-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>











