
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="title-page">
    <div class="card-header bg-white">
        <h5 class="card-title p-2 mt-2">
            Phiếu giảm giá
        </h5>
    </div>
</div>

<div class="box-shadow-page" style="margin: 20px">
    <div class="card-body">

        <div class="d-flex flex-column flex-md-row add-search-custom">
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input id="seachText" class="form-control" type="text" ng-model="searchTextYeuCau" placeholder="Nhập Mã Yêu Cầu">
                    <button class="btn btn-custom" ng-click="searchYeuCau()">Tìm kiếm</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-text">Ngày Bắt Đầu/Ngày Kết Thúc:</span>
                    <input type="date" class="form-control" id="ngayBatDau" name="ngayBatDau">
                    <input type="date" class="form-control" id="ngayKetThuc" name="ngayKetThuc">
                </div>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary" href="#/hoa-don"><i class="fas fa-plus px-2 small"></i>Thêm yêu cầu</a>
            </div>
        </div>

        <div class="d-flex justify-content-start">
            <div class="custom-radio">
                <input type="radio" id="all" name="trangThai" ng-model="trangThai" value="0"
                       ng-checked="trangThai != 1 && trangThai != 2" ng-change="changeRadioYeuCau(null)">
                <label class="radio-label" for="all">Tất cả</label>
            </div>

            <div class="custom-radio">
                <input type="radio" id="active" name="trangThai" ng-model="trangThai" value="1"
                       ng-checked="trangThai == 1" ng-change="changeRadioYeuCau(1)">
                <label class="radio-label" for="active">Chưa Xét Duyệt</label>
            </div>

            <div class="custom-radio">
                <input type="radio" id="disable" name="trangThai" ng-model="trangThai" value="2"
                       ng-checked="trangThai == 2" ng-change="changeRadioYeuCau(2)">
                <label class="radio-label" for="disable">Đã Bị Hủy</label>
            </div>
        </div>

        <div>
            <table class="table align-middle text-center" border="1">
                <tr>
                    <th>ID</th>
                    <th>Hóa Đơn</th>
                    <th>Khách Hàng</th>
                    <th>Nhân Viên</th>
                    <th>Ngày Tạo</th>
                    <th>Ngày Sửa</th>
                    <th>Trạng Thái</th>
                    <th>Ghi Chú</th>
                    <th>Thao Tác</th>
                </tr>

                <tr ng-repeat="yeuCau in listYeuCau">
                    <td>{{yeuCau.id}}</td>
                    <td><a>{{yeuCau.hoaDon.loaiHoaDon == 1? "HD" : "HD_HDD"}}{{yeuCau.hoaDon.id}}</a></td>
                    <td>{{ yeuCau.hoaDon.khachHang.hoTen}}</td>
                    <td>{{ yeuCau.hoaDon.nhanVien.hoTen}}</td>
                    <td>{{ yeuCau.ngayTao | formatDate}}</td>
                    <td>{{ yeuCau.ngaySua | formatDate}}</td>
                    <td>
                        <span ng-class="{
                            'trang-thai-cho-xet-duyet': yeuCau.trangThai == 1,
                            'trang-thai-da-xet-duyet': yeuCau.trangThai == 2,
                            'trang-thai-da-hoan-thanh': yeuCau.trangThai == 3,
                            'trang-thai-bi-huy': yeuCau.trangThai == 4}">
                            {{yeuCau.trangThai == 1 ? 'Chờ Xét Duyệt' : yeuCau.trangThai == 2 ? 'Đã Xét Duyệt' : yeuCau.trangThai == 3 ? 'Đã Hoàn Thành' : 'Bị Hủy'}}
                        </span>
                    </td>
                    <td>{{yeuCau.ghiChu}}</td>
                    <td>
                        <button type="button" class="btn btn-info">
                            <a ng-href="#/update/{{yeuCau.id}}">Chi Tiết</a>
                        </button>
                    </td>
                </tr>
            </table>

            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>

        </div>
    </div>
</div>











