<style>
    .custom-input {
        height: auto; /* Đặt chiều cao tự động để phù hợp với nội dung */
        padding: 4px 10px; /* Điều chỉnh đệm để tạo khoảng cách vừa phải */
        font-size: 14px; /* Cỡ chữ phù hợp */
        line-height: 1.5; /* Khoảng cách dòng */
        border-radius: 5px; /* Bo góc cho input */
        border: 1px solid #ced4da; /* Màu viền */
    }

    /* Tùy chỉnh cho trạng thái focus */
    .custom-input:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .form-text.text-muted {
        color: red; /* Màu xám */
        font-size: 0.8em; /* Kích thước nhỏ */
    }

    .custom-badge {
        background-color: #343a40; /* Màu nền tối */
        color: #fff; /* Màu chữ trắng */
        border: 1px solid #fff; /* Viền màu trắng */
        padding: 5px 10px; /* Padding xung quanh văn bản */
        border-radius: 5px; /* Bo tròn góc */
    }

    #buttons-container {
        display: flex;
    }


    .form-with-scroll {
        margin: 2px;
        max-height: 700px; /* Hoặc chiều cao tùy chỉnh */
        overflow-y: auto;
        overflow-x: hidden;
    }

    #buttons-container {
        display: flex;
    }

    .insideDiv {
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        border-radius: 7px;
    }

    .button_checked {
        transition: 0.3s all;
        border: 1px solid rgb(0, 0, 0) !important;
        border-radius: 7px;
    }

    #image-container img {
        margin-bottom: 10px;
    }

    .text-limit {
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .toggle-button {
        background: transparent;
        border: none;
        color: blue;
    }

    .labelTabDelete {
        cursor: pointer;
    }

    .labelTabDelete:hover {
        color: red;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        font-weight: bolder;
        background-color: #fff;
        border-color: #1d1e1e #dee2e6 #fff;
        border-top: 1.5px solid #1d1e1e;
    }

    .item {
        margin-top: 13px;
        border-bottom: 1px solid #dbdbdb;
    }

    .item div {
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    .item h5 {
        font-weight: bold;
    }

    .item p {
        color: black;
        font-size: 14px;
    }

    .btn-size {
        padding: 10px 20px;
    }

    .show-text p {
        max-height: 100px !important;
        transition: 0.3s ease-in-out;
    }

    .show-text i {
        transition: 0.3s ease-in-out;
        transform: rotate(180deg);
    }

    .i-button {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }

    .long-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-responsive thead th {
        position: sticky;
        top: 0;
        background: white; /* Đặt nền màu trắng hoặc màu nền phù hợp */
        z-index: 10; /* Đảm bảo tiêu đề hiển thị trên cùng */
    }


    .table td {
        padding: 5px; /* Giảm padding, bạn có thể điều chỉnh giá trị này */
        font-size: 14px; /* Hoặc kích thước phù hợp với thiết kế của bạn */
    }

    .table tr {
        height: 50px; /* Hoặc độ cao khác phù hợp với thiết kế của bạn */
    }

    .table td img {
        height: 40px; /* Giảm chiều cao của hình ảnh */
        width: auto; /* Giữ tỉ lệ hình ảnh */
    }

    .custom-dropbtn {
        color: black;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        background: white;
        font-weight: bold;
    }
    .required {
        color: red;
    }
</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div style="background-color: #EEEEEE;">
    <div class="row" style="height: 50px; margin-bottom: 10px">
        <div class="col-md-9"></div>
        <div class="col-md-3" style="margin-top: 5px">
            <button type="button" class="btn btn-info"><i class="fas fa-shopping-bag"></i></button>
            <button type="button" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
    <div class="row" style="height: 800px; margin-left: 1px; margin-right: 10px">
        <div class="col-md-9 position-relative" style="height: 100%">
            <div style="position: sticky;top: 0; height: 100%">
                <div class="card" style="height: 50%; border-radius: 10px 10px 0px 0px">
                    <div class="card-header" style="border-radius: 10px 10px 0px 0px; background-color: #222222">
                        <label class="fw-medium" style="color: white">Sản Phẩm Đã Mua</label>
                    </div>
                    <div class="card-body">
                        <div class="return-product-table table-responsive">
                            <table class="table table-hover align-middle table-borderless text-center mw-100"
                                   border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Sản Phẩm</th>
                                    <th>Số Lượng Trả</th>
                                    <th>Hình Ảnh</th>
                                    <th>Đơn Gía</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="(index,hoaDonChiTiet) in listHoaDonChiTiet">
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>SP{{hoaDonChiTiet.bienTheGiay.id}}</td>
                                    <td class="long-text">{{hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</td>
                                    <td><input type="number" class="custom-input" min="0"
                                               max="{{hoaDonChiTiet.soLuongDuocTra}}"
                                               ng-init="hoaDonChiTiet.soLuongTra = 0"
                                               ng-model="hoaDonChiTiet.soLuongTra"> / {{hoaDonChiTiet.soLuongDuocTra}}
                                    </td>
                                    <td>
                                        <img ng-src="{{'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh sản phẩm" height="50" width="50" style="border-radius: 5px;">
                                    </td>
                                    <td>{{hoaDonChiTiet.bienTheGiay.giaBan | formatToVND}}</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary"
                                                ng-click="traHang(index+1,hoaDonChiTiet)">Trả Hàng <i
                                                class="fas fa-exchange-alt"></i></button>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card" style="height: 50%;border-radius: 0px 0px 10px 10px">
                    <div class="card-header" style="background-color: #222222">
                        <label class="fw-medium" style="color: white">Sản Phẩm Đã Mua</label>
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <div class="change-product-table table-responsive">
                            <table class="table table-hover align-middle table-borderless text-center mw-100 fixed-header"
                                   border="1">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Key</th>
                                    <th>Loại</th>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Sản Phẩm</th>
                                    <th>Số Lượng Trả</th>
                                    <th>Hình Ảnh</th>
                                    <th>Đơn Gía</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="(stt,sanPhamTra) in listSanPhamTra track by $index">
                                <tr>
                                    <td>{{stt+1}}</td>
                                    <td>{{sanPhamTra.key}}</td>
                                    <td><span class="badge custom-badge">Sản Phẩm Trả</span></td>
                                    <td>SP{{sanPhamTra.value.hoaDonChiTiet.bienTheGiay.id}}</td>
                                    <td class="long-text">
                                        {{sanPhamTra.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten}}
                                    </td>
                                    <td>x1</td>
                                    <td>
                                        <img ng-src="{{'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh sản phẩm" height="50" width="50" style="border-radius: 5px;">
                                    </td>
                                    <td>{{sanPhamTra.value.hoaDonChiTiet.bienTheGiay.giaBan | formatToVND}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" ng-click="addLyDoView(sanPhamTra)">Lý Do
                                        </button>
                                        <button type="button" class="btn btn-light"
                                                ng-click="deleteGiayTra(sanPhamTra)"><i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-repeat="sanPhamDoi in listSanPhamDoi" ng-if="sanPhamTra.key === sanPhamDoi.key">
                                    <td></td>
                                    <td>{{sanPhamDoi.key}}</td>
                                    <td><span class="badge custom-badge">Sản Phẩm Đổi</span></td>
                                    <td>SP{{sanPhamDoi.value.bienTheGiay.id}}</td>
                                    <td class="long-text">{{sanPhamDoi.value.bienTheGiay.giayResponse.ten}}</td>
                                    <td>x1</td>
                                    <td>
                                        <img ng-src="{{'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh sản phẩm" height="50" width="50" style="border-radius: 5px;">
                                    </td>
                                    <td>
                                        <span ng-show="sanPhamDoi.value.bienTheGiay.khuyenMai">
                                            <del>{{sanPhamDoi.value.bienTheGiay.giaBan  | formatToVND }}</del>
                                        <span class="position-relative">
                                            {{(sanPhamDoi.value.bienTheGiay.giaBan - (sanPhamDoi.value.bienTheGiay.giaBan * sanPhamDoi.value.bienTheGiay.khuyenMai / 100))| formatToVND }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{sanPhamDoi.value.bienTheGiay.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!sanPhamDoi.value.bienTheGiay.khuyenMai">
                                            {{ sanPhamDoi.value.bienTheGiay.giaBan | formatToVND}}
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning" data-bs-target="#exampleModalToggle"
                                                data-bs-toggle="modal"><i class="fas fa-undo"></i></button>
                                        <button type="button" class="btn btn-light"
                                                ng-click="deleteGiayDoi(sanPhamDoi)"><i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="height: 100%; border-radius: 10px; background-color: white">
            <div class="thongTinChiTiet" style=" height: 100%">
                <form class="form-with-scroll" ng-submit="taoYeuCau()" style="margin: 2px; height: 700px;">
                    <div class="thongTinKhachHang" style="padding-top: 20px">
                        <div class="row">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <div class="form-floating" style="width: 90%">
                                    <input type="text" class="form-control" id="floatingInputGrid"
                                           placeholder="name@example.com" value="{{hoaDon.khachHang.hoTen}}" disabled>
                                    <label for="floatingInputGrid">Khách Hàng</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="thongTinTraHang">'
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold"
                                       style="margin: 2px; font-size: x-large; color: lightgreen;">Trả Hàng /
                                </label>
                                <span class="badge text-bg-dark" style="background-color: black" ng-show="hoaDon.id">{{hoaDon.loaiHoaDon == 1 ? "HD" : hoaDon.loaiHoaDon == 2 ? "HD_HDD" : "HD_HDT"}}{{hoaDon.id}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tổng tiền mua hàng:</label>
                                <strong ng-show="hoaDon.tongTienKhachThanhToan > 0" class="fw-medium">{{hoaDon.tongTienKhachThanhToan
                                    | formatToVND}} </strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tổng tiền trả hàng:</label>
                                <strong class="fw-medium">{{tongTienTraHang | formatToVND}} </strong>
                            </div>
                        </div>

                        <div class="row" ng-show="mapSanPhamThayThe.size <= 0">
                            <div class="mb-3">
                                <label class="form-label fw-bold" style="font-size: large">Tổng tiền hoàn:</label>
                                <strong class="fw-medium">{{tongTienTraHang | formatToVND}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="thongTinDoiHang" ng-show="mapSanPhamThayThe.size > 0">
                        <hr>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label fw-bold"
                                       style="margin: 2px; font-size: x-large; color: lightgreen;">Đổi Hàng /</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tiền hàng:</label>
                                <strong class="fw-medium">{{tongTienHangDoi | formatToVND}} </strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Giảm giá:</label>
                                <strong class="fw-medium">{{tongTienGiamGia | formatToVND}}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tổng tiền đổi hàng:</label>
                                <strong class="fw-medium">{{tongTienDoiHang | formatToVND}}</strong>
                            </div>
                        </div>

                        <div class="row" ng-show="(tongTienDoiHang - tongTienTraHang) > 0">
                            <div class="mb-3">
                                <label class="form-label fw-bold" style="font-size: large">Tổng tiền thanh toán:</label>
                                <strong class="fw-medium">{{tongTienThanhToan | formatToVND}}</strong>
                            </div>
                        </div>

                        <div class="row" ng-show="(tongTienDoiHang - tongTienTraHang) < 0">
                            <div class="mb-3">
                                <label class="form-label fw-bold" style="font-size: large">Tổng tiền hoàn:</label>
                                <strong class="fw-medium">{{tongTienThanhToan | formatToVND}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="thongTinNhanHang">
                        <hr>

                        <p class="d-inline-flex gap-1">
                            <button class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">
                                <span>Thông tin nhận hàng</span><i class="fas fa-chevron-down"></i>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="tenNguoiNhan" class="form-label">Tên người nhận:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="tenNguoiNhan"
                                                   aria-describedby="basic-addon5" ng-model="thongTinNhanHang.tenNguoiNhan">
                                        </div>
                                        <div class="form-text" id="basic-addon5" ng-show="!tenNguoiNhan"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="basic-url1" class="form-label">Địa chỉ nhận:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="basic-url1"
                                                   aria-describedby="basic-addon1 basic-addon2" ng-model="thongTinNhanHang.diaChiNhan" disabled>
                                            <span class="input-group-text" id="basic-addon1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                  type="button" ng-click="changeProvince()" >Thay Đổi</span>
                                        </div>
                                        <div class="form-text" id="basic-addon2" ng-show="!diaChiNhan"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="soDienThoaiNhan" class="form-label">Số điện thoại nhận:</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3">+84</span>
                                            <input type="text" class="form-control" id="soDienThoaiNhan"
                                                   aria-describedby="basic-addon3 basic-addon4"
                                                   ng-model="thongTinNhanHang.soDienThoaiNhan">
                                        </div>
                                        <div class="form-text" id="basic-addon4" ng-show="!soDienThoaiNhan"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
                <div style="height: 100px; text-align: center;padding-top: 10px;">
                    <button type="button" ng-click="addYeuCau()" class="btn btn-outline-dark"
                            style="width: 90%;height: 60%;margin: 20px">Xác nhận
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: black">
            <div class="col-md-9">
                <div class="row" style="max-height: 50px; padding-top: 7px">
                    <div class="input-group mb-3" style="width: 100%">
                        <input type="text" class="form-control" placeholder="Ghi chú" aria-describedby="basic-addon1" style="border-radius: 20px 20px 20px 20px" ng-model="yeuCau.ghiChu">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- Modal chọn lý do-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Lý Do Đổi Trả</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <small class="form-text text-muted">(*bắt buộc)</small>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                                ng-model="selectedLyDo" ng-options="lyDo.id as lyDo.ten for lyDo in listLyDo">
                        </select>
                        <label for="floatingSelect">Lý Do</label>
                    </div>
                    <br>
                    <small class="form-text text-muted">(*bắt buộc)</small>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Mô tả chi tiết lý do đổi trả."
                                  id="floatingTextarea2" style="height: 100px" ng-model="ghiChu"></textarea>
                        <label for="floatingTextarea2">Mô tả</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay về</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            ng-click="addLyDo(selectedLyDo, ghiChu)">Lưu <i class="fas fa-save"></i></button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                            ng-disabled="!selectedLyDo || !ghiChu" ng-click="addLyDo(selectedLyDo, ghiChu)">Đổi
                        <i class="fas fa-undo-alt"></i></button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal chọn giày-->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Danh Sách Giày</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="mb-3">
                            <p class="font-size-13-ncl">Trang Chủ / Yêu Cầu / Danh Sách Giày</p>
                        </div>
                        <div>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Tất Cả</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 sticky-top" style="align-self: flex-start;height: auto;">
                            <div class="d-flex" style="flex-wrap: wrap-reverse;">
                                <div class="" ng-repeat="searchChooes in lstSearchChoosed">
                                    <div class="label-search">{{searchChooes.selectedValue}} <i
                                            class="fas ps-1 fa-times"></i></div>
                                </div>
                            </div>

                            <div class="search-price"></div>

                            <div class="search-price"></div>

                            <div class="row">
                                <div ng-repeat="dropdown in dropdowns" class="custom-dropdown"
                                     style="padding-top: 3px;">

                                    <button style="border-top: 1px solid #ebe9e9;"
                                            class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                                            ng-click="toggleDropdown($index)"><span>{{ dropdown.ten }}</span> <i
                                            class="fas fa-chevron-down" ng-class="{ 'rotate': dropdown.isOpen }"></i>
                                    </button>

                                    <div class="custom-dropdown-content"
                                         ng-class="{ 'show': dropdown.isOpen,'d-flex pd-left-10 flex-wrap': (dropdown.ten === 'Kích Cỡ' && dropdown.isOpen) || (dropdown.ten === 'Màu Sắc' && dropdown.isOpen)}">
                                        <!-- Các phần tử trong dropdown -->
                                        <div class="form-check p-0" ng-repeat="value in dropdown.listValue">
                                            <input ng-class="{ 'd-none': dropdown.ten === 'Kích Cỡ' || dropdown.ten === 'Màu Sắc' }"
                                                   ng-change="changeSearch()" class="form-check-input"
                                                   style="margin-left: 10px;" type="checkbox" ng-model="value.selected"
                                                   id="{{ 'checkbox_' + $parent.$index + '_' + $index }}">
                                            <label ng-class="{ 'checkbox-label': dropdown.ten === 'Kích Cỡ' ,
                                                    'checkbox-label-mau-sac': dropdown.ten === 'Màu Sắc'}"
                                                   class="form-check-label ps-2"
                                                   for="{{ 'checkbox_' + $parent.$index + '_' + $index }}"
                                                   ng-style="dropdown.ten === 'Màu Sắc' && {'background-color': value.name}"
                                                   ng-bind="dropdown.ten !== 'Màu Sắc' ? value.name : ''"
                                            >
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row mb-3">
                                <div class="col-md-3 mb-3" ng-repeat="giay in listGiay"
                                     ng-click="getOneBienTheGiay(giay)"
                                     data-bs-dismiss="modal" data-bs-target="#exampleModalToggle2"
                                     data-bs-toggle="modal">
                                    <div class=" position-relative">
                                        <div class="mb-2">
                                            <img src="https://product.hstatic.net/1000361048/product/dz0482_001_a_d718733fb6d344febec840aee172ca23_master.jpg"
                                                 width="100%" alt="">
                                        </div>
                                        <div class="product-name">
                                            <h5 class="font-size-14-ncl fw-bold" title="{{giay.ten}}">{{giay.ten}}</h5>
                                        </div>
                                        <div class="product-price">
                                            <div class="d-flex align-items-center">
                                                <p class="font-size-14-ncl text-danger m-0">
                                                    {{ '₫' + (giay.giaThapNhat | number) + (giay.giaThapNhat !==
                                                    giay.giaLonNhat ? '
                                                    - ₫' + (giay.giaLonNhat | number) : '') }}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="product-variant">
                                            <p class="font-size-14-ncl">{{giay.lstMauSac.length }} Màu </p>
                                        </div>
                                        <div class="position-absolute top-0 right-0">
                                            <p class="font-size-14-ncl fw-bold"><span
                                                    style="    padding: 10px;font-size: 13px;color: red;"
                                                    class="">-36%</span></p>
                                        </div>
                                        <div class="position-absolute " style="color: black;right: 8px;top: 3px;">
                                            <i class="far fa-heart" style="font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                                     data-current-page="curPage"
                                     data-max-size="maxSize"
                                     data-boundary-links="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở Về</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Chi Tiết Giày</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="" class=" col-md-5">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner" id="image-container">
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="side-left">
                                <div class="title">
                                    <h5 class="py-3 fw-bold border-bottom-1">{{giayDetail.ten}} </h5>
                                    <h5 class="py-2 text-danger fw-bold">
                                <span id="price-product" class="py-3">

                                <span ng-show="!giayDetail.giaBan">
                                    {{ '₫' + (giaySeletect.giaThapNhat | number) + (giaySeletect.giaThapNhat !== giaySeletect.giaLonNhat ? '- ₫' + (giaySeletect.giaLonNhat | number) : '') }}
                                </span>
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan  | number:0 }}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}₫
                                        </span>
                                    </span>
                                    </h5>
                                    <h5 class="font-size-16-ncl fw-bold">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span>
                                    </h5>
                                </div>
                                <h5 class="font-size-16-ncl fw-bold py-3">Màu Sắc:</h5>
                                <div id="buttons-container"></div>
                                <div id="product-info"></div>
                                <div class="size-selector">
                                    <h5 class="font-size-16-ncl fw-bold py-3">Kích Thước:</h5>
                                    <div id="sizeButtons"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal">Trở Về
                    </button>
                    <button class="btn btn-success" data-bs-dismiss="modal" ng-click="selectedGiayDoi()"
                            ng-disabled="!giayChoosed.mauSac.id && !giayChoosed.kichThuoc.id">Đổi <i
                            class="fas fa-undo-alt"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Địa Chỉ modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Địa Chỉ</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputEnd" ng-model="thongTinNhanHang.diaChiNhan" disabled>
                            <label for="floatingInputEnd">Địa giao hiện tại:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect1" aria-label="Floating label select example" name="provinces" ng-model="diaChiNhanHangMoi.provinces" ng-options="province.ten  for province in provinces" ng-change="changeDistrict()" ></select>
                                <label for="floatingSelect1">Tỉnh/Thành Phố<span class="required">(*)</span>:</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect2" aria-label="Floating label select example" name="districts" ng-model="diaChiNhanHangMoi.districts" ng-options="district.ten for district in districts" ng-change="changeWards()" ></select>
                                <label for="floatingSelect2">Quận/Huyện<span class="required">(*)</span>:</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect3" aria-label="Floating label select example" name="wards"  ng-model="diaChiNhanHangMoi.wards" ng-options="ward.ten for ward in wards" ></select>
                                <label for="floatingSelect3">Phường/Xã<span class="required">(*)</span>:</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="addDress" name="addDress"  ng-model="diaChiNhanHangMoi.addDress">
                                <label for="addDress">Chi Tiết<span class="required">(*)</span>:</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở về</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-disabled="checkAddDress()" ng-click="saveDiaChi()">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>