<style>
    .text-wrap-none {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sanPhamDoi:last-child {
        border-left: 1px solid #ccc;
        position: relative;
    }

    .sanPhamDoi:last-child::after {
        content: "Đổi";
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #212529; /* Màu nền tối của Bootstrap 'text-bg-dark' */
        color: white; /* Màu chữ trắng */
        padding: 0.25em 0.4em; /* Padding tương tự như Bootstrap 'badge' */
        font-size: 0.75em; /* Kích thước chữ tương tự như Bootstrap 'badge' */
        border-radius: 0.25rem; /* Bo tròn góc tương tự như Bootstrap 'badge' */
    }

    .rotate-icon {
        transform: rotate(180deg); /* Xoay 180 độ */
        transition: 0.3s ease-in-out;
    }
</style>

<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-9">
            <div style="border-bottom: 1px solid grey">
                <h4 class="fw-bold text-dark mb-3">Yêu Cầu Đổi Trả</h4>
                <div class="d-flex mb-3" ng-repeat="hoaDonChiTiet in listHoaDonChiTiet" ng-show="hoaDonChiTiet.soLuongDuocTra > 0">

                    <div>
                        <a href="#/detail/{{hoaDonChiTiet.bienTheGiay.id}}">
                            <img class="rounded" width="100%"
                                 src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="w-75 ps-3">
                        <div class="d-flex align-items-center">
                            <p ng-class="{ 'out-of-stock': hoaDonChiTiet.bienTheGiay.soLuong === 0 }"
                               class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                {{hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</p>
                            <p ng-if="bienTheGiay.soLuong === 0"
                               class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">( Hết hàng )</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="font-size-14-ncl text-secondary">Kích cỡ :
                                {{hoaDonChiTiet.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                                {{hoaDonChiTiet.bienTheGiay.mauSac.ten}}</p>
                            <p class="font-size-16-ncl fw-bold text-dark">{{hoaDonChiTiet.donGia | number}}</p>
                        </div>
                        <div class="d-flex mb-3">
                            <button class="btn btn-light" ng-click="subtraction(hoaDonChiTiet)"><i
                                    class="fas fa-minus"></i></button>
                            <input type="number" min="0" class="form-control" style="width: 67px;"
                                   max="{{hoaDonChiTiet.soLuongDuocTra}}" ng-init="hoaDonChiTiet.soLuongTra = 0"
                                   ng-model="hoaDonChiTiet.soLuongTra">
                            <button class="btn btn-light" ng-click="summation(hoaDonChiTiet)"><i
                                    class="fas fa-plus"></i></button>
                            <!-- Spacer Element -->
                            <div style="flex-grow: 1;"></div>
                            <!-- Nút Trả Hàng -->
                            <button type="button" class="btn btn-dark" ng-click="traHang(index+1,hoaDonChiTiet)">Trả
                                Hàng
                            </button>
                        </div>

                        <div class="d-flex">
                            <p class="font-size-14-ncl fw-bold text-secondary">Số lượng mua :
                                {{hoaDonChiTiet.soLuongDuocTra}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="yeuCauChiTiet in listYeuCauChiTiet">

                <div class="formTra pt-3" ng-show="!yeuCauChiTiet.bienTheGiayDoi.id" style="border-bottom: 1px solid grey">
                    <div class="col-md-12">
                        <div class="d-flex mb-3">
                            <div>
                                <a href="#/detail/{{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.id}}">
                                    <img class="rounded" width="94%"
                                         src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="w-75 ps-2">
                                <div class="d-flex align-items-center">
                                    <p ng-class="{ 'out-of-stock': yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.soLuong === 0 }"
                                       class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                        {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</p>
                                    <p ng-if="yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.soLuong === 0"
                                       class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">( Hết hàng
                                        )</p>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="font-size-14-ncl text-secondary">Kích cỡ :
                                        {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                                        {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.mauSac.ten}}</p>
                                    <!-- Spacer Element -->
                                    <div style="flex-grow: 1;"></div>
                                    <!-- Nút Trả Hàng -->
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" ng-click="addLyDoView(yeuCauChiTiet)">Lý Do
                                    </button>
                                </div>
                                <div class="d-flex">
                                    <p class="font-size-14-ncl fw-bold text-secondary">Số lượng Trả : 1</p>
                                </div>
                                <div class="d-flex">
                                    <p class="font-size-16-ncl fw-bold text-dark">Giá:
                                        {{yeuCauChiTiet.value.hoaDonChiTiet.donGia | number}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="formDoi row" ng-show="yeuCauChiTiet.bienTheGiayDoi.id">
                    <div class="col-md-6">
                        <div class="sanPhamTra">
                            <div class="d-flex mb-3">
                                <div>
                                    <a href="#/detail/{{yeuCauChiTiet.bienTheGiayDoi.id}}">
                                        <img class="rounded" width="100%"
                                             src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                             alt="">
                                    </a>
                                </div>
                                <div class="w-75 ps-3">
                                    <div class="d-flex align-items-center">
                                        <p ng-class="{ 'out-of-stock': yeuCauChiTiet.value.bienTheGiayDoi.soLuong === 0 }"
                                           class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                            {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</p>
                                        <p ng-if="bienTheGiay.soLuong === 0"
                                           class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">( Hết
                                            hàng )</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="font-size-14-ncl text-secondary">Kích cỡ :
                                            {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                                            {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.mauSac.ten}}</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="font-size-14-ncl text-secondary">Số lượng trả :
                                            {{yeuCauChiTiet.value.hoaDonChiTiet.soLuongDuocTra}}</p>
                                        <!-- Spacer Element -->
                                        <div style="flex-grow: 1;"></div>
                                        <!-- Nút Trả Hàng -->
                                        <button type="button" class="btn btn-dark"
                                                ng-click="traHang(index+1,hoaDonChiTiet)"><i class="fas fa-undo"></i>
                                        </button>
                                    </div>
                                    <div class="d-flex">
                                        <p class="font-size-16-ncl fw-bold text-dark">Giá:
                                            {{yeuCauChiTiet.value.hoaDonChiTiet.donGia | formatToVND}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="sanPhamDoi" style="padding-left: 60px;">
                            <div class="d-flex mb-3">
                                <div>
                                    <a href="#/detail/{{yeuCauChiTiet.hoaDonChiTiet.bienTheGiayDoi.id}}">
                                        <img class="rounded" width="100%"
                                             src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                             alt="">
                                    </a>
                                </div>
                                <div class="w-75 ps-3">
                                    <div class="d-flex align-items-center">
                                        <p ng-class="{ 'out-of-stock': yeuCauChiTiet.value.bienTheGiayDoi.soLuong === 0 }"
                                           class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                            {{yeuCauChiTiet.value.bienTheGiayDoi.giayResponse.ten}}</p>
                                        <p ng-if="yeuCauChiTiet.value.bienTheGiayDoi.soLuong === 0"
                                           class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">( Hết
                                            hàng )</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="font-size-14-ncl text-secondary">Kích cỡ :
                                            {{yeuCauChiTiet.value.bienTheGiayDoi.kichThuoc.ten}} / Màu Sắc :
                                            {{yeuCauChiTiet.value.bienTheGiayDoi.mauSac.ten}}</p>
                                        <div style="flex-grow: 1;"></div>
                                        <!-- Nút Trả Hàng -->
                                        <button type="button" class="btn btn-warning"><i class="fas fa-info"></i>
                                        </button>
                                    </div>
                                    <div class="d-flex">
                                        <p class="font-size-14-ncl text-secondary">Số lượng đổi : 1</p>
                                        <div style="flex-grow: 1;"></div>
                                        <!-- Nút Trả Hàng -->
                                        <button type="button" class="btn btn-dark"><i class="fas fa-undo"></i></button>
                                    </div>
                                    <div class="d-flex">
                                        <p class="font-size-16-ncl fw-bold text-dark"
                                           ng-show="yeuCauChiTiet.value.bienTheGiayDoi.khuyenMai <= 0">Giá:
                                            {{yeuCauChiTiet.value.bienTheGiayDoi.giaBan | formatToVND}}</p>
                                        <p class="font-size-16-ncl fw-bold text-dark"
                                           ng-show="yeuCauChiTiet.value.bienTheGiayDoi.khuyenMai > 0">Giá: <span
                                                class="badge text-bg-dark" style="text-decoration-line: line-through">{{yeuCauChiTiet.value.bienTheGiayDoi.giaBan | number}}</span>{{yeuCauChiTiet.value.bienTheGiayDoi.giaBan
                                            -
                                            (yeuCauChiTiet.value.bienTheGiayDoi.giaBan*yeuCauChiTiet.value.bienTheGiayDoi.khuyenMai
                                            / 100) | number}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <h4 class="fw-bold text-dark mb-3">Thông Tin Chi Tiết</h4>
                <div>
                    <div class="d-flex justify-content-between">
                        <p class=" text-dark">Tổng tiền gốc : </p>
                        <p class=" text-dark">{{hoaDon.tongTienKhachThanhToan | formatToVND}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class=" text-dark">Tiền trả hàng : </p>
                        <p class=" text-dark">{{tongTienHangTra | formatToVND}}</p>
                    </div>
                    <div class="d-flex justify-content-between" ng-show="tongTienHangDoi > 0">
                        <p class=" text-dark">Tiền đổi hàng : </p>
                        <p class=" text-dark">{{tongTienHangDoi | formatToVND}}</p>
                    </div>

                    <div class="d-flex justify-content-between border-bottom-1" ng-show="tongTienHangDoi > 0">
                        <p class=" text-dark">Khuyến Mại : </p>
                        <p class=" text-dark"> {{tongTienGiamGia | formatToVND}}</p>
                    </div>

                    <div class="d-flex justify-content-between border-bottom-1" ng-show="tongTienHangDoi > 0">
                        <p class=" text-dark">Khuyến Mại : </p>
                        <p class=" text-dark"> {{phiVanChuyen | formatToVND}}</p>
                    </div>

                    <div class="d-flex justify-content-between pt-3"
                         style="border-top: 1px solid grey ; border-bottom:1px solid grey"
                         ng-show="tongTienHangTra - (tongTienDoiHang + phiVanChuyen) > 0">
                        <p class="fw-bold text-dark">Tổng tiền hoàn : </p>
                        <p class="fw-bold text-dark">{{tongTienThanhToan | formatToVND}}</p>
                    </div>

                    <div class="d-flex justify-content-between pt-3"
                         style="border-top: 1px solid grey ; border-bottom:1px solid grey"
                         ng-show="tongTienHangTra - (tongTienDoiHang + phiVanChuyen) <= 0">
                        <p class="fw-bold text-dark">Tổng thanh toán : </p>
                        <p class="fw-bold text-dark">{{tongTienThanhToan | formatToVND}}</p>
                    </div>

                    <p class="d-inline-flex gap-1" style="width: 100%">
                        <button class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample"
                                style="border: none;background-color: white;">
                            <span class="fw-bold text-dark">Ghi Chú</span><i class="fas fa-chevron-down"></i>
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample" style="border: none; border-left: 1px solid grey">
                        <div class="form-floating card card-body" style="border: none">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                      style="height: 100px; border: 1px solid grey; padding-left: 0"></textarea>
                        </div>
                    </div>

                    <p class="d-inline-flex gap-1" style="width: 100%; border-top: 1px solid grey; padding-top: 10px">
                        <button class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
                                aria-expanded="false" aria-controls="collapseExample1"
                                style="border: none;background-color: white;">
                            <span class="fw-bold text-dark">Địa Chỉ Giao</span><i class="fas fa-chevron-down"></i>
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample1" style="border: none; border-left: 1px solid grey">
                        <div class=" card card-body" style="border: none">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="tenNguoiNhan" ng-model="thongTinNhanHang.tenNguoiNhan"
                                       ng-pattern="/^[a-zA-ZÀ-ỹ- ']+$/">
                                <label for="tenNguoiNhan">Tên người nhận</label>
                                <span ng-show="myForm.tenNguoiNhan.$error.pattern">Tên không hợp lệ</span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="soDienThoaiNhan" ng-model="thongTinNhanHang.soDienThoaiNhan"
                                       ng-pattern="/^[0-9]{10,11}$/">
                                <label for="soDienThoaiNhan">Số điện thoại nhận</label>
                                <span ng-show="myForm.soDienThoaiNhan.$error.pattern">Số điện thoại không hợp lệ</span>
                            </div>


                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="{{thongTinNhanHang.diaChiNhan}}"
                                       aria-describedby="basic-addon2" disabled ng-model="thongTinNhanHang.diaChiNhan">
                                <span class="input-group-text" id="basic-addon2" data-bs-target="#staticBackdrop1"
                                      data-bs-toggle="modal" type="button"><i class="fas fa-undo-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <button class="btn btn-dark py-2" ng-click="taoYeuCau()">Tạo Yêu Cầu</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal chọn lý do-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: black;max-height: 45px;">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Lý Do Đổi Trả</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                            ng-model="yeuCauChiTiet.lyDo" ng-options="lyDo.id as lyDo.ten for lyDo in listLyDo">
                    </select>
                    <label for="floatingSelect">Lý Do<small style="color: red">(*)</small></label>
                </div>
                <br>

                <div class="form-floating">
                        <textarea class="form-control" placeholder="Mô tả chi tiết lý do đổi trả."
                                  id="floatingTextarea2" style="height: 100px"
                                  ng-model="yeuCauChiTiet.ghiChu"></textarea>
                    <label for="floatingTextarea2">Mô tả<small style="color: red">(*)</small> </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Quay về <i
                        class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        ng-click="updateLyDo()">Lưu <i class="fas fa-save"></i></button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                        data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        ng-disabled="!yeuCauChiTiet.lyDo || !yeuCauChiTiet.ghiChu" ng-click="updateLyDo()">Đổi
                    <i class="fas fa-undo-alt"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal chọn giày-->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Danh Sách Giày</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="d-flex align-items-center justify-content-between">
                    <div class="mb-3">
                        <p class="font-size-13-ncl">Trang Chủ / Yêu Cầu / Danh Sách Giày</p>
                    </div>
                    <div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất Cả</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 sticky-top" style="align-self: flex-start;height: auto;">
                        <div class="d-flex" style="flex-wrap: wrap-reverse;">
                            <div class="" ng-repeat="searchChooes in lstSearchChoosed">
                                <div class="label-search">{{searchChooes.selectedValue}} <i
                                        class="fas ps-1 fa-times"></i></div>
                            </div>
                        </div>

                        <div class="search-price"></div>

                        <div class="search-price"></div>

                        <div class="row">
                            <div ng-repeat="dropdown in dropdowns" class="custom-dropdown"
                                 style="padding-top: 3px;">

                                <button style="border-top: 1px solid #ebe9e9;"
                                        class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                                        ng-click="toggleDropdown($index)"><span>{{ dropdown.ten }}</span> <i
                                        class="fas fa-chevron-down" ng-class="{ 'rotate': dropdown.isOpen }"></i>
                                </button>

                                <div class="custom-dropdown-content"
                                     ng-class="{ 'show': dropdown.isOpen,'d-flex pd-left-10 flex-wrap': (dropdown.ten === 'Kích Cỡ' && dropdown.isOpen) || (dropdown.ten === 'Màu Sắc' && dropdown.isOpen)}">
                                    <!-- Các phần tử trong dropdown -->
                                    <div class="form-check p-0" ng-repeat="value in dropdown.listValue">
                                        <input ng-class="{ 'd-none': dropdown.ten === 'Kích Cỡ' || dropdown.ten === 'Màu Sắc' }"
                                               ng-change="changeSearch()" class="form-check-input"
                                               style="margin-left: 10px;" type="checkbox" ng-model="value.selected"
                                               id="{{ 'checkbox_' + $parent.$index + '_' + $index }}">
                                        <label ng-class="{ 'checkbox-label': dropdown.ten === 'Kích Cỡ' ,
                                                    'checkbox-label-mau-sac': dropdown.ten === 'Màu Sắc'}"
                                               class="form-check-label ps-2"
                                               for="{{ 'checkbox_' + $parent.$index + '_' + $index }}"
                                               ng-style="dropdown.ten === 'Màu Sắc' && {'background-color': value.name}"
                                               ng-bind="dropdown.ten !== 'Màu Sắc' ? value.name : ''"
                                        >
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row mb-3">
                            <div class="col-md-3 mb-3" ng-repeat="giay in listGiay"
                                 ng-click="getOneBienTheGiay(giay)"
                                 data-bs-dismiss="modal" data-bs-target="#exampleModalToggle2"
                                 data-bs-toggle="modal">
                                <div class=" position-relative">
                                    <div class="mb-2">
                                        <img src="https://product.hstatic.net/1000361048/product/dz0482_001_a_d718733fb6d344febec840aee172ca23_master.jpg"
                                             width="100%" alt="">
                                    </div>
                                    <div class="product-name">
                                        <h5 class="font-size-14-ncl fw-bold" title="{{giay.ten}}">{{giay.ten}}</h5>
                                    </div>
                                    <div class="product-price">
                                        <div class="d-flex align-items-center">
                                            <p class="font-size-14-ncl text-danger m-0">
                                                {{ '₫' + (giay.giaThapNhat | number) + (giay.giaThapNhat !==
                                                giay.giaLonNhat ? '
                                                - ₫' + (giay.giaLonNhat | number) : '') }}
                                            </p>

                                        </div>
                                    </div>
                                    <div class="product-variant">
                                        <p class="font-size-14-ncl">{{giay.lstMauSac.length }} Màu </p>
                                    </div>
                                    <div class="position-absolute top-0 right-0">
                                        <p class="font-size-14-ncl fw-bold"><span
                                                style="    padding: 10px;font-size: 13px;color: red;"
                                                class="">-36%</span></p>
                                    </div>
                                    <div class="position-absolute " style="color: black;right: 8px;top: 3px;">
                                        <i class="far fa-heart" style="font-size: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                                 data-current-page="curPage"
                                 data-max-size="maxSize"
                                 data-boundary-links="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở Về</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Chi Tiết Giày</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="" class=" col-md-5">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" id="image-container">
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="side-left">
                            <div class="title">
                                <h5 class="py-3 fw-bold border-bottom-1">{{giayDetail.ten}} </h5>
                                <h5 class="py-2 text-danger fw-bold">
                                <span id="price-product" class="py-3">

                                <span ng-show="!giayDetail.giaBan">
                                    {{ '₫' + (giaySeletect.giaThapNhat | number) + (giaySeletect.giaThapNhat !== giaySeletect.giaLonNhat ? '- ₫' + (giaySeletect.giaLonNhat | number) : '') }}
                                </span>
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan  | number:0 }}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}₫
                                        </span>
                                    </span>
                                </h5>
                                <h5 class="font-size-16-ncl fw-bold">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span>
                                </h5>
                            </div>
                            <h5 class="font-size-16-ncl fw-bold py-3">Màu Sắc:</h5>
                            <div id="buttons-container"></div>
                            <div id="product-info"></div>
                            <div class="size-selector">
                                <h5 class="font-size-16-ncl fw-bold py-3">Kích Thước:</h5>
                                <div id="sizeButtons"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-bs-dismiss="modal" data-bs-target="#exampleModalToggle"
                        data-bs-toggle="modal">Trở Về
                </button>
                <button class="btn btn-success" data-bs-dismiss="modal" ng-click="selectedGiayDoi()"
                        ng-disabled="!giayChoosed.mauSac.id && !giayChoosed.kichThuoc.id">Đổi <i
                        class="fas fa-undo-alt"></i></button>
            </div>
        </div>
    </div>
</div>


<!-- Địa Chỉ modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel1">Địa Chỉ</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputEnd"
                               ng-model="thongTinNhanHang.diaChiNhan" disabled>
                        <label for="floatingInputEnd">Địa giao hiện tại:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect1" aria-label="Floating label select example"
                                    name="provinces" ng-model="diaChiNhanHangMoi.provinces"
                                    ng-options="province.ten  for province in provinces"
                                    ng-change="changeDistrict()"></select>
                            <label for="floatingSelect1">Tỉnh/Thành Phố<span class="required">(*)</span>:</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect2" aria-label="Floating label select example"
                                    name="districts" ng-model="diaChiNhanHangMoi.districts"
                                    ng-options="district.ten for district in districts"
                                    ng-change="changeWards()"></select>
                            <label for="floatingSelect2">Quận/Huyện<span class="required">(*)</span>:</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect3" aria-label="Floating label select example"
                                    name="wards" ng-model="diaChiNhanHangMoi.wards"
                                    ng-options="ward.ten for ward in wards"></select>
                            <label for="floatingSelect3">Phường/Xã<span class="required">(*)</span>:</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="addDress" name="addDress"
                                   ng-model="diaChiNhanHangMoi.addDress">
                            <label for="addDress">Chi Tiết<span class="required">(*)</span>:</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở về</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-disabled="checkAddDress()"
                        ng-click="saveDiaChi()">Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<p id="soldout" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></p>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <h5 class="modal-title mb-1" id="staticBackdropLabel">Số lượng giày trong kho không đủ vui lòng kiểm tra
                    lại</h5>
                <p class="font-size-12-ncl mb-3">Tải lại trang để cập nhật mới nhất về trạng thái sản phẩm</p>
                <div ng-show="productsSoldOutQuantity.length > 0">
                    <h5>Sản phẩm hết hàng</h5>
                    <div class="d-flex mb-3" ng-repeat="bienTheGiay in productsSoldOutQuantity">
                        <div>
                            <a href="#/detail/{{bienTheGiay.id}}">
                                <img class="rounded" width="100%"
                                     src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="w-75 ps-3">
                            <div class="d-flex align-items-center">
                                <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                    {{bienTheGiay.giayResponse.ten}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-size-14-ncl text-secondary">Kích cỡ : {{bienTheGiay.kichThuoc.ten}} / Màu
                                    Sắc : {{bienTheGiay.mauSac.ten}}</p>
                                <p class="font-size-16-ncl fw-bold text-dark">{{bienTheGiay.giaBan | number}} ₫</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="productsLessQuantity.length > 0">
                    <h5>Sản phẩm vượt quá số lượng</h5>
                    <div class="d-flex mb-3" ng-repeat="bienTheGiay in productsLessQuantity">
                        <div>
                            <a href="#/detail/{{bienTheGiay.id}}">
                                <img class="rounded" width="100%"
                                     src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="w-75 ps-3">
                            <div class="d-flex align-items-center">
                                <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                    {{bienTheGiay.giayResponse.ten}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-size-14-ncl text-secondary">Kích cỡ : {{bienTheGiay.kichThuoc.ten}} / Màu
                                    Sắc : {{bienTheGiay.mauSac.ten}}</p>
                                <p class="font-size-16-ncl fw-bold text-dark">{{bienTheGiay.giaBan | number}} ₫</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

