<style>
  .text-wrap-none {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sanPhamDoi:last-child {
    border-left: 1px solid #ccc;
    position: relative;
  }

  .sanPhamDoi:last-child::after {
    content: "Đổi";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #212529; /* Màu nền tối của Bootstrap 'text-bg-dark' */
    color: white; /* Màu chữ trắng */
    padding: 0.25em 0.4em; /* Padding tương tự như Bootstrap 'badge' */
    font-size: 0.75em; /* Kích thước chữ tương tự như Bootstrap 'badge' */
    border-radius: 0.25rem; /* Bo tròn góc tương tự như Bootstrap 'badge' */
  }


  .custom-dropbtn {
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: white;
    font-weight: bold;
  }

  .custom-dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
  }

  .custom-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  .custom-dropdown-content a:hover {
    background-color: #ddd;
  }

  .custom-dropdown-content.show {
    display: block;
  }

  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
  }

  .checkbox-label {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 5px;
    padding: 4px 11px !important;
    cursor: pointer;
  }

  .checkbox-label:hover {
    border: 1px solid black;
  }

  .pd-left-10 {
    padding-left: 10px;
  }

  .label-search {
    margin: 2px;
    border: 1px solid #dddddd;
    padding: 2px 9px;
    border-radius: 5px;
  }

  .label-search:hover {
    background: grey;
    cursor: pointer;
  }

  .checkbox-label-mau-sac {
    margin: 8px;
    border-radius: 18px;
    width: 29px;
    height: 29px;
    border: 1px solid #e5e5e5;
  }

  #buttons-container {
    display: flex;
  }

  .insideDiv {
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 7px;
  }

  .button_checked {
    transition: 0.3s all;
    border: 1px solid rgb(0, 0, 0) !important;
    border-radius: 7px;
  }

  #image-container img {
    margin-bottom: 10px;
  }

  .text-limit {
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .toggle-button {
    background: transparent;
    border: none;
    color: blue;
  }

  .labelTabDelete {
    cursor: pointer;
  }

  .labelTabDelete:hover {
    color: red;
  }

  .nav-tabs .nav-link.active {
    color: #495057;
    font-weight: bolder;
    background-color: #fff;
    border-color: #1d1e1e #dee2e6 #fff;
    border-top: 1.5px solid #1d1e1e;
  }

  .item {
    margin-top: 13px;
    border-bottom: 1px solid #dbdbdb;
  }

  .item div {
    justify-content: space-between;
    position: relative;
    align-items: center;
  }

  .item h5 {
    font-weight: bold;
  }

  .item p {
    color: black;
    font-size: 14px;
  }

  .btn-size {
    padding: 10px 20px;
  }

  .show-text p {
    max-height: 100px !important;
    transition: 0.3s ease-in-out;
  }

  .show-text i {
    transition: 0.3s ease-in-out;
    transform: rotate(180deg);
  }

  .i-button {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
</style>

<div ng-show="isLoading" class="loading-spinner">
  <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div style="margin: 100px">
  <div class="row">
    <div class="col-md-9">
      <div style="border-bottom: 2px solid grey">
        <h4 class="fw-bold text-dark mb-3">Chi Tiết - Yêu Cầu Đổi Trả</h4>
      </div>

      <div ng-repeat=" yeuCauChiTiet in listYeuCauChiTiet">

        <div class="formTra pt-3" ng-show="!yeuCauChiTiet.value.bienTheGiayDoi.id"
             style="border-bottom: 1px solid grey">
          <div class="col-md-12">
            <div class="d-flex mb-3">
              <div>
                <img class="rounded" width="94%"
                     ng-src="{{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.lstAnh.length > 0 ? yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.lstAnh[0] : 'https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg'}}"
                     alt="">
              </div>
              <div class="w-75 ps-2">
                <div class="d-flex align-items-center">
                  <p ng-class="{ 'out-of-stock': yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.soLuong === 0 }"
                     class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                    {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="font-size-14-ncl text-secondary">Kích cỡ :
                    {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                    {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.mauSac.ten}}</p>
                  <!-- Spacer Element -->
                  <div style="flex-grow: 1;"></div>
                  <!-- Nút Trả Hàng -->
                  <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                          data-bs-target="#exampleModal" ng-click="addLyDoView(yeuCauChiTiet)">Lý Do
                  </button>
                  <button type="button" class="btn btn-dark"
                          ng-click="deleteGiayTra(yeuCauChiTiet)" ng-show="yeuCau.trangThai == 1"><i
                          class="fas fa-trash-alt"></i></i></button>
                </div>
                <div class="d-flex">
                  <p class="font-size-14-ncl fw-bold text-secondary">Số lượng Trả : 1</p>
                </div>
                <div class="d-flex">
                  <p class="font-size-16-ncl fw-bold text-dark">Giá:
                    {{yeuCauChiTiet.value.thanhTien |
                    formatToVND}}</p>
                  <div style="flex-grow: 1;"></div>
                  <p ng-if="yeuCauChiTiet.value.trangThai === 5"
                     class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">(
                    Đã hủy )</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="formDoi row pt-3" ng-show="yeuCauChiTiet.value.bienTheGiayDoi.id"
             style="border-bottom: 1px solid grey">
          <div class="col-md-6">
            <div class="sanPhamTra">
              <div class="d-flex mb-3">
                <div>
                  <img class="rounded" width="100%"
                       ng-src="{{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.lstAnh.length > 0 ? yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.lstAnh[0] : 'https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg'}}"
                       alt="Ảnh giày">
                </div>
                <div class="w-75 ps-3">
                  <div class="d-flex align-items-center">
                    <p ng-class="{ 'out-of-stock': yeuCauChiTiet.value.bienTheGiayDoi.soLuong === 0 }"
                       class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                      {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="font-size-14-ncl text-secondary">Kích cỡ :
                      {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                      {{yeuCauChiTiet.value.hoaDonChiTiet.bienTheGiay.mauSac.ten}}</p>
                    <!-- Spacer Element -->
                    <div style="flex-grow: 1;"></div>
                    <!-- Nút Trả Hàng -->
                    <button type="button" class="btn btn-dark"
                            ng-click="deleteGiayTra(yeuCauChiTiet)" ng-show="yeuCau.trangThai == 1"><i
                            class="fas fa-trash-alt"></i></i></button>
                  </div>
                  <div class="d-flex">
                    <p class="font-size-14-ncl text-secondary">Số lượng trả :
                      {{yeuCauChiTiet.value.hoaDonChiTiet.soLuongDuocTra}}</p>
                    <!-- Spacer Element -->
                    <div style="flex-grow: 1;"></div>
                    <!-- Nút Trả Hàng -->
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" ng-click="addLyDoView(yeuCauChiTiet)"><i
                            class="fas fa-undo"></i></button>
                  </div>
                  <div class="d-flex">
                    <p class="font-size-16-ncl fw-bold text-dark">Giá:
                      {{yeuCauChiTiet.value.thanhTien| formatToVND}}</p>
                    <div style="flex-grow: 1;"></div>
                    <p ng-if="yeuCauChiTiet.value.trangThai === 5"
                       class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">(
                      Đã hủy )</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="sanPhamDoi" style="padding-left: 60px;">
              <div class="d-flex mb-3">
                <div>
                  <img class="rounded" width="100%"
                       ng-src="{{yeuCauChiTiet.value.bienTheGiayDoi.id && yeuCauChiTiet.value.bienTheGiayDoi.giayResponse.lstAnh.length > 0  ? yeuCauChiTiet.value.bienTheGiayDoi.giayResponse.lstAnh[0] : 'https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg'}}"
                       alt="Ảnh giày">
                </div>
                <div class="w-75 ps-3">
                  <div class="d-flex align-items-center">
                    <p ng-class="{ 'out-of-stock': yeuCauChiTiet.value.bienTheGiayDoi.soLuong === 0 }"
                       class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                      {{yeuCauChiTiet.value.bienTheGiayDoi.giayResponse.ten}}</p>
                    <p ng-if="yeuCauChiTiet.value.bienTheGiayDoi.soLuong === 0"
                       class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">( Hết
                      hàng )</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="font-size-14-ncl text-secondary">Kích cỡ :
                      {{yeuCauChiTiet.value.bienTheGiayDoi.kichThuoc.ten}} / Màu Sắc :
                      {{yeuCauChiTiet.value.bienTheGiayDoi.mauSac.ten}}</p>
                    <div style="flex-grow: 1;"></div>
                    <!-- Nút Trả Hàng -->
                    <button type="button" class="btn btn-dark"
                            ng-click="deleteGiayDoi(yeuCauChiTiet)" ng-show="yeuCau.trangThai == 1"><i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                  <div class="d-flex">
                    <p class="font-size-14-ncl text-secondary">Số lượng đổi : 1</p>
                  </div>
                  <div class="d-flex">
                    <p class="font-size-16-ncl fw-bold text-dark"
                       ng-show="yeuCauChiTiet.value.bienTheGiayDoi.khuyenMai <= 0">Giá:
                      {{yeuCauChiTiet.value.bienTheGiayDoi.giaBan | formatToVND}}</p>
                    <p class="font-size-16-ncl fw-bold text-dark"
                       ng-show="yeuCauChiTiet.value.bienTheGiayDoi.khuyenMai > 0">Giá: <span
                            class="badge text-bg-dark" style="text-decoration-line: line-through">{{yeuCauChiTiet.value.bienTheGiayDoi.giaBan | formatToVND}}</span>{{yeuCauChiTiet.value.bienTheGiayDoi.giaBan
                      -
                      (yeuCauChiTiet.value.tienGiam) | formatToVND}}</p>
                    <div style="flex-grow: 1;"></div>
                    <p ng-if="yeuCauChiTiet.value.trangThai === 2"
                       class="ps-2 font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">(
                      Đã hủy )</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <h4 class="fw-bold text-dark mb-3">Thông Tin Chi Tiết</h4>
        <div>
          <div class="d-flex justify-content-between">
            <p class=" text-dark">Tổng tiền gốc : </p>
            <p class=" text-dark">{{hoaDon.tongTienKhachThanhToan | formatToVND}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class=" text-dark">Tiền trả hàng : </p>
            <p class=" text-dark">{{tongTienHangTra | formatToVND}}</p>
          </div>
          <div class="d-flex justify-content-between" ng-show="tongTienHangDoi > 0">
            <p class=" text-dark">Tiền đổi hàng : </p>
            <p class=" text-dark">{{tongTienHangDoi | formatToVND}}</p>
          </div>

          <div class="d-flex justify-content-between" ng-show="tongTienHangDoi > 0">
            <p class=" text-dark">Khuyến Mại : </p>
            <p class=" text-dark"> {{tongTienGiamGia | formatToVND}}</p>
          </div>

          <div class="d-flex justify-content-between " ng-show="tongTienHangDoi > 0">
            <p class=" text-dark">COD : </p>
            <p class=" text-dark"> {{phiVanChuyen | formatToVND}}</p>
          </div>

          <div class="d-flex justify-content-between pt-3"
               style="border-top: 1px solid grey ; border-bottom:1px solid grey"
               ng-show="(tongTienHangTra + phiVanChuyen) - (tongTienHangDoi + tongTienGiamGia) > 0">
            <p class="fw-bold text-dark">Tổng tiền hoàn : </p>
            <p class="fw-bold text-dark">{{tongTienThanhToan | formatToVND}}</p>
          </div>

          <div class="d-flex justify-content-between pt-3"
               style="border-top: 1px solid grey ; border-bottom:1px solid grey"
               ng-show="(tongTienHangTra + phiVanChuyen) - (tongTienHangDoi + tongTienGiamGia) <= 0">
            <p class="fw-bold text-dark">Tổng thanh toán : </p>
            <p class="fw-bold text-dark">{{tongTienThanhToan | formatToVND}}</p>
          </div>

          <p class="d-inline-flex gap-1" style="width: 100%">
            <button class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample"
                    style="border: none;background-color: white;">
              <span class="fw-bold text-dark">Ghi Chú</span><i class="fas fa-chevron-down"></i>
            </button>
          </p>
          <div class="collapse" id="collapseExample" style="border: none; border-left: 1px solid grey">
            <div class="form-floating card card-body" style="border: none">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                      style="height: 100px; border: 1px solid grey; padding-left: 0"
                                      ng-model="yeuCau.ghiChu" ng-disabled="yeuCau.trangThai != 1"></textarea>
            </div>
          </div>

          <p class="d-inline-flex gap-1" style="width: 100%; border-top: 1px solid grey; padding-top: 10px">
            <button class="custom-dropbtn font-size-14-ncl d-flex align-items-center justify-content-between w-100"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
                    aria-expanded="false" aria-controls="collapseExample1"
                    style="border: none;background-color: white;">
              <span class="fw-bold text-dark">Địa Chỉ Giao</span><i class="fas fa-chevron-down"></i>
            </button>
          </p>
          <div class="collapse" id="collapseExample1" style="border: none; border-left: 1px solid grey">
            <div class=" card card-body" style="border: none">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="tenNguoiNhan"
                       ng-model="thongTinNhanHang.tenNguoiNhan" ng-disabled="yeuCau.trangThai != 1">
                <label for="tenNguoiNhan">Tên người nhận</label>
                <small id="error-message-ten" style="color: red;"></small>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="soDienThoaiNhan"
                       ng-model="thongTinNhanHang.soDienThoaiNhan" ng-disabled="yeuCau.trangThai != 1">
                <label for="soDienThoaiNhan">Số điện thoại nhận</label>
                <small id="error-message-phone" style="color: red;"></small>
              </div>

              <div class="input-group mb-3">
                <input type="text" class="form-control" value="{{thongTinNhanHang.diaChiNhan}}"
                       aria-describedby="basic-addon2" disabled ng-model="thongTinNhanHang.diaChiNhan">
                <span class="input-group-text" id="basic-addon2" data-bs-target="#exampleModalToggle3"
                      data-bs-toggle="modal" type="button" ng-click="changeProvince()" ng-show="yeuCau.trangThai == 1"><i
                        class="fas fa-undo-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <button class="btn btn-dark py-2" ng-click="taoYeuCau()" ng-show="listYeuCauChiTiet.length > 0 && yeuCau.trangThai === 1">Xác Nhận</button>
            <button class="btn btn-outline-dark py-2" ng-click="huyYeuCau()" style="margin-top: 10px" ng-show="yeuCau.trangThai === 1" >Hủy Yêu Cầu</button>
            <a class="btn btn-outline-dark py-2" ng-href="/home#/don-hang/detail/{{hoaDon.id}}" style="margin-top: 10px" ng-show="yeuCau.trangThai != 1" >Xác Nhận</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal chọn lý do-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;max-height: 45px;">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Lý Do Đổi Trả</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                  ng-model="yeuCauChiTiet.lyDo" ng-options="lyDo.id as lyDo.ten for lyDo in listLyDo" ng-disabled="yeuCau.trangThai != 1">
          </select>
          <label for="floatingSelect">Lý Do<small style="color: red">(*)</small></label>
        </div>
        <br>

        <div class="form-floating">
                        <textarea class="form-control" placeholder="Mô tả chi tiết lý do đổi trả."
                                  id="floatingTextarea2" style="height: 100px"
                                  ng-model="yeuCauChiTiet.ghiChu" ng-disabled="yeuCau.trangThai != 1"></textarea>
          <label for="floatingTextarea2">Mô tả<small style="color: red">(*)</small> </label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Quay về <i
                class="fas fa-chevron-left"></i></button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                ng-click="updateLyDo()"  ng-show="yeuCau.trangThai == 1">Lưu <i class="fas fa-save"></i></button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                ng-disabled="!yeuCauChiTiet.lyDo || !yeuCauChiTiet.ghiChu" ng-show="yeuCau.trangThai == 1" ng-click="updateLyDo()">Đổi
          <i class="fas fa-undo-alt"></i></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal chọn giày-->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel" style="color: white">Danh sách sản phẩm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                style="color: grey"></button>
      </div>
      <div class="modal-body">

        <div class="d-flex align-items-center">
          <div class="mb-3 col-3">
            <label style="font-weight: 900">Bộ lọc</label>
          </div>
          <div class="mx-2">
            <div class="d-flex justify-content-start radio-filter">
              <div class="custom-radio">
                <input type="radio" id="all" name="status" ng-model="status" value="0"
                       ng-checked="status == 0"
                       ng-change="changeRadio(0)">
                <label class="radio-label" for="all">Tất cả</label>
              </div>

              <div class="custom-radio">
                <input type="radio" id="active" name="status" ng-model="status" value="1"
                       ng-checked="status == 1"
                       ng-change="changeRadio(1)">
                <label class="radio-label" for="active">Sản phẩm bán chạy</label>
              </div>

              <div class="custom-radio">
                <input type="radio" id="disable" name="status" ng-model="status" value="2"
                       ng-checked="status == 2"
                       ng-change="changeRadio(2)">
                <label class="radio-label" for="disable">Sản phẩm yêu thích</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 sticky-top" style="align-self: flex-start;height: auto;">

            <div class="row">
              <div class="py-2">
                <div>
                  <span><strong>Tên giày: </strong></span>
                </div>
                <input type="text" class="form-control" ng-model="tenSearch">
              </div>
              <div class="py-2">
                <div class="d-flex justify-content-between" style="cursor: pointer"
                     data-bs-toggle="collapse"
                     href="#dsMauSac" role="button" aria-expanded="false" aria-controls="dsMauSac"
                     ng-click="toggleCollapse('iconMauSac')">
                  <span><strong>Màu sắc: </strong></span>
                  <i class="fas fa-caret-down" id="iconMauSac"></i>
                </div>
                <div class="collapse show" id="dsMauSac">
                        <span ng-repeat="mauSac in mauSacs">
                        <label for="mauSac{{mauSac.id}}"
                               class="position-relative pointer-event form-check-label ps-2 checkbox-label-mau-sac"
                               ng-style="{'background-color': mauSac.maMau}">
                            <i class="fas fa-check" style="display: none; top: -10%; right: -15%; color: green"
                               ng-class="mauSac.selected? 'mau-sac active' : ''"></i>
                        </label>
                        <input type="checkbox" name="mauSac" id="mauSac{{mauSac.id}}" ng-model="mauSac.selected"
                               style="display: none">
                        </span>
                </div>
              </div>

              <div class="py-2">
                <div class="d-flex justify-content-between" style="cursor: pointer"
                     data-bs-toggle="collapse"
                     href="#dsKichThuoc" role="button" aria-expanded="false" aria-controls="dsKichThuoc"
                     ng-click="toggleCollapse('iconKichThuoc')">
                  <span><strong>Kích thước: </strong></span>
                  <i class="fas fa-caret-down" id="iconKichThuoc"></i>
                </div>
                <div class="collapse show" id="dsKichThuoc">
                        <span ng-repeat="kichThuoc in kichThuocs">
                        <label for="kichThuoc{{kichThuoc.id}}"
                               class="px-1 mx-2 position-relative pointer-event checkbox-label"
                               ng-class="kichThuoc.selected? 'btn btn-info' : 'btn'">{{kichThuoc.ten}}
                            <i class="fas fa-check" style="display: none; top: -10%; right: -15%; color: green"
                               ng-class="kichThuoc.selected? 'mau-sac active' : ''"></i>
                        </label>
                        <input type="checkbox" name="kichThuoc" id="kichThuoc{{kichThuoc.id}}"
                               ng-model="kichThuoc.selected"
                               style="display: none">
                        </span>
                </div>
              </div>

              <div class="py-2">
                <div class="d-flex justify-content-between" style="cursor: pointer"
                     data-bs-toggle="collapse"
                     href="#dsThuongHieu" role="button" aria-expanded="false"
                     aria-controls="dsThuongHieu" ng-click="toggleCollapse('iconThuongHieu')">
                  <span><strong>Thương hiệu: </strong></span>
                  <i class="fas fa-caret-down" id="iconThuongHieu"></i>
                </div>
                <div class="collapse show" id="dsThuongHieu">
                  <div ng-repeat="thuongHieu in thuongHieus">
                    <input type="checkbox" name="thuongHieu" id="thuongHieu{{thuongHieu.id}}"
                           ng-model="thuongHieu.selected">
                    <label for="thuongHieu{{thuongHieu.id}}">{{thuongHieu.ten}}</label>
                  </div>
                </div>
              </div>

              <div class="py-2">
                <div class="d-flex justify-content-between" style="cursor: pointer"
                     data-bs-toggle="collapse"
                     href="#dsKhoangGia" role="button" aria-expanded="false" aria-controls="dsKhoangGia"
                     ng-click="toggleCollapse('iconKhoangGia')">
                  <span><strong>Khoảng giá: </strong></span>
                  <i class="fas fa-caret-down" id="iconKhoangGia"></i>
                </div>
                <div class="collapse show" id="dsKhoangGia">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">vnđ</span>
                    <input type="number" min="0" class="form-control" placeholder="Giá từ"
                           ng-model="giaTu">
                  </div>
                  <div>
                    <small class="text-danger">{{errorsSearch.giaTu}}</small>
                  </div>
                  -
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon4">vnđ</span>
                    <input type="number" min="0" class="form-control" placeholder="Giá đến"
                           ng-model="giaDen">
                  </div>
                  <div>
                    <small class="text-danger">{{errorsSearch.giaDen}}</small>
                  </div>
                </div>
              </div>

              <div class="py-2">
                <div class="d-flex justify-content-between" style="cursor: pointer"
                     data-bs-toggle="collapse"
                     href="#dsHashtag" role="button" aria-expanded="false" aria-controls="dsHashtag"
                     ng-click="toggleCollapse('iconHashTag')">
                  <span><strong>Hashtag: </strong></span>
                  <i class="fas fa-caret-down rotate" id="iconHashTag"></i>
                </div>
                <div class="collapse" id="dsHashtag">
                        <span ng-repeat="hashtag in hashtags">
                        <label for="hashtag{{hashtag.id}}"
                               class="badge rounded-pill px-1 mx-1 position-relative pointer-event"
                               ng-class="hashtag.selected? 'bg-primary' : 'bg-secondary'">#{{hashtag.ten}}
                            <i class="fas fa-check-circle" style="display: none"
                               ng-class="hashtag.selected? 'mau-sac active' : ''"></i>
                        </label>
                        <input type="checkbox" name="hashtag" id="hashtag{{hashtag.id}}" ng-model="hashtag.selected"
                               style="display: none">
                        </span>
                </div>
              </div>

              <div class="py-2">
                <button class="btn btn-dark" ng-click="searchGiay()">Tìm kiếm</button>
                <button class="btn btn-dark" ng-click="resetSearchGiay()">Nhập lại</button>
              </div>

            </div>
          </div>
          <div class="col-md-9">
            <div class="row mb-3">
              <div ng-show="giays.length == 0">Không tìm thấy giày nào</div>
              <div class="col-md-3 mb-3 giayHover" data-bs-dismiss="modal"
                   data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                   ng-click="getOneBienTheGiay(giay)"
                   ng-repeat="giay in giays | orderBy : '-soLuongThongKe'">
                <div class=" position-relative">
                  <div class="mb-2">
                    <img src="{{giay.lstAnh.length > 0 ? giay.lstAnh[0] : ''}}"
                         width="100%" alt="" style="height: 291px; object-fit: cover">
                  </div>
                  <div class="product-name">
                    <h5 class="font-size-14-ncl fw-bold" title="{{giay.ten}}">{{giay.ten}}</h5>
                  </div>
                  <div class="product-price">
                    <div class="d-flex align-items-center">
                      <p class="font-size-14-ncl text-danger m-0">
                        {{ '₫' + (giay.giaTu | number : 0) + (giay.giaTu !== giay.giaDen ? '
                        - ₫' + (giay.giaDen | number : 0) : '') }}
                      </p>
                    </div>
                  </div>
                  <div class="position-absolute top-0 right-0">
                    <p class="font-size-14-ncl fw-bold" ng-show="giay.phanTramGiam > 0"><span
                            style="padding: 10px;font-size: 13px;color: red; background-color: rgba(255, 255, 0, 0.5)"
                            class="">giảm tới {{giay.phanTramGiam}}%</span></p>
                  </div>
                  <!--                            <div class="position-absolute " style="color: black;right: 8px;top: 3px;">-->
                  <!--                                <i class="far fa-heart" style="font-size: 20px;"></i>-->
                  <!--                            </div>-->

                  <div class="position-absolute " style="color: black;right: 0px;top: 3px;"
                       ng-show="status === 1">
                    <p class="font-size-14-ncl fw-bold"><span
                            style="padding: 10px;font-size: 13px;color: red; background-color: rgba(255, 255, 0, 0.5)"
                            class="">đã bán: {{giay.soLuongThongKe}} sản phẩm</span></p>
                  </div>
                </div>
              </div>

            </div>
            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                 data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button class="btn btn-dark" data-bs-dismiss="modal"><i class="fas fa-chevron-left"></i> Quay về
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2" style="color: white">Sản phẩm chi tiết</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div id="" class=" col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" id="image-container">
              </div>
              <button class="carousel-control-prev" type="button"
                      data-bs-target="#carouselExampleControls"
                      data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button"
                      data-bs-target="#carouselExampleControls"
                      data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-7">
            <div class="title">
              <h5 class="py-3 fw-bold border-bottom-1">{{giayDetail.ten}} </h5>
              <h5 class="py-2 text-danger fw-bold">
                        <span id="price-product" class="py-3">

                                <span ng-show="!giayDetail.giaBan">
                                    {{ '₫' + (giaySeletect.giaThapNhat | number) + (giaySeletect.giaThapNhat !== giaySeletect.giaLonNhat ? '
                                            - ₫' + (giaySeletect.giaLonNhat | number) : '') }}
                                </span>
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan  | number:0 }}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}
                                        </span>
                                    </span>
              </h5>
              <h5 class="font-size-16-ncl fw-bold">Số lượng: <span
                      id="quantity">{{giayDetail.soLuong}}</span>
              </h5>
            </div>
            <h5 class="font-size-16-ncl fw-bold py-3">Màu Sắc</h5>
            <div id="buttons-container"></div>
            <div id="product-info"></div>
            <div class="size-selector">
              <h5 class="font-size-16-ncl fw-bold py-3">Kích Thước</h5>
              <div id="sizeButtons"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-dark" data-bs-dismiss="modal" data-bs-target="#exampleModalToggle"
                data-bs-toggle="modal"><i class="fas fa-chevron-left"></i> Quay Về
        </button>
        <button class="btn btn-dark" data-bs-dismiss="modal" ng-click="selectedGiayDoi()"
                ng-disabled="!giayChoosed.mauSac.id && !giayChoosed.kichThuoc.id">Đổi <i
                class="fas fa-undo-alt"></i></button>
      </div>
    </div>
  </div>
</div>


<!-- Địa Chỉ modal -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" data-bs-backdrop="static"
     aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel4" style="color: white">Địa Chỉ Nhận</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div ng-repeat="diaChiNhanHang in listDiaChiNhan">
          <div class="border-bottom-1 mb-3 ">
            <div class="d-flex justify-content-between">
              <div>
                <div class="d-flex align-items-center">
                  <h5 class="mb-0">{{diaChiNhanHang.hoTen}}</h5> -
                  <p class="font-size-16-ncl  mb-0 ps-3">{{diaChiNhanHang.soDienThoaiNhan}}</p>
                </div>
                <h5 class="font-size-16-ncl">
                  {{diaChiNhanHang.diaChiNhan}}
                </h5>
                <h5 class="font-size-14-ncl">
                  Xã <span>{{diaChiNhanHang.wards}}</span>, Huyện
                  <span>{{diaChiNhanHang.districts}}</span>, <span>{{diaChiNhanHang.provinces}}</span>
                </h5>
                <div class="mb-2">
                            <span class="badge-custom" ng-show="diaChiNhanHang.trangThai == 1">
                                {{diaChiNhanHang.trangThai == 1 ? 'Mặc Định' : 'Không áp dụng'}}
                            </span>
                </div>
              </div>
              <div>
                <div class="d-flex">
                  <button class="btn btn-outline-dark" data-bs-dismiss="modal"  ng-click="updateDiaChiNhan(diaChiNhanHang)">Chọn</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="fas fa-chevron-left"></i>Trở về</button>
        <button class="btn btn-dark" data-bs-target="#exampleModalToggle4" data-bs-dismiss="modal" data-bs-toggle="modal"><i class="fas fa-plus"></i> Thêm mới</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" data-bs-backdrop="static"
     aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel3" style="color: white">Địa chỉ mới</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputEnd"
                   ng-model="thongTinNhanHang.diaChiNhan" disabled>
            <label for="floatingInputEnd">Địa giao hiện tại:</label>
          </div>
        </div>

        <div class="row">
          <div class="mb-3">
            <div class="form-floating">
              <select class="form-select" id="floatingSelect1"
                      aria-label="Floating label select example"
                      name="provinces" ng-model="diaChiNhanHangMoi.provinces"
                      ng-options="province.ten  for province in provinces"
                      ng-change="changeDistrict()"></select>
              <label for="floatingSelect1">Tỉnh/Thành Phố<span class="required">(*)</span>:</label>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-floating">
              <select class="form-select" id="floatingSelect2"
                      aria-label="Floating label select example"
                      name="districts" ng-model="diaChiNhanHangMoi.districts"
                      ng-options="district.ten for district in districts"
                      ng-change="changeWards()"></select>
              <label for="floatingSelect2">Quận/Huyện<span class="required">(*)</span>:</label>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-floating">
              <select class="form-select" id="floatingSelect3"
                      aria-label="Floating label select example"
                      name="wards" ng-model="diaChiNhanHangMoi.wards"
                      ng-options="ward.ten for ward in wards"></select>
              <label for="floatingSelect3">Phường/Xã<span class="required">(*)</span>:</label>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="addDress" name="addDress"
                     ng-model="diaChiNhanHangMoi.addDress">
              <label for="addDress">Chi Tiết<span class="required">(*)</span>:</label>
              <small id="error-message-addDress" style="color: red;"></small>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-target="#exampleModalToggle3" data-bs-dismiss="modal"><i class="fas fa-chevron-left"></i> Trở về</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-disabled="checkAddDress()"
                ng-click="saveDiaChi()"><i class="fas fa-check"></i> Lưu
        </button>
      </div>
    </div>
  </div>
</div>