<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đợt giảm giá</title>

    <!-- Pagination -->
    <link rel="stylesheet" href="/pagination/pagination.css">
    <script src="/pagination/pagination.min.js" defer></script>
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--AngularJS-->
    <script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/angular-1.8.2/angular-route.min.js"></script>
    <!--Toastr-->
    <script src="/toastr/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/toastr/toastr/build/toastr.min.css">
    <script src="/toastr/toastr/build/toastr.min.js"></script>
    <script src="/toastr/toastr/build/toastr.min.js"></script>

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/css/all.min.css">

    <!-- Global -->
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global-style.css">
    <script src="/js/httpInterceptor.js" defer></script>

</head>

<body>
<div ng-view></div>
<script src="/js/khuyenmai/index.js"></script>
</body>

</html>