<div>
    <label for="seachText">Tên: </label><input id="seachText"  type="text" ng-model="searchText" placeholder="Nhập từ khóa">
    <button ng-click="search()">Tìm kiếm</button>
</div>

<a class="btn btn-primary" href="#/add">Thêm cô giày</a>

<h1>Danh sách cổ giày</h1>

<div class="d-flex justify-content-start">
    <div class="custom-radio">
        <input type="radio" id="all" name="status" ng-model="status" value="-1" ng-checked="status != 0 && status != 1" ng-change="changeRadio(-1)">
        <label class="radio-label" for="all">Tất cả</label>
    </div>

    <div class="custom-radio">
        <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 1" ng-change="changeRadio(1)">
        <label class="radio-label" for="active">Đang kinh doanh</label>
    </div>

    <div class="custom-radio">
        <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 0" ng-change="changeRadio(0)">
        <label class="radio-label" for="disable">Ngừng kinh doanh</label>
    </div>
</div>

<div>
    <table class="table align-middle text-center" border="1">
        <tr>
            <th>Tên</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>

        <tr ng-repeat="coGiay in coGiays">
            <td>{{coGiay.ten}}</td>
            <td>{{coGiay.trangThai == 1? "Đang kinh doanh" : "Ngừng khinh doanh"}}</td>
            <td>
                <a class="btn btn-info" ng-href="#/detail/{{coGiay.id}}">Chi tiết</a>
                <a class="btn btn-info" ng-href="#/update/{{coGiay.id}}">Cập nhật</a>
            </td>
        </tr>
    </table>

    <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage" data-max-size="maxSize"
        data-boundary-links="true">
    </div>



</div>