
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .baohanh {
        max-width: 3000px; /* Đặt chiều rộng tối đa của form */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left; /* Đặt văn bản ở bên trái */
        margin: 40px;
    }

    h1 {
        text-align: center; /* Căn giữa tiêu đề */
    }

    p {
        font-size: 16px; /* Phông chữ lớn hơn */
        margin: 10px 0; /* Tăng khoảng cách trên và dưới của các đoạn văn bản */
    }
</style>

<div class="container">
    <div class="baohanh">
        <h1>Chính sách bảo hành </h1>
        <p>1. Chúng tôi tiếp nhận đổi size cho khách hàng khi mua hàng tại TyHi Sneaker</p>
        <p>2. Thời gian đổi 5-7 ngày kể từ lúc tiếp nhận thông tin</p>
        <p>3. Mọi chi phí vận chuyển phát sinh do khách hàng tự chi trả.</p>
        <p>* Các chính sách có thể thay đổi tùy theo chương trình khuyến mại.</p>
    </div>

</div>