<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 100vh;*/
    }

    .doitra {
        max-width: 2000px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        margin: 40px;
    }

    h1 {
        text-align: center;
    }

    p {
        font-size: 16px;
        margin: 10px 0;
    }

    ul {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
    }

    strong {
        font-weight: bold;
    }
</style>

<div class="container">

    <div class="doitra">
        <h1> Chính sách đổi trả hàng</h1>
        <p>Loại sản phẩm: Sản phẩm nguyên giá (Không áp dụng cho sản phẩm mua trong thời gian khuyến mại và giảm giá)</p>
        <p>Thời gian đổi sản phẩm: trong vòng 03 ngày kể từ ngày mua hàng hoặc ngày nhận hàng Online(Ngày nhận hàng Online
            theo xác nhận đơn vị chuyển hàng)</p>
        <p><strong>Quy cách sản phẩm:</strong></p>
        <ul>
            <li>Sản phẩm được mua có hóa đơn mua hàng còn nguyên vẹn, không bị chỉnh sửa.</li>
            <li>Sản phẩm phải còn nguyên vẹn, nguyên tem mác, chưa qua sử dụng, sửa chữa., giặt tẩy, không dơ bẩn, hư hỏng,
                có mùi lạ.</li>
        </ul>
        <p><strong>Các sản phẩm không nhận đổi: (đối với sản phẩm chưa qua sử dụng)</strong></p>
        <ul>
            <li>Thời gian mua hàng hoặc nhận hàng quá 03 ngày.</li>
            <li>Không có hóa đơn mua hàng.</li>
            <li>Nhãn mác không còn nguyên vẹn, các phụ kiện của sản phẩm không còn đầy đủ hoặc bị hư hại do việc sử dụng
                không theo hướng dẫn trên sản phẩm.</li>
            <li>Sản phẩm giảm giá.</li>
        </ul>
        <p><strong>Giá trị sản phẩm đổi:</strong></p>
        <ul>
            <li>Đổi 01 lần duy nhất cho mỗi sản phẩm.</li>
            <li>Giá trị sản phẩm bằng hoặc cao hơn giá trị sản phẩm đã đổi và thanh toán số tiền chênh lệch.</li>
            <li>Sản phẩm đã mua không trả lại.</li>
        </ul>
        <p><strong>Địa điểm đổi hàng:</strong> Các cửa hàng trong hệ thống luckstore.com</p>
        <p><strong>Cửa hàng: </strong> 458 Minh Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Hà Nội.
        </p>
        <p><strong>Quy định chung:</strong></p>
        <p>Ngoài sản phẩm lỗi từ phía sản xuất, luckstore.com không giải quyết bất cứ trường hợp nào về việc trả sản phẩm.
            luckstore.com không hoàn trả lại tiền dưới bất kỳ hình thức nào. Trường hợp phát sinh phí thêm phí vận chuyển,
            khách hàng vui lòng thanh toán.</p>
        <p><strong>* Các chính sách có thể thay đổi tùy theo chương trình khuyến mại.</strong></p>
    </div>

</div>