<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 100vh;*/
    }

    .phuongthucthanhtoan {
        max-width: 1500px;
        padding: 25px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        margin: 40px;
    }

    h1 {
        text-align: center;
    }

    p {
        font-size: 16px;
        margin: 15px 0;
    }

    ul {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    strong {
        font-weight: bold;
    }
</style>


<div class="container">
    <div class="phuongthucthanhtoan">
        <h1>Các hình thức thanh toán của Luck Store</h1>

        <p>Khách hàng có thể lựa chọn một hoặc nhiều hình thức thanh toán cho đơn hàng của mình khi mua sản phẩm trên
            website luckstore.com để thanh toán:</p>
        <p>1.1 Thanh toán trả trước: là hình thức thanh toán trực tuyến mà khách hàng sử dụng để thanh toán cho đơn hàng,
            bao gồm:</p>
        <ul>
            <li>Thanh toán bằng chuyển khoản ngân hàng.</li>
        </ul>
        <p>1.2 Thanh toán trả sau: là hình thức mà khách hàng sử dụng để thanh toán cho đơn hàng khi Express giao hàng,
            bao gồm:</p>
        <ul>
            <li>Thanh toán bằng Tiền mặt.</li>
            <li>Thanh toán bằng chuyển khoản.</li>
        </ul>
        <p><strong>THÔNG TIN THANH TOÁN</strong></p>
        <ul>
            <li>Tên chủ thẻ: NGUYEN DANG CUONG</li>
            <li>Số tài khoản: 107868744158</li>
            <li>Ngân hàng: VietinBank – Chi Nhánh Vĩnh Phúc</li>
        </ul>
    </div>
</div>