<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 100vh;*/
    }

    .lienhe {
        max-width: 1500px;
        padding: 25px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        margin: 40px;
    }

    h1 {
        text-align: center;
    }

    p {
        font-size: 16px;
        margin: 15px 0;
    }

    strong {
        font-weight: bold;
    }
</style>

<div class="container">
<div class="lienhe">
    <p>Cám ơn bạn đã liên hệ với Lucky Store</p>
    <p>Cám ơn bạn đã quan tâm đến Lucky Store cũng như các sản phẩm giày replica 1 1 của chúng tôi. Nếu bạn có nhu cầu
        giải đáp thắc mắc về sản phẩm thì có thể liên hệ ngày qua số hotline <strong>0879898265&nbsp;</strong>(zalo)
        hoặc bạn cũng có thể gửi tin nhắn cho chúng tôi.</p>
    <p>Chúng tôi sẳn sàng trả lời các thắc mặc của các bạn trong thời gian sớm nhất.<br>
        Xin chân thành cám ơn các bạn.</p>
</div>

</div>