<h1>Thêm thương hiệu</h1>

<form name="thuongHieuForm" ng-submit="addChatLieu()">
    <div class="form-group">
        <label for="thuongHieuTen">Tên: </label>
        <input type="text" class="form-control" id="thuongHieuTen" name="ten" ng-model="thuongHieu.ten" ng-maxlength="100" ng-required="true"
            ng-change="change(thuongHieuForm.ten)">
        <small class="text-danger" ng-show="(thuongHieuForm.ten.$dirty || thuongHieuForm.ten.$touched) && thuongHieuForm.ten.$error.required">Không được để
            trống tên</small>
        <small class="text-danger" ng-show="(thuongHieuForm.ten.$dirty || thuongHieuForm.ten.$touched) && thuongHieuForm.ten.$error.maxlength">Tên không được
            vượt quá 100 ký tự</small>
        <small class="text-danger" ng-show="errors.ten && !thuongHieuForm.ten.$dirty">{{errors.ten}}</small>
    </div>
    <div class="form-group">
        <label for="thuongHieuMoTa">Mô tả: </label>
        <textarea class="form-control" id="thuongHieuMoTa" name="moTa" rows="3" ng-model="thuongHieu.moTa" ng-minlength="3" ng-maxlength="3000" ng-required="true" ng-change="change(thuongHieuForm.moTa)"></textarea>
        <small class="text-danger" ng-show="(thuongHieuForm.moTa.$dirty || thuongHieuForm.moTa.$touched) && thuongHieuForm.moTa.$error.required">Không được để
            trống mô tả</small>
        <small class="text-danger" ng-show="(thuongHieuForm.moTa.$dirty || thuongHieuForm.moTa.$touched) && thuongHieuForm.moTa.$error.minlength">Mô tả không được quá ngắn</small>
        <small class="text-danger" ng-show="(thuongHieuForm.moTa.$dirty || thuongHieuForm.moTa.$touched) && thuongHieuForm.moTa.$error.maxlength">Mô tả không được quá 3000 ký tự</small>
        <small class="text-danger" ng-show="errors.moTa && !thuongHieuForm.moTa.$dirty">{{errors.moTa}}</small>
    </div>

    <div class="form-group">
        <label>Trạng thái: </label>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="thuongHieuTrangThai" name="trangThai" ng-model="thuongHieu.trangThai" ng-true-value="1"
                   ng-false-value="0" ng-init="thuongHieu.trangThai = 1">
            <label class="form-check-label" for="thuongHieuTrangThai">Đang kinh doanh</label>
        </div>
        <small class="text-danger" ng-show="errors.trangThai && !thuongHieuForm.trangThai.$dirty">{{errors.trangThai}}</small>
    </div>
    <button type="submit" class="btn btn-primary">Tạo mới</button>
</form>