<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhân Viên</title>

    <!-- Pagination -->
    <link rel="stylesheet" href="/pagination/pagination.css">
    <script src="/pagination/pagination.min.js" defer></script>
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--AngularJS-->
    <script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/angular-1.8.2/angular-route.min.js"></script>
    <script src="/angular-1.8.2/angular-cookies.js"></script>
    <!--Toastr-->
    <script src="/toastr/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/toastr/toastr/build/toastr.min.css">
    <script src="/toastr/toastr/build/toastr.min.js"></script>
    <script src="/toastr/toastr/build/toastr.min.js"></script>

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/css/all.min.css">

    <!-- Global -->
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global-style.css">
    <script src="/js/httpInterceptor.js" defer></script>

    <link rel="stylesheet" href="/css/base_sidebar/style.min.css">

</head>

<body>
<div class="page-flex">
    <div ng-include="'/pages/admin/nav/aside.html'"></div>

    <div class="main-wrapper">
        <!-- ! Main nav -->
        <div ng-include="'/pages/admin/nav/nav.html'"></div>

        <main class="main">
            <div ng-view></div>
        </main>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/js/tongquan/index.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/angularAppNav.js"></script>
</body>

</html>