<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>XLSX Processing with JavaScript</title>
</head>

<body ng-controller="controller">
{{test}}

<input type="file" id="fileInput" accept=".xlsx, .xls"/>
<button ng-click="processExcel()">Process Excel</button>
<button ng-click="send()">Send</button>

<script src="/excel/xlsx.full.min.js"></script>
<script src="/angular-1.8.2/angular.min.js"></script>

<script>

    const app = angular.module("app", []);
    app.controller('controller', function ($scope, $http) {
        let request = [];
        $scope.test = "test";

        $scope.send = function () {

        }

        $scope.processExcel = async function () {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (!file) {
                alert('Please select an Excel file.');
                return;
            }

            const reader = new FileReader();

            reader.onload = function (e) {
                const data = new Uint8Array(e.target.result);
                const workbook = XLSX.read(data, {type: 'array'});

                // Assume the first sheet is the one you want to process
                const sheetName = workbook.SheetNames[0];
                const sheet = workbook.Sheets[sheetName];

                // Kiểm tra số dòng trong sheet
                const range = XLSX.utils.decode_range(sheet['!ref']);
                let rowCount = range.e.r - range.s.r + 1;

                console.log(`Số dòng trong sheet: ${rowCount}`);

                // Convert sheet data to JSON format
                const jsonData = XLSX.utils.sheet_to_json(sheet, {header: 1});

                // Process the JSON data as needed

                let excelData = [];
                let giayData = {};

                let lastKey;
                // Duyệt qua từng dòng bắt đầu từ dòng thứ 6
                for (let row = 5; row <= range.e.r; row++) {

                    //Lưu dữ liệu của một dòng
                    const giay = {};
                    let colIndex = 0;

                    let rowData = [];

                    giay.ten = getCellData(row, colIndex++);
                    if (!giay.ten && row === 5) {
                        alert("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: row,
                            c: 0
                        }) + ": Tên không được để trống ở dòng đầu tiên")
                        break;
                    } else if (!giay.ten && lastKey) {
                        giay.ten = giayData[lastKey].ten;
                        rowData.push(giay.ten ? '1' : null);
                    } else {

                        rowData.push(giay.ten ? '1' : null);
                        rowData.push(giay.ten ? '1' : null);
                    }
                    giay.image1 = getCellData(row, colIndex++);
                    rowData.push(giay.image1 ? '1' : null);

                    giay.image2 = getCellData(row, colIndex++);
                    rowData.push(giay.image2 ? '1' : null);

                    giay.image3 = getCellData(row, colIndex++);
                    rowData.push(giay.image3 ? '1' : null);

                    giay.image4 = getCellData(row, colIndex++);
                    rowData.push(giay.image4 ? '1' : null);

                    giay.image5 = getCellData(row, colIndex++);
                    rowData.push(giay.image5 ? '1' : null);

                    giay.lotGiay = getCellData(row, colIndex++);
                    rowData.push(giay.lotGiay ? '1' : null);

                    giay.muiGiay = getCellData(row, colIndex++);
                    rowData.push(giay.muiGiay ? '1' : null);

                    giay.coGiay = getCellData(row, colIndex++);
                    rowData.push(giay.coGiay ? '1' : null);

                    giay.thuongHieu = getCellData(row, colIndex++);
                    rowData.push(giay.thuongHieu ? '1' : null);

                    giay.chatLieu = getCellData(row, colIndex++);
                    rowData.push(giay.chatLieu ? '1' : null);

                    giay.dayGiay = getCellData(row, colIndex++);
                    rowData.push(giay.dayGiay ? '1' : null);

                    giay.deGiay = getCellData(row, colIndex++);
                    rowData.push(giay.deGiay ? '1' : null);

                    giay.hashTag = getCellData(row, colIndex++);
                    rowData.push(giay.hashTag ? '1' : null);

                    giay.namSX = getCellData(row, colIndex++);
                    rowData.push(giay.namSX ? '1' : null);

                    giay.moTa = getCellData(row, colIndex++);
                    rowData.push(giay.moTa ? '1' : null);

                    giay.row = row;
                    // Duyệt qua từng ô trong dòng
                    giay.bienTheGiay = {};
                    for (let col = 0; col <= range.e.c - colIndex; col += 5) {
                        if (!getCellData(row, col + colIndex)) {
                            break;
                        }
                        let ms = null, kt = null, sl = null, barcode = null, hinhAnh = null;
                        for (let i = 0; i < 5; i++) {
                            if (i === 0) {
                                ms = getCellData(row, col + i + colIndex);
                                rowData.push(ms ? '1' : null);
                            } else if (i === 1) {
                                kt = getCellData(row, col + i + colIndex);
                                rowData.push(kt ? '1' : null);
                            } else if (i === 2) {
                                sl = getCellData(row, col + i + colIndex);
                            } else if (i === 3) {
                                barcode = getCellData(row, col + i + colIndex);
                            } else {
                                hinhAnh = getCellData(row, col + i + colIndex);
                            }
                        }
                        if (!giay.bienTheGiay.hasOwnProperty(ms + ', ' + kt)) {
                            giay.bienTheGiay[ms + ', ' + kt] = {};
                            giay.bienTheGiay[ms + ', ' + kt].mauSac = ms;
                            giay.bienTheGiay[ms + ', ' + kt].kichThuoc = kt;
                        }
                        giay.bienTheGiay[ms + ', ' + kt].hinhAnh = hinhAnh;
                        giay.bienTheGiay[ms + ', ' + kt].barcode = barcode;
                        giay.bienTheGiay[ms + ', ' + kt].soLuong = sl;

                        giay.bienTheGiay[ms + ', ' + kt].column = col + colIndex;

                    }

                    if (giayData.hasOwnProperty(giay.ten)) {

                        giayData[giay.ten].ten = giay.ten;
                        if (giay.image1) {
                            giayData[giay.ten].image1 = giay.image1;
                        }

                        if (giay.image2) {
                            giayData[giay.ten].image2 = giay.image2;
                        }
                        if (giay.image3) {
                            giayData[giay.ten].image3 = giay.image3;
                        }
                        if (giay.image4) {
                            giayData[giay.ten].image4 = giay.image4;
                        }
                        if (giay.image5) {
                            giayData[giay.ten].image5 = giay.image5;
                        }
                        if (giay.lotGiay) {
                            giayData[giay.ten].lotGiay = giay.lotGiay;
                        }
                        if (giay.muiGiay) {
                            giayData[giay.ten].muiGiay = giay.muiGiay;
                        }
                        if (giay.coGiay) {
                            giayData[giay.ten].coGiay = giay.coGiay;
                        }
                        if (giay.thuongHieu) {
                            giayData[giay.ten].thuongHieu = giay.thuongHieu;
                        }
                        if (giay.chatLieu) {
                            giayData[giay.ten].chatLieu = giay.chatLieu;
                        }
                        if (giay.dayGiay) {
                            giayData[giay.ten].dayGiay = giay.dayGiay;
                        }
                        if (giay.deGiay) {
                            giayData[giay.ten].deGiay = giay.deGiay;
                        }
                        if (giay.hashTag) {
                            giayData[giay.ten].hashTags = giay.hashTag;
                        }
                        if (giay.namSX) {
                            giayData[giay.ten].namSX = giay.namSX;
                        }
                        if (giay.moTa) {
                            giayData[giay.ten].moTa = giay.moTa;
                        }

                        for (const k in giay.bienTheGiay) {
                            if (giayData[giay.ten].bienTheGiay.hasOwnProperty(k)) {
                                giayData[giay.ten].bienTheGiay[k].soLuong = giay.bienTheGiay[k].soLuong;
                                giayData[giay.ten].bienTheGiay[k].barcode = giay.bienTheGiay[k].barcode;
                                giayData[giay.ten].bienTheGiay[k].hinhAnh = giay.bienTheGiay[k].hinhAnh;
                                giay.row = row;
                            } else {
                                giayData[giay.ten].bienTheGiay[k] = giay.bienTheGiay[k];
                            }
                        }

                    } else {
                        lastKey = giay.ten;
                        giayData[giay.ten] = giay;
                        giayData[giay.ten].bienTheGiay = giay.bienTheGiay;
                    }

                    if (!rowData.some(value => value !== null && value !== '')) {
                        console.log('Dừng lại vì dòng đầy đủ trống.', row);
                        rowCount = row;
                        break;
                    }


                }

                function getCellData(row, col) {
                    const cellRef = XLSX.utils.encode_cell({r: row, c: col});
                    const cell = sheet[cellRef];

                    let cellValue = cell ? cell.v : null;
                    if (typeof cellValue === 'string') {
                        cellValue = cellValue.trim();
                    }
                    return cellValue;
                }

                console.log("excel object: ", giayData);

                const requestGiays = [];
                const errors = [];
                const promises = [];
                for (const k in giayData) {
                    if (!giayData[k].ten) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 0
                        }) + ": Tên không được để trống");
                    } else if ((giayData + "").length > 120) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 0
                        }) + ": Tên không được vượt quá 120 ký tự");
                    }

                    if (!giayData[k].lotGiay) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 6
                        }) + ": Lót giày không được để trống");
                    }
                    if (!giayData[k].muiGiay) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 7
                        }) + ": Mũi giày không được để trống");
                    }
                    if (!giayData[k].coGiay) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 8
                        }) + ": Co giày không được để trống");
                    }
                    if (!giayData[k].thuongHieu) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 9
                        }) + ": Thương hiệu không được để trống");
                    }
                    if (!giayData[k].chatLieu) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 10
                        }) + ": Chất liệu không được để trống");
                    }
                    if (!giayData[k].dayGiay) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 11
                        }) + ": Dây giày không được để trống");
                    }
                    if (!giayData[k].deGiay) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 12
                        }) + ": Đế giày không được để trống");
                    }
                    if (!giayData[k].namSX) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 14
                        }) + ": Năm sản xuất không được để trống");
                    }
                    if (!giayData[k].moTa) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 15
                        }) + ": Mô tả không được để trống");
                    } else if ((giayData[k].moTa + "").length > 3000) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 15
                        }) + ": Mô tả không được quá 3000 ký tự");
                    } else if ((giayData[k].moTa + "").length < 3) {
                        errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                            r: giayData[k].row,
                            c: 15
                        }) + ": Mô tả không được ít hơn 3 ký tự");
                    }

                    let filterImages = [giayData[k].image1, giayData[k].image2, giayData[k].image3, giayData[k].image4, giayData[k].image5];
                    filterImages = filterImages.filter(image => image !== null);

                    const numImages = Math.min(filterImages.length, 5);
                    for (let i = 0; i < 5; i++) {
                        giayData[k][`image${i + 1}`] = null;
                    }

                    for (let i = 0; i < numImages; i++) {
                        const columnIndex = i + 1;

                        promises.push(
                            readImageFromURL(filterImages[i])
                                .then(result => {
                                    giayData[k][`image${i + 1}`] = result;
                                })
                                .catch(error => {
                                    console.log(error);
                                    errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                        r: giayData[k].row,
                                        c: columnIndex
                                    }) + ': ' +error.message);
                                })
                        );
                    }


                    giayData[k].mauSacImages = {};
                    giayData[k].bienTheGiays = [];
                    for (const bt in giayData[k].bienTheGiay) {

                        if (!giayData[k].bienTheGiay[bt].mauSac) {
                            errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                r: giayData[k].row,
                                c: giayData[k].bienTheGiay[bt].column
                            }) + ": Màu sắc không được để trống");
                        }

                        if (!giayData[k].bienTheGiay[bt].kichThuoc) {
                            errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                r: giayData[k].row,
                                c: giayData[k].bienTheGiay[bt].column + 1
                            }) + ": Kích thước không được để trống");
                        }
                        if (!giayData[k].bienTheGiay[bt].soLuong) {
                            errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                r: giayData[k].row,
                                c: giayData[k].bienTheGiay[bt].column + 2
                            }) + ": Số lượng không được để trống");
                        }
                        if (!giayData[k].bienTheGiay[bt].barcode) {
                            errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                r: giayData[k].row,
                                c: giayData[k].bienTheGiay[bt].column + 3
                            }) + ": Barcode không được để trống");
                        } else if ((giayData[k].bienTheGiay[bt].barcode + "").length > 20) {
                            errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                r: giayData[k].row,
                                c: giayData[k].bienTheGiay[bt].column + 3
                            }) + ": Barcode không được > 20 ký tự. Barcode không hợp lệ");
                        }

                        if(giayData[k].bienTheGiay[bt].hinhAnh) {
                            promises.push(readImageFromURL(giayData[k].bienTheGiay[bt].hinhAnh)
                                .then(result => {
                                    giayData[k].mauSacImages[giayData[k].bienTheGiay[bt].mauSac] = result;
                                })
                                .catch((error) => {
                                    console.log(error);
                                    errors.push("Lỗi ở dòng " + XLSX.utils.encode_cell({
                                        r: giayData[k].row,
                                        c: giayData[k].bienTheGiay[bt].column + 4
                                    }) + ': ' + error.message)
                                }));
                        }

                        giayData[k].bienTheGiays.push(giayData[k].bienTheGiay[bt]);
                    }

                    giayData[k].bienTheGiay = null;
                    requestGiays.push(giayData[k]);
                }

                Promise.all(promises)
                    .then(() => {
                        console.log("requestGiays: ", requestGiays);
                        if (errors.length > 0) {
                            alert(errors);
                            return;
                        }


                        let dataRequest = JSON.stringify(requestGiays);

                        console.log("Sending");
                        const start = new Date().getTime();
                        console.log(request);
                        $http.post("http://localhost:8080/admin/rest/giay/test", dataRequest)
                            .then(function (response) {
                                console.log("response");
                                console.log("time: ", new Date().getTime() - start);
                            })
                            .catch(function (error) {
                                console.log(error);
                                console.log("time: ", new Date().getTime() - start);
                            });
                    })



                function readImageFromURL(url) {

                    if(url.startsWith("https://drive.google.com")) {
                        url = url.replace("https://drive.google.com/file/d/", "");
                        const id = url.split("/")[0];
                        url = 'https://lh3.googleusercontent.com/d/' + id;
                    }

                    return new Promise((resolve, reject) => {
                        fetch(url)
                            .then(response => response.blob())
                            .then(blob => {
                                const imageUrlReader = new FileReader();
                                imageUrlReader.onload = function () {
                                    const imageDataURL = imageUrlReader.result;
                                    if (imageDataURL.startsWith('data:image/')) {
                                        resolve(imageDataURL + "");
                                    } else {
                                        reject(new Error('Đường dẫn không phải là hình ảnh'));
                                    }
                                };
                                imageUrlReader.onerror = function (error) {
                                    reject(new Error('Không có quyền truy cập vào đường dẫn'));
                                };
                                imageUrlReader.readAsDataURL(blob);
                            })
                            .catch(error => {
                                reject(new Error('Đường dẫn không hợp lệ'));
                            });
                    });
                }


            };

            reader.readAsArrayBuffer(file);
        }


        function processJsonData(jsonData) {
            // Process the JSON data here
            console.log('JSON Data:', jsonData);
        }
    });


</script>

</body>

</html>