<style>
    #buttons-container {
        display: flex;
    }

    .insideDiv {
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        border: 1px solid rgb(180, 180, 180);
    }

    .button_checked {
        transition: 0.3s all;
        border: 1px solid rgb(0, 0, 0) !important;
    }

    #image-container img {
        margin-bottom: 10px;
    }

    .info {
        max-height: 208px;
        overflow: hidden;
    }

    .text-limit {
        max-height: 60px;
        overflow: hidden;
    }

    .toggle-button {
        background: transparent;
        border: none;
        color: blue;
    }

    .labelTabDelete {
        cursor: pointer;
    }

    .labelTabDelete:hover {
        color: red;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        font-weight: bolder;
        background-color: #fff;
        border-color: #1d1e1e #dee2e6 #fff;
        border-top: 1.5px solid #1d1e1e;
    }

</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div style="margin: 20px;">
    <div class="row">
        <div class="col-md-8 position-relative">
            <div style="position: sticky;top: 0;">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" type="button" ng-repeat="hoaDon in hoaDons">
                                    <a class="nav-link {{selectedHoaDon.id == hoaDon.id? 'active' : ''}}"
                                       aria-current="page" ng-click="selecteHoaDon(hoaDon.id)">HD{{hoaDon.id}}
                                        <label style="transform: translateX(10px)" class="labelTabDelete"
                                               ng-click="deleteHoaDon(hoaDon.id)">
                                            <i class="fas fa-times-circle"></i></label>
                                    </a>
                                </li>
                                <button class="btn px-1" ng-click="createNewHoaDon()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </ul>
                        </div>
                        <div class="cart-table">
                            <table class="table align-middle table-borderless text-center mw-100" border="1">
                                <tr>
                                    <th>#</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá <sup class="text-danger">(vnđ)</sup></th>
                                    <th>Thành tiền <sup class="text-danger">(vnđ)</sup></th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="giaySelect in listGiaySelected">
                                    <td>{{$index + 1}}</td>
                                    <td style="max-width: 400px; overflow: hidden; text-overflow: ellipsis;"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="right" title="{{giaySelect.ten}}">
                                        <div class="d-flex align-items-center">
                                            <p style="text-wrap: nowrap;">({{giaySelect.kichThuoc.ten}} -
                                                {{giaySelect.mauSac.ten}})</p>
                                            <p class="font-size-16 fw-bold ps-2"
                                               style="text-wrap: nowrap;overflow: hidden;text-align: center;text-overflow: ellipsis;">
                                                {{giaySelect.ten}}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" ng-model="giaySelect.soLuongMua"
                                               ng-blur="blurSoLuong(giaySelect)"
                                               onkeypress="nextInput(event)"
                                               class="form-control w-50 m-auto">
                                    </td>
                                    <td>
                                        <span ng-show="giaySelect.khuyenMai > 0">
                                            <span class="position-relative"> {{giaySelect.giaBan | number:0}}
                                                 <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                                       style="transform: translate(0,-90%)!important; padding: 5px;">-{{giaySelect.khuyenMai}}%
                                                </span>
                                            </span>
                                        </span>
                                        <span ng-show="giaySelect.khuyenMai <= 0">{{giaySelect.giaBan | number:0}}<span>
                                    </td>
                                    <td>{{giaySelect.giaBan * giaySelect.soLuongMua | number:0}}</td>
                                    <td>
                                        <button class="btn" ng-click="deleteSelected(giaySelect.id)"><i
                                                class="fas text-danger font-size-16 fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header d-flex flex-row justify-content-end">

                            <button class="btn btn-outline-danger" ng-show="listGiaySelected.length > 0"
                                    ng-click="deleteAllFromCart()">Xóa hết khỏi
                                giỏ hàng
                            </button>
                        </div>

                    </div>
                </div>
                <div class="item-list mt-3 box-shadow-page" style="overflow: hidden;">
                    <div class="p-2">
                        <div class="d-flex align-items-center ">
                            <input type="text" class="form-control w-50" placeholder="search..." ng-model="searchText">
                            <button class="btn btn-custom" ng-click="search()">Tìm kiếm</button>
                            <button class="btn btn-custom mx-2" ng-click="reset()">Nhập lại</button>
                            <button class="btn btn-custom mx-2" ng-click="startScanning()">
                                <i class="fas fa-qrcode"></i></button>
                            <button hidden="true" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop" id="staticBackDropButton">
                            </button>
                        </div>
                        <div class="item row">
                            <div class="col-md-2 mb-2" ng-repeat="giay in giays">
                                <button data-bs-toggle="modal" data-bs-target="#showGiaySelect" id="buttonModalSanPham"
                                        hidden=""></button>
                                <div class="p-2 hover-item" ng-click="addOrder(giay.id)" data-bs-toggle="tooltip"
                                     data-bs-placement="right" title="{{giay.ten}}">
                                    <div class="position-relative" style="text-align: center;">
                                        <img width="60%" class="rounded-3"
                                             style="height: 85px; width: 85px; object-fit: contain"
                                             ng-src="{{giay.lstAnh && giay.lstAnh.length > 0 ? giay.lstAnh[0] : 'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh giày">
                                    </div>
                                    <p class="mt-1"
                                       style="text-wrap: nowrap;overflow: hidden;text-align: center;text-overflow: ellipsis;">
                                        {{giay.ten}}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                                 data-current-page="curPage"
                                 data-max-size="maxSize"
                                 data-boundary-links="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div  class="box-search box-shadow-page">-->
            <!--                <ul>-->
            <!--                    <li ng-repeat="giay in filterGiay">-->
            <!--                        <p ng-repeat="bienTheGiay in giay.lstBienTheGiay" class="mb-4">-->
            <!--                            {{ giay.ten.concat('( ', bienTheGiay.kichThuoc.ten, ' x ', bienTheGiay.mauSac.ten, ')') }}-->
            <!--                        </p>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>
        <div class="col-md-4">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#banTaiQuay"
                       type="button" role="tab" aria-controls="nav-home" aria-selected="true">Bán tại quầy
                    </a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#datHang"
                       type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Đặt hàng
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="banTaiQuay" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form ng-submit="taoHoaDon(1)">
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Hóa đơn: <strong
                                        ng-show="selectedHoaDon.id">HD{{selectedHoaDon.id}}</strong></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Tổng tiền:
                                    <strong ng-show="tongTien > 0" class="text-info font-size-16">
                                        {{tongTien | number:0}} <sup class="text-danger">(vnđ)</sup></strong></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Khách Hàng:
                                    <strong class="bg-light" ng-show="selectedKhachHang.id"
                                            style="border-radius: 5px; padding: 2px 5px !important;max-width: 60%; overflow: hidden;text-overflow: ellipsis; display: inline">
                                        {{selectedKhachHang.hoTen}} - ({{selectedKhachHang.soDienThoai}})
                                        <span class="badge badge-light p-0 labelTabDelete"
                                              ng-click="deleteSelectedKhachHang()">
                                <i class="fas fa-times-circle px-2"></i>
                                </span>
                                    </strong>
                                </label>
                                <button class="btn-primary badge" type="button" style="padding: 2px"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalKhachHang"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Ưu đãi:
                                    <span ng-show="uuDai.id">
                                <strong class="text-danger">
                                - {{uuDai.uuDai}}%
                                 <span class="badge rounded-pill bg-primary"
                                       style="transform: translate(0,-15%)!important;">
                                    {{uuDai.tenHang}}
                                 </span>
                                </strong>
                            </span>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0" data-bs-toggle="modal"
                                       data-bs-target="#modalDotGiamGia">Đợt giảm giá
                                    <sup class="text-info" type="button"
                                         data-bs-toggle="tooltip" data-bs-placement="right"
                                         title="Đợt giảm giá đang hoạt động"><i class="fas fa-info-circle"></i></sup>

                                    :
                                    <strong ng-show="dotGiamGiaSelect.id" class="text-danger">-
                                        {{dotGiamGiaSelect.phanTramGiam}}%</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Tổng tiền giảm:</label>
                                <span ng-show="tongTien > 0"><strong class="text-danger">- {{tongTienGiam | number : 0}}<sup
                                        class="text-danger">(vnđ)</sup></strong></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Tiền phải trả:</label>
                                <span ng-show="tongTien > 0"><strong class="text-success">{{tongTienPhaiTra | number : 0}}<sup
                                        class="text-danger">(vnđ)</sup></strong></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label" style="margin-bottom: 0">Phương Thức Thanh Toán</label>
                                <select class="form-select" ng-model="phuongThucTaiQuay"
                                        ng-change="changePhuongThucTaiQuay()"
                                        ng-options="phuongThuc as phuongThuc.value for phuongThuc in phuongThucTaiQuays">
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label" style="margin-bottom: 0">Tiền chuyển khoản:
                                    <strong ng-show="chuyenKhoanTaiQuay > 0" class="text-info font-size-16">
                                        {{chuyenKhoanTaiQuay | number:0}} <sup class="text-danger">(vnđ)</sup></strong></label>
                                    <input type="number" class="form-control" ng-change="changeChuyenKhoanTaiQuay()" ng-model="chuyenKhoanTaiQuay" ng-disabled="disabledChuyenKhoanTaiQuay">
                                </label>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label" style="margin-bottom: 0">Tiền khách đưa:
                                    <strong ng-show="tienMatTaiQuay > 0" class="text-info font-size-16">
                                        {{tienMatTaiQuay | number:0}} <sup class="text-danger">(vnđ)</sup></strong>
                                </label>
                                <input type="number" class="form-control" ng-change="changeTienMatTaiQuay()" ng-model="tienMatTaiQuay" ng-disabled="disabledTienMatTaiQuay">
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <label class="form-label" style="margin-bottom: 0">Tiền thừa:
                                    <strong ng-show="tienThuaTaiQuay" class="font-size-16" ng-class="tienThuaTaiQuay < 0 ? 'text-danger' : 'text-success'">
                                        {{tienThuaTaiQuay | number:0}} <sup>(vnđ)</sup></strong></label>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" style="margin-bottom: 0">Ghi chú</label>
                                    <textarea class="form-control" rows="3" ng-model="ghiChuTaiQuay" ng-maxlength="255"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-dark" ng-click="thanhToanTaiQuay()">Thanh toán</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="datHang" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <form ng-submit="taoHoaDon(2)">
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Hóa đơn: <strong
                                        ng-show="selectedHoaDon.id">HD{{selectedHoaDon.id}}</strong></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Tổng tiền:
                                    <strong ng-show="tongTien > 0" class="text-info">
                                        {{tongTien | number:0}} <sup class="text-danger">(vnđ)</sup></strong></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Khách Hàng:
                                    <strong class="bg-light" ng-show="selectedKhachHang.id"
                                            style="border-radius: 5px; padding: 2px 5px !important;max-width: 60%; overflow: hidden;text-overflow: ellipsis; display: inline">
                                        {{selectedKhachHang.hoTen}} - ({{selectedKhachHang.soDienThoai}})
                                        <span class="badge badge-light p-0 labelTabDelete"
                                              ng-click="deleteSelectedKhachHang()">
                                <i class="fas fa-times-circle px-2"></i>
                                </span>
                                    </strong>
                                </label>
                                <button class="btn-primary badge" type="button" style="padding: 2px"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalKhachHang"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Ưu đãi:
                                    <span ng-show="uuDai.id">
                                <strong class="text-danger">
                                - {{uuDai.uuDai}}%
                                 <span class="badge rounded-pill bg-primary"
                                       style="transform: translate(0,-15%)!important;">
                                    {{uuDai.tenHang}}
                                 </span>
                                </strong>
                            </span>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0" data-bs-toggle="modal"
                                       data-bs-target="#modalDotGiamGia">Đợt giảm giá
                                    <sup class="text-info" type="button"
                                         data-bs-toggle="tooltip" data-bs-placement="right"
                                         title="Đợt giảm giá đang hoạt động"><i class="fas fa-info-circle"></i></sup>

                                    :
                                    <strong ng-show="dotGiamGiaSelect.id" class="text-danger">-
                                        {{dotGiamGiaSelect.phanTramGiam}}%</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Tổng tiền giảm:</label>
                                <span ng-show="tongTien > 0"><strong class="text-danger">- {{tongTienGiam | number : 0}}<sup
                                        class="text-danger">(vnđ)</sup></strong></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" style="margin-bottom: 0">Tiền phải trả:</label>
                                <span ng-show="tongTien > 0"><strong class="text-success">- {{tongTienPhaiTra | number : 0}}<sup
                                        class="text-danger">(vnđ)</sup></strong></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div>
                                Thông tin nhận hàng:
                                <a data-bs-toggle="modal" data-bs-target="#modalThongTinNhanHang"
                                   style="color: blue; text-decoration: underline; font-size: smaller; cursor: pointer">Thay
                                    đổi</a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label" style="margin-bottom: 0">Phương Thức Thanh Toán</label>
                                <select class="form-select">
                                    <option value="1">Tiền Mặt</option>
                                    <option value="3">Chuyển Khoản</option>
                                    <option value="3">Kết hợp</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div>
                                <label class="form-label" style="margin-bottom: 0">Phí Vận Chuyển</label>
                                <input type="checkbox" ng-model="phiVanChuyen">
                                <input type="text" class="form-control" ng-disabled="!phiVanChuyen">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" style="margin-bottom: 0">Tiền chuyển khoản:</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-6">
                                <label class="form-label" style="margin-bottom: 0">Tiền mặt</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <label class="form-label" style="margin-bottom: 0">Tiền thừa: </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" style="margin-bottom: 0">Ghi chú</label>
                                    <textarea class="form-control" rows="3" ng-model="ghiChuChuyenKhoan"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-dark">Thanh toán</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="showGiaySelect" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeModalSanPham"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div id="" class=" col-md-4">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" id="image-container">
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="side-left">
                            <div class="title">
                                <h5 class="py-3">{{giayDetail.ten}} </h5>
                                <h5 class="py-3">Giá <sup class="text-danger">vnđ</sup>:
                                    <span id="price-product" class="py-3">
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan | number:0}}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}
                                        </span>
                                    </span>
                                </h5>
                                <h5 class="py-3">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span></h5>
                            </div>
                            <div id="buttons-container"></div>
                            <div id="product-info"></div>
                            <div class="size-selector">
                                <h2>Kích thước:</h2>
                                <div id="sizeButtons"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addGiay()">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
</div>


<!--    Camera modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Quét mã vạch</h5>
                <button type="button" class="btn-close" id="closeModalCamera"
                        ng-click="closeModalCamera()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto">
                <video id="video" height="720" autoplay></video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        ng-click="closeModalCamera()">Close
                </button>
            </div>
        </div>
    </div>
</div>


<!--Modal Khách Hàng-->
<div class="modal fade" id="modalKhachHang" tabindex="-1" aria-labelledby="modalKhachHangLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalKhachHangLabel">Chọn khách hàng</h5>
                <button type="button" class="btn-close" id="closeModalKhachHang" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-chon-khach-hang" data-bs-toggle="tab"
                           data-bs-target="#chon-khach-hang" type="button" role="tab"
                           aria-controls="chon-khach-hang" aria-selected="true">Tìm kiếm khách hàng
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-them-moi-khach-hang" data-bs-toggle="tab"
                           data-bs-target="#them-moi-khach-hang" type="button" role="tab"
                           aria-controls="them-moi-khach-hang" aria-selected="false">Thêm khách hàng mới
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="chon-khach-hang" role="tabpanel"
                         aria-labelledby="pills-chon-khach-hang">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nhập tên, sđt" name="khachHangSearch"
                                   aria-label="Nhập tên, sđt" aria-describedby="khach-hang-search"
                                   ng-model="khachHangSearch">
                            <div class="input-group-append">
                                <button class="input-group-text" id="khach-hang-search" ng-click="searchKhachHang()">Tìm
                                    kiếm
                                </button>
                            </div>
                        </div>

                        <div ng-show="khachHangs.length > 0" class="d-flex justify-content-center">
                            <table>
                                <tr>
                                    <th>#</th>
                                    <th>Họ tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>

                                <tr ng-repeat="khachHang in khachHangs">
                                    <td>{{$index + 1}}</td>
                                    <td>{{khachHang.hoTen}}</td>
                                    <td>{{khachHang.ngaySinh}}</td>
                                    <td>{{khachHang.soDienThoai}}</td>
                                    <td>{{khachHang.email}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="selectKhachHang(khachHang)">Chọn
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="them-moi-khach-hang" role="tabpanel"
                         aria-labelledby="pills-them-moi-khach-hang">


                        <form name="khachHangForm" ng-submit="addKhachHang()">
                            <div class="form-group">
                                <label for="khachHangHoTen">Tên</label>
                                <input type="text" class="form-control" id="khachHangHoTen" name="hoTen"
                                       ng-model="khachHang.hoTen"
                                       ng-maxlength="50" ng-required="true" ng-change="change(khachHangForm.hoTen)">
                                <small class="error-message"
                                       ng-show="(khachHangForm.hoTen.$dirty || khachHangForm.hoTen.$touched) && khachHangForm.hoTen.$error.required">Không
                                    được để
                                    trống tên</small>
                                <small class="error-message"
                                       ng-show="(khachHangForm.hoTen.$dirty || khachHangForm.hoTen.$touched) && khachHangForm.hoTen.$error.maxlength">Số
                                    điện thoại không được vượt quá 20 ký tự</small>
                                <small class="error-message" ng-show="errors.ten">{{errors.ten}}</small>

                                <div class="form-group">
                                    <label for="khachHangGioiTinh">Giới Tính: </label>
                                    <input type="radio" id="khachHangGioiTinh" value="true" name="gioiTinh"
                                           ng-model="khachHang.gioiTinh" ng-required="true"
                                           ng-change="change(khachHangForm.gioiTinh)"
                                           ng-checked="khachHang.gioiTinh == true">Nam
                                    <input type="radio" id="khachHangGioiTinh1" value="false" name="gioiTinh"
                                           ng-model="khachHang.gioiTinh" ng-required="true"
                                           ng-change="change(khachHangForm.gioiTinh)"
                                           ng-checked="khachHang.gioiTinh == false">Nữ
                                    <small class="error-message"
                                           ng-show="(khachHangForm.gioiTinh.$dirty || khachHangForm.gioiTinh.$touched) && khachHangForm.gioiTinh.$error.required">
                                        Không được để trống giới tính</small>
                                    <small class="error-message"
                                           ng-show="errors.gioiTinh && !khachHangForm.gioiTinh.$dirty">{{errors.gioiTinh}}</small>
                                </div>

                                <div class="form-group">
                                    <label for="khachHangNgaySinh">Ngày Sinh: </label>
                                    <input type="date" class="form-control" id="khachHangNgaySinh" name="ngaySinh"
                                           ng-model="khachHang.ngaySinh" ng-required="true"
                                           ng-change="change(khachHangForm.ngaySinh)">
                                    <small class="error-message"
                                           ng-show="(khachHangForm.ngaySinh.$dirty || khachHangForm.ngaySinh.$touched) && khachHangForm.ngaySinh.$error.required">
                                        Không được để trống ngày sinh</small>
                                    <small class="error-message"
                                           ng-show="errors.ngaySinh && !khachHangForm.ngaySinh.$dirty">{{errors.ngaySinh}}</small>
                                </div>

                                <div class="form-group">
                                    <label for="khachHangSoDienThoai">Số điện thoại: </label>
                                    <input type="text" class="form-control" id="khachHangSoDienThoai" name="soDienThoai"
                                           ng-model="khachHang.soDienThoai" ng-required="true"
                                           ng-change="change(khachHangForm.soDienThoai)">
                                    <small class="error-message"
                                           ng-show="(khachHangForm.soDienThoai.$dirty || khachHangForm.soDienThoai.$touched) && khachHangForm.soDienThoai.$error.required">
                                        Không được để trống số điện thoại</small>
                                    <small class="error-message"
                                           ng-show="errors.soDienThoai && !khachHangForm.soDienThoai.$dirty">{{errors.soDienThoai}}</small>
                                </div>

                                <div class="form-group">
                                    <label for="khachHangEmail">Email: </label>
                                    <input type="text" class="form-control" id="khachHangEmail" name="email"
                                           ng-model="khachHang.email" ng-required="true"
                                           ng-change="change(khachHangForm.email)">
                                    <small class="error-message"
                                           ng-show="(khachHangForm.email.$dirty || khachHangForm.email.$touched) && khachHangForm.email.$error.required">
                                        Không được để trống số điện thoại</small>
                                    <small class="error-message" ng-show="errors.email && !khachHangForm.email.$dirty">{{errors.email}}</small>
                                </div>

                                <div class="form-group">
                                    <label for="khachHangTrangThai">Trạng thái: </label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="khachHangTrangThai"
                                               name="trangThai" ng-model="khachHang.trangThai" ng-true-value="1"
                                               ng-false-value="0" ng-init="khachHang.trangThai = 1">
                                        <label class="form-check-label" for="khachHangTrangThai">Hoạt động</label>
                                    </div>
                                    <small class="error-message"
                                           ng-show="errors.trangThai && !khachHangForm.trangThai.$dirty">{{errors.trangThai}}</small>
                                </div>

                                <button type="submit" class="btn btn-primary">Tạo mới</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDotGiamGia" tabindex="-1" aria-labelledby="modalDotGiamGiaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDotGiamGiaLabel">Đợt giảm giá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card" ng-repeat="dgg in dotGiamGias">
                    <div class="card-header" style="font-weight: bolder; font-size: 125%">
                        {{dgg.ten}}
                    </div>
                    <div class="card-body mt-3">
                        <blockquote class="blockquote p-2" ng-repeat="dk in dgg.dieuKienResponses">
                            <footer class="blockquote-footer">Giảm <cite title="Source Title" class="text-danger"
                                                                         style="font-weight: bolder">{{dk.phanTramGiam}}%</cite>
                                cho hóa đơn trên {{dk.tongHoaDon | number : 0}} <sup class="text-danger">(vnđ)</sup>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalThongTinNhanHang" tabindex="-1" aria-labelledby="modalThongTinNhanHangLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalThongTinNhanHangLabel">Thông tin nhận hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
