<style>
    #buttons-container {
        display: flex;
    }

    .insideDiv {
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        border: 1px solid rgb(180, 180, 180);
    }

    .button_checked {
        transition: 0.3s all;
        border: 1px solid rgb(0, 0, 0) !important;
    }

    #image-container img {
        margin-bottom: 10px;
    }

    .info {
        max-height: 208px;
        overflow: hidden;
    }

    .text-limit {
        max-height: 60px;
        overflow: hidden;
    }

    .toggle-button {
        background: transparent;
        border: none;
        color: blue;
    }

    .labelTabDelete {
        cursor: pointer;
    }

    .labelTabDelete:hover {
        color: red;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        font-weight: bolder;
        background-color: #fff;
        border-color: #1d1e1e #dee2e6 #fff;
        border-top: 1.5px solid #1d1e1e;
    }

</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div style="margin: 20px;">
    <div class="row">
        <div class="col-md-8 position-relative">
            <div style="position: sticky;top: 0;">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" type="button" ng-repeat="hoaDon in hoaDons">
                                    <a class="nav-link {{selectedHoaDon.id == hoaDon.id? 'active' : ''}}"
                                       aria-current="page" ng-click="selecteHoaDon(hoaDon.id)">HD{{hoaDon.id}}
                                        <label style="transform: translateX(10px)" class="labelTabDelete"
                                               ng-click="deleteHoaDon(hoaDon.id)">
                                            <i class="fas fa-times-circle"></i></label>
                                    </a>
                                </li>
                                <button class="btn px-1" ng-click="createNewHoaDon()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </ul>
                        </div>
                        <div class="cart-table">
                            <table class="table align-middle table-borderless text-center mw-100" border="1">
                                <tr>
                                    <th>#</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá <sup class="text-danger">(vnđ)</sup></th>
                                    <th>Thành tiền <sup class="text-danger">(vnđ)</sup></th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="giaySelect in listGiaySelected">
                                    <td>{{$index + 1}}</td>
                                    <td style="max-width: 400px; overflow: hidden; text-overflow: ellipsis;"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="right" title="{{giaySelect.ten}}">
                                        <div class="d-flex align-items-center">
                                            <p style="text-wrap: nowrap;">({{giaySelect.kichThuoc.ten}} -
                                                {{giaySelect.mauSac.ten}})</p>
                                            <p class="font-size-16 fw-bold ps-2"
                                               style="text-wrap: nowrap;overflow: hidden;text-align: center;text-overflow: ellipsis;">
                                                {{giaySelect.ten}}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" ng-model="giaySelect.soLuongMua"
                                               ng-blur="blurSoLuong(giaySelect)"
                                               onkeypress="nextInput(event)"
                                               class="form-control w-50 m-auto">
                                    </td>
                                    <td>
                                        <span ng-show="giaySelect.khuyenMai > 0">
                                            <span class="position-relative"> {{giaySelect.giaBan | number:0}}
                                                 <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                                       style="transform: translate(0,-90%)!important; padding: 5px;">-{{giaySelect.khuyenMai}}%
                                                </span>
                                            </span>
                                        </span>
                                        <span ng-show="giaySelect.khuyenMai <= 0">{{giaySelect.giaBan | number:0}}<span>
                                    </td>
                                    <td>{{giaySelect.giaBan * giaySelect.soLuongMua | number:0}}</td>
                                    <td>
                                        <button class="btn" ng-click="deleteSelected(giaySelect.id)"><i
                                                class="fas text-danger font-size-16 fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header d-flex flex-row justify-content-end">

                            <button class="btn btn-outline-danger" ng-show="listGiaySelected.length > 0"
                                    ng-click="deleteAllFromCart()">Xóa hết khỏi
                                giỏ hàng
                            </button>
                        </div>

                    </div>
                </div>
                <div class="item-list mt-3 box-shadow-page" style="overflow: hidden;">
                    <div class="p-2">
                        <div class="d-flex align-items-center ">
                            <input type="text" class="form-control w-50" placeholder="search..." ng-model="searchText">
                            <button class="btn btn-custom" ng-click="search()">Tìm kiếm</button>
                            <button class="btn btn-custom mx-2" ng-click="reset()">Nhập lại</button>
                            <button class="btn btn-custom mx-2" ng-click="startScanning()">
                                <i class="fas fa-qrcode"></i></button>
                            <button hidden="true" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop" id="staticBackDropButton">
                            </button>
                        </div>
                        <div class="item row">
                            <div class="col-md-2 mb-2" ng-repeat="giay in giays">
                                <button data-bs-toggle="modal" data-bs-target="#showGiaySelect" id="buttonModalSanPham"
                                        hidden=""></button>
                                <div class="p-2 hover-item" ng-click="addOrder(giay.id)" data-bs-toggle="tooltip"
                                     data-bs-placement="right" title="{{giay.ten}}">
                                    <div class="position-relative" style="text-align: center;">
                                        <img width="60%" class="rounded-3"
                                             style="height: 85px; width: 85px; object-fit: contain"
                                             ng-src="{{giay.lstAnh && giay.lstAnh.length > 0 ? giay.lstAnh[0] : 'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                                             alt="Ảnh giày">
                                    </div>
                                    <p class="mt-1"
                                       style="text-wrap: nowrap;overflow: hidden;text-align: center;text-overflow: ellipsis;">
                                        {{giay.ten}}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                                 data-current-page="curPage"
                                 data-max-size="maxSize"
                                 data-boundary-links="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div  class="box-search box-shadow-page">-->
            <!--                <ul>-->
            <!--                    <li ng-repeat="giay in filterGiay">-->
            <!--                        <p ng-repeat="bienTheGiay in giay.lstBienTheGiay" class="mb-4">-->
            <!--                            {{ giay.ten.concat('( ', bienTheGiay.kichThuoc.ten, ' x ', bienTheGiay.mauSac.ten, ')') }}-->
            <!--                        </p>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>
        <div class="col-md-4">
            <form ng-submit="taoHoaDon()">
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label">Hóa đơn: <span
                                ng-show="selectedHoaDon.id">HD{{selectedHoaDon.id}}</span></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Khuyến mại (%)</label>
                            <select class="form-select" aria-label="Select Khuyến mại">

                            </select>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-end">
                        <div class="mb-3">
                            <label class="form-label">Tiền giảm: <sup class="text-danger">(vnđ)</sup>:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Khách Hàng</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" ng-model="hoaDon.khachHang">
                                <button class="btn btn-custom" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" ng-model="hoaDon.soDienThoai">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Tỉnh</label>
                            <select class="form-select" ng-model="hoaDon.xa">
                                <option value="1">Tân Hòa</option>
                                <option value="2">Cộng Hòa</option>
                                <option value="3">Tân Phú</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Huyện</label>
                            <select class="form-select" ng-model="hoaDon.huyen">
                                <option value="1">Quốc Oai</option>
                                <option value="2">Thạch Thất</option>
                                <option value="3">Chương Mỹ</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Xã</label>
                            <select class="form-select" ng-model="hoaDon.tinh">
                                <option value="1">Bà Rịa</option>
                                <option value="2">KonTum</option>
                                <option value="3">Đak Lak</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Địa Chỉ Chi Tiết</label>
                            <textarea class="form-control" rows="9" ng-model="hoaDon.diaChiChiTiet"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Khuyến Mãi ( % )</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Tổng Tiền Sản Phẩm ( VNĐ )</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Phương Thức Mua Hàng</label>
                            <select class="form-select">
                                <option value="1">Mua Tại Cửa Hàng</option>
                                <option value="3">Mua Online</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Phương Thức Thanh Toán</label>
                            <select class="form-select">
                                <option value="1">Tiền Mặt</option>
                                <option value="3">Chuyển Khoản</option>
                                <option value="3">Kết hợp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Chờ thanh toán
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 d-flex align-items-center">
                        <label class="form-label">Đơn vị vận chuyển</label>
                        <img src="https://file.hstatic.net/200000078829/file/dich_vu_van_chuyen_ghn_express_1_f7f05461de5140f4abf8ab4524fd260f_grande.png"
                             width="100px" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Phí Vận Chuyển</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Tổng Tiền</label>
                            <input type="text" class="form-control" ng-model="tongTien">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Ghi chú</label>
                            <textarea class="form-control" rows="3" ng-model="hoaDon.ghiChu"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark">Tạo Hóa Đơn</button>
            </form>
        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="showGiaySelect" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeModalSanPham"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div id="" class=" col-md-4">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" id="image-container">
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="side-left">
                            <div class="title">
                                <h5 class="py-3">{{giayDetail.ten}} </h5>
                                <h5 class="py-3">Giá <sup class="text-danger">vnđ</sup>:
                                    <span id="price-product" class="py-3">
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan | number:0}}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}
                                        </span>
                                    </span>
                                </h5>
                                <h5 class="py-3">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span></h5>
                            </div>
                            <div id="buttons-container"></div>
                            <div id="product-info"></div>
                            <div class="size-selector">
                                <h2>Kích thước:</h2>
                                <div id="sizeButtons"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addGiay()">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
</div>


<!--    Camera modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Quét mã vạch</h5>
                <button type="button" class="btn-close" id="closeModalCamera"
                        ng-click="closeModalCamera()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto">
                <video id="video" height="720" autoplay></video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        ng-click="closeModalCamera()">Close
                </button>
            </div>
        </div>
    </div>
</div>

