<style>
    .title-cart {
        text-align: center;
        padding: 4px 0px;
    }

    .navbar {
        border-bottom: 1px solid #d9d9d9;
    }
</style>
<div class="container-fluid" style="background: black;color: white;">
    <div class="email" style="text-align: center;">
        <p class="font-size-14-ncl">BLACK FRIDAY : 30% <a href="" style="text-decoration: none;color: white;">MUA
            NGAY</a></p>
    </div>
</div>
<div class="container-fluid">
    <a href="http://localhost:8080/home#/list" style="color: black; text-decoration: none">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/img/logo_datn.png" width="30px" class="rounded" alt="">
            <h5 class="fw-bold mb-0">LUCKYSTORE</h5>
        </div>
    </a>
</div>
<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
        <div class="" style="text-align: center;">
            <a class="navbar-brand text-decoration-none fw-light font-size-16-ncl text-dark"
               style="border-bottom: 3px solid black;" href="http://localhost:8080/home#/list">Sản Phẩm</a>
            <a class="navbar-brand text-decoration-none fw-light font-size-16-ncl text-dark"
               href="http://localhost:8080/chinh-sach#/bao-mat">Chính Sách</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <a ng-show="khachHang.hoTen" style="transform: translateY(50%); position: relative"
                   href="http://localhost:8080/home#/thong-tin-tai-khoan">
                    <strong style="text-wrap: nowrap; position: absolute; right: 120%; top: -50%; transform: translateY(50%);">{{
                        khachHang.hoTen }}</strong>
                    <span>
                        <i class="far fa-user"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Quản lý tài khoản"
                           style="color: black;font-size: 23px; transform: translateY(-50%);"></i>
                    </span>
                </a>

                <div class="ps-3" style="transform: translateY(50%);">
                    <a href="http://localhost:8080/home#/tra-cuu-don-hang" data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Tra cứu thông tin hóa đơn"><i class="fas fa-file-invoice"
                                                            style="color: black;font-size: 23px;transform: translateY(-50%);"></i></a>
                </div>

                <div class="btn-group ps-3" style="cursor: pointer; transform: translateY(50%);">
                    <div>
                        <a href="http://localhost:8080/home#/cart"> <i class="fas fa-shopping-cart"
                                                                       style="color: black;font-size: 23px;transform: translateY(-50%);"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       title="Giỏ hàng"></i></a>
                        <span style="position: absolute; top: -50%; padding: 4px 7px !important; background: #e50000; left: 85%;"
                              class="badge badge-light">{{ listBienTheGiayLocalStorage.length }}</span>
                    </div>
                </div>

                <div style="margin-left: 2rem">
                     <span ng-if="khachHang.hoTen">
                      <button ng-click="logoutUser()" class="pointer btn btn-primary">Đăng xuất</button>
                    </span>
                    <button class="pointer btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            id="loginbutton"
                            ng-if="!khachHang.hoTen">
                        Đăng nhập
                    </button>
                </div>
            </ul>
        </div>
        <div class="cart-user" ng-click="hideCart()" ng-class="{ 'show-cart': isCartVisible }">
            <div class="">
                <ul style="    right: 0;
    position: absolute; background: white;height: 100vh;">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="title-cart fw-light">GIỎ HÀNG</h5>
                        <button class="btn "><i class="fas fa-times"></i></button>
                    </div>
                    <div style="width: 386px;
                            height: 500px;
                            overflow: auto;">
                        <div class="" ng-repeat="giay in listBienTheGiayLocalStorage">
                            <div class="d-flex align-items-center justify-content-between p-3">
                                <div class="d-flex align-items-center">
                                    <img src="https://product.hstatic.net/1000230642/product/hsm003900cam__2__39859caf0fc04712b137e47f7132a4e9_1024x1024.jpg"
                                         width="70px" alt="">
                                    <div class="ps-2">
                                        <p class="font-size-12-ncl fw-bold">{{giay.giayResponse.ten}} </p>
                                        <p class="font-size-14 ">({{giay.kichThuoc.ten}} x {{giay.mauSac.ten}} )</p>
                                        <p class="font-size-12-ncl">Số lượng : {{giay.soLuongMua}}</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="font-size-14-ncl">{{giay.giaBan}}</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center justify-content-between p-3">
                            <h5>Tổng tiền</h5>
                            <h5 class="text-danger">{{tongTien}}</h5>
                        </div>
                        <a href="#/cart">Xem giỏ hàng</a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="overlay" ng-show="isCartVisible"></div>
    </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-body py-5">
                <h5>Đăng nhập </h5>
                <form name="user" ng-submit="loginUser()">
                    <div class="form-floating mb-3">
                        <input type="email" ng-model="userLogin.tenDangNhap" class="form-control" id="email"
                               placeholder="name@example.com" required>
                        <label for="email">Địa chỉ Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" ng-model="userLogin.matKhau" class="form-control" id="password"
                               placeholder="name@example.com" required>
                        <label for="password">Mật khẩu</label>
                    </div>
                    <div class="mb-3">
                        <!--                        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
                        <a type="button" class="form-check-label" data-bs-target="#modalQuenMK"
                           data-bs-toggle="modal" data-bs-dismiss="modal">Quên mật khẩu?</a>
                    </div>
                    <button type="submit" class="btn btn-custom">Đăng nhập</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Đăng ký
                    </button>
                    <!--                    <a class="btn btn-outline-dark" href="#/signup">Signup</a>-->
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="display: none"
                    id="closeModalR">Close
            </button>
            <div class="modal-body py-5">
                <h5>Đăng ký tài khoản</h5>

                <form name="khachHangDangKyForm" ng-submit="signUp()">
                    <div class="row">
                        <div class="form-group mb-3">
                            <label for="khachHangHoTen">Họ Tên</label>
                            <input type="text" class="form-control" id="khachHangHoTen" name="hoTen"
                                   ng-model="khachHangR.hoTen"
                                   ng-maxlength="50" ng-required="true" ng-change="change(khachHangDangKyForm.hoTen)">
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.hoTen.$dirty || khachHangDangKyForm.hoTen.$touched) && khachHangDangKyForm.hoTen.$error.required">Không
                                được để
                                trống tên</small>
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.hoTen.$dirty || khachHangDangKyForm.hoTen.$touched) && khachHangDangKyForm.hoTen.$error.maxlength">Họ
                                tên không được vượt quá 100 ký tự</small>
                            <small class="error-message" ng-show="errors.ten">{{errors.ten}}</small>
                        </div>

                        <div class="form-group mb-3">
                            <label>Giới Tính: </label>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input"
                                       style="width: 16px; height: 16px; margin-right: 0"
                                       id="khachHangGioiTinh1" value="true"
                                       name="gioiTinh"
                                       ng-model="khachHangR.gioiTinh" ng-required="true"
                                       ng-checked="khachHangR.gioiTinh != false">
                                <label class="form-check-label" for="khachHangGioiTinh1">
                                    Nam
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input"
                                       style="width: 16px; height: 16px; margin-right: 0"
                                       id="khachHangGioiTinh2" value="false"
                                       name="gioiTinh"
                                       ng-model="khachHangR.gioiTinh" ng-required="true"
                                       ng-checked="khachHangR.gioiTinh == false">
                                <label class="form-check-label" for="khachHangGioiTinh2">
                                    Nữ
                                </label>
                            </div>
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.gioiTinh.$dirty || khachHangDangKyForm.gioiTinh.$touched) && khachHangDangKyForm.gioiTinh.$error.required">
                                Không được để trống giới tính</small>
                            <small class="error-message"
                                   ng-show="errors.gioiTinh && !khachHangDangKyForm.gioiTinh.$dirty">{{errors.gioiTinh}}</small>
                        </div>

                        <div class="form-group mb-3">
                            <label for="khachHangNgaySinh">Ngày Sinh: </label>
                            <input type="date" class="form-control" id="khachHangNgaySinh" name="ngaySinh"
                                   ng-model="khachHangR.ngaySinh" ng-required="true"
                                   ng-change="change(khachHangDangKyForm.ngaySinh)">
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.ngaySinh.$dirty || khachHangDangKyForm.ngaySinh.$touched) && khachHangDangKyForm.ngaySinh.$error.required">
                                Không được để trống ngày sinh</small>
                            <small class="error-message"
                                   ng-show="errors.ngaySinh && !khachHangDangKyForm.ngaySinh.$dirty">{{errors.ngaySinh}}</small>
                        </div>

                        <div class="form-group mb-3">
                            <label for="khachHangSoDienThoai">Số điện thoại: </label>
                            <input type="text" class="form-control" id="khachHangSoDienThoai" name="soDienThoai"
                                   ng-model="khachHangR.soDienThoai" ng-required="true"
                                   ng-change="change(khachHangDangKyForm.soDienThoai)" ng-pattern="/^0\d{9}$/">
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.soDienThoai.$dirty || khachHangDangKyForm.soDienThoai.$touched) && khachHangDangKyForm.soDienThoai.$error.required">
                                Không được để trống số điện thoại</small>
                            <small ng-show="khachHangDangKyForm.soDienThoai.$error.pattern" class="error-message">Số
                                điện
                                thoại không đúng định
                                dạng.</small>
                            <small class="error-message"
                                   ng-show="errors.soDienThoai && !khachHangDangKyForm.soDienThoai.$dirty">{{errors.soDienThoai}}</small>
                        </div>

                        <div class="form-group mb-3">
                            <label for="khachHangEmail">Email: </label>
                            <input type="email" class="form-control" id="khachHangEmail" name="email"
                                   ng-model="khachHangR.email" ng-required="true"
                                   ng-change="change(khachHangDangKyForm.email)" ng-maxlength="50">
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.email.$dirty || khachHangDangKyForm.email.$touched) && khachHangDangKyForm.email.$invalid">
                                Email không đúng</small>
                            <small class="error-message"
                                   ng-show="errors.email && !khachHangDangKyForm.email.$dirty">{{errors.email}}</small>
                        </div>

                        <div class="form-group mb-3">
                            <label for="khachHangRPassword">Mật khẩu: </label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="khachHangRPassword" name="password"
                                       ng-model="khachHangR.password" ng-required="true" ng-minlength="6"
                                       ng-maxlength="50"
                                       ng-change="change(khachHangDangKyForm.password)">

                                <input type="checkbox" id="showPassR" style="display: none"
                                       ng-model="khachHangR.showPassR" ng-change="toggleShowPassR()">
                                <label for="showPassR" type="button" class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-eye" ng-show="khachHangR.showPassR == true"></i>
                                    <i class="fas fa-eye-slash" ng-show="khachHangR.showPassR == false"></i>
                                </label>
                            </div>
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.password.$dirty || khachHangDangKyForm.password.$touched) && khachHangDangKyForm.password.$error.required">
                                Không được để trống password</small>
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.password.$dirty || khachHangDangKyForm.password.$touched) && khachHangDangKyForm.password.$error.minlength">
                                Mật khẩu phải trên 6 ký tự</small>
                            <small class="error-message"
                                   ng-show="(khachHangDangKyForm.password.$dirty || khachHangDangKyForm.password.$touched) && khachHangDangKyForm.password.$error.maxlength">
                                Mật khẩu không được quá 50 ký tự</small>
                            <small class="error-message"
                                   ng-show="errors.password && !khachHangDangKyForm.password.$dirty">{{errors.password}}</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Đăng ký tài khoản</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalQuenMK" style="z-index: 1210" tabindex="-1" aria-labelledby="modalQuenMK"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đặt lại mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="closeModalForget"></button>
            </div>
            <div class="modal-body">
                <form name="resetPasswordForm" ng-submit="resetPassword()">
                    <div class="form-group mb-3">
                        <label for="khachHangEmail">Email: </label>
                        <input type="email" class="form-control" id="resetEmail" name="email"
                               ng-model="resetTaiKhoan.email" ng-required="true"
                               ng-change="change(resetPasswordForm.email)" ng-maxlength="50">
                        <small class="error-message"
                               ng-show="(resetPasswordForm.email.$dirty || resetPasswordForm.email.$touched) && resetPasswordForm.email.$invalid">
                            Email không đúng</small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="khachHangSoDienThoai">Số điện thoại: </label>
                        <input type="text" class="form-control" id="resetSDT" name="soDienThoai"
                               ng-model="resetTaiKhoan.soDienThoai" ng-required="true"
                               ng-change="change(resetPasswordForm.soDienThoai)" ng-pattern="/^0\d{9}$/">
                        <small class="error-message"
                               ng-show="(resetPasswordForm.soDienThoai.$dirty || resetPasswordForm.soDienThoai.$touched) && resetPasswordForm.soDienThoai.$error.required">
                            Không được để trống số điện thoại</small>
                        <small ng-show="resetPasswordForm.soDienThoai.$error.pattern" class="error-message">Số điện
                            thoại không đúng định
                            dạng.</small>
                    </div>
                    <button type="submit" class="btn btn-custom">Đặt lại mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</div>