<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<button class="ms-4 mb-3 btn btn-primary" ng-click="backToList()"><i class="fas fa-chevron-left"></i> Danh sách</button>
<h1 class="d-flex justify-content-center">Thêm mới phiếu giảm giá</h1>
<div class="card ng-scope" style="margin: 20px">
    <div class="card-body">
        <form class="row g-3" name="phieuGiamGiaForm" ng-submit="comfirmAdd()">
            <div class="d-flex justify-content-center">
                <div class="col-md-4">
                    <label class="form-label" for="maGiamGia">Mã phiếu <sup class="text-danger">(*)</sup></label>
                    <input type="text" class="form-control" id="maGiamGia" name="maGiamGia"
                           ng-model="phieuGiamGia.maGiamGia"
                           ng-maxlength="10" ng-required="true"
                           ng-change="change(phieuGiamGiaForm.maGiamGia)">
                    <small class="text-danger"
                           ng-show="(phieuGiamGiaForm.maGiamGia.$dirty || phieuGiamGiaForm.maGiamGia.$touched) &&
               phieuGiamGiaForm.maGiamGia.$error.required">Không
                        được để
                        trống mã</small>

                    <small class="text-danger"
                           ng-show="errors.maGiamGia">{{errors.maGiamGia}}</small>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="maGiamGia">Hạng khách hàng <sup class="text-danger">(*)</sup></label>
                    <select class="form-select" name="hangKhachHang" ng-model="phieuGiamGia.hangKhachHang"
                            aria-label="Default select example">
                        <option value="" disabled selected>Chọn hạng khách hàng</option>
                        <option ng-repeat="item in options" value="{{item.tenHang}}">{{item.tenHang}}</option>
                    </select>
                    <small class="text-danger"
                           ng-show="errors.hangKhachHang">{{errors.hangKhachHang}}</small>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="phanTramGiam">Giá trị giảm <sup class="text-danger">(*)</sup></label>
                    <input type="number" class="form-control" id="phanTramGiam" name="phanTramGiam"
                           ng-model="phieuGiamGia.phanTramGiam"
                           ng-required="true"
                           ng-change="change(phieuGiamGiaForm.phanTramGiam)">
                    <small class="text-danger"
                           ng-show="(phieuGiamGiaForm.phanTramGiam.$dirty || phieuGiamGiaForm.phanTramGiam.$touched) &&
                       phieuGiamGiaForm.phanTramGiam.$error.required">Không
                        được để
                        trống giá trị giảm</small>
                    <small class="text-danger"
                           ng-show="errors.phanTramGiam">{{errors.phanTramGiam}}</small>
                </div>
            </div>


            <div class="d-flex justify-content-center">
                <!--    Ngày bắt đầu-->
                <div class="col-md-4">
                    <label class="form-label">Ngày bắt đầu <sup class="text-danger">(*)</sup></label>
                    <input type="datetime-local" class="form-control" name="ngayBatDau" id="ngayBatDau"
                           ng-model="phieuGiamGia.ngayBatDau" ng-required="true">
                    <small class="error-message"
                           ng-show="(phieuGiamGiaForm.ngayBatDau.$dirty || phieuGiamGiaForm.ngayBatDau.$touched) && phieuGiamGiaForm.ngayBatDau.$error.required">Không
                        được để trống ngày bắt đầu</small>
                    <small class="text-danger"
                           ng-show="errors.ngayBatDau">{{errors.ngayBatDau}}</small>
                </div>

                <!--    Ngày kết thúc-->
                <div class="col-md-4">
                    <label class="form-label">Ngày kết thúc <sup class="text-danger">(*)</sup></label>
                    <input type="datetime-local" class="form-control" name="ngayKetThuc" id="ngayKetThuc"
                           ng-model="phieuGiamGia.ngayKetThuc" ng-required="true">
                    <small class="error-message"
                           ng-show="(phieuGiamGiaForm.ngayKetThuc.$dirty || phieuGiamGiaForm.ngayKetThuc.$touched) && phieuGiamGiaForm.ngayKetThuc.$error.required">Không
                        được để trống ngày kết thúc</small>
                    <small class="text-danger"
                           ng-show="errors.ngayKetThuc">{{errors.ngayKetThuc}}</small>
                </div>

                <div class="col-md-4"></div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="col-md-4">
                    <label class="form-label" for="soLuongPhieu">Số lượng phiếu <sup
                            class="text-danger">(*)</sup></label>
                    <input type="number" class="form-control" id="soLuongPhieu" name="soLuongPhieu"
                           ng-model="phieuGiamGia.soLuongPhieu"
                           ng-required="true"
                           ng-change="change(phieuGiamGiaForm.soLuongPhieu)">
                    <small class="text-danger"
                           ng-show="(phieuGiamGiaForm.soLuongPhieu.$dirty || phieuGiamGiaForm.soLuongPhieu.$touched) &&
               phieuGiamGiaForm.soLuongPhieu.$error.required">Không
                        được để
                        trống số lượng phiếu</small>
                    <small class="text-danger"
                           ng-show="errors.soLuongPhieu">{{errors.soLuongPhieu}}</small>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="giaTriDonToiThieu">Giá trị đơn tối thiểu <sup
                            class="text-danger">(*)</sup></label>
                    <input type="number" class="form-control" id="giaTriDonToiThieu" name="giaTriDonToiThieu"
                           ng-model="phieuGiamGia.giaTriDonToiThieu"
                           ng-required="true"
                           ng-change="change(phieuGiamGiaForm.giaTriDonToiThieu)">
                    <small class="text-danger"
                           ng-show="(phieuGiamGiaForm.giaTriDonToiThieu.$dirty || phieuGiamGiaForm.giaTriDonToiThieu.$touched) &&
                                phieuGiamGiaForm.giaTriDonToiThieu.$error.required">Không
                        được để
                        trống giá trị đơn tối thiểu</small>
                    <small class="text-danger"
                           ng-show="errors.giaTriDonToiThieu">{{errors.giaTriDonToiThieu}}</small>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="giaTriGiamToiDa">Giá trị giảm tối đa <sup
                            class="text-danger">(*)</sup></label>
                    <input type="number" class="form-control" id="giaTriGiamToiDa" name="giaTriGiamToiDa"
                           ng-model="phieuGiamGia.giaTriGiamToiDa"
                           ng-required="true"
                           ng-change="change(phieuGiamGiaForm.giaTriGiamToiDa)">
                    <small class="text-danger"
                           ng-show="(phieuGiamGiaForm.giaTriGiamToiDa.$dirty || phieuGiamGiaForm.giaTriGiamToiDa.$touched) &&
                                phieuGiamGiaForm.giaTriGiamToiDa.$error.required">Không
                        được để
                        trống giá trị giảm tối đa</small>
                    <small class="text-danger"
                           ng-show="errors.giaTriGiamToiDa">{{errors.giaTriGiamToiDa}}</small>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-primary">Tạo mới</button>
            </div>
        </form>
    </div>
</div>