<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="title-page">
    <div class="card-header bg-white">
        <h5 class="card-title p-2 mt-2">
            Phiếu Giảm Giá
        </h5>
    </div>
</div>

<div class="box-shadow-page" style="margin: 20px">
    <div class="card-body">
        <div class="d-flex flex-column flex-md-row add-search-custom justify-content-center">
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input id="seachText" class="form-control" type="text" ng-model="maGiamGia"
                           placeholder="Nhập mã phiếu giảm giá">
                </div> <br>
                <div class="mb-3">
                    <select class="form-select" ng-model="hangKhachHang"
                            aria-label="Default select example">
                        <option value="" disabled selected>Hạng khách hàng</option>
                        <option ng-repeat="item in options" value="{{item.tenHang}}">{{item.tenHang}}</option>
                    </select>
                </div><br>
                <div class="input-group">
                    <span class="input-group-text">Ngày Bắt Đầu/Ngày Kết Thúc:</span>
                    <input type="date" class="form-control" ng-model="ngayBatDau">
                    <input type="date" class="form-control" ng-model="ngayKetThuc">
                </div><br>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-custom"  ng-click="search()">Tìm kiếm</button>
                    <button class="btn btn-custom"  ng-click="resetInputSearch()">Làm mới</button>
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-between radio-filter">
            <div>
                <div class="custom-radio">
                    <input type="radio" id="all" name="status" ng-model="status" value="-1"
                           ng-checked="status != 0 && status != 1"
                           ng-change="changeRadio(-1)">
                    <label class="radio-label" for="all">Tất cả</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 0"
                           ng-change="changeRadio(0)">
                    <label class="radio-label" for="active">Còn hạn</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 1"
                           ng-change="changeRadio(1)">
                    <label class="radio-label" for="disable">Hết hạn</label>
                </div>
            </div>

            <div class="d-flex flex-row">
                <a class="btn btn-primary" href="#/add"><i class="fas fa-plus px-2 small"></i>Thêm phiếu giảm
                    giá</a>
            </div>
        </div>

        <div>
            <table class="table align-middle text-center" border="1">
                <tr>
                    <th>Mã phiếu</th>
                    <th>Phần trăm giảm</th>
                    <th>Số lượng</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Giá trị đơn tối thiểu</th>
                    <th>Gía trị giảm tối đa</th>
                    <th>Đối tượng áp dụng</th>
                    <th>Trạng thái</th>
                    <th>Thao Tác</th>
                </tr>

                <tr ng-repeat="pgg in lstPhieuGiamGia track by $index">
                    <td>{{pgg.maGiamGia}}</td>
                    <td>{{pgg.phanTramGiam}}</td>
                    <td>{{pgg.soLuongPhieu}}</td>
                    <td>{{pgg.ngayBatDau | longToDate}}</td>
                    <td>{{pgg.ngayKetThuc | longToDate}}</td>
                    <td>{{pgg.giaTriDonToiThieu}}</td>
                    <td>{{pgg.giaTriGiamToiDa}}</td>
                    <td>{{pgg.hangKhachHang}}</td>
                    <td>
                        <h5>
                            <span ng-class="{'badge bd-success-custom': pgg.trangThai == '0', 'badge bd-danger-custom': pgg.trangThai != '0'}">
                                {{pgg.trangThai == '0' ? 'Còn hạn' : 'Hết hạn'}}
                            </span>
                        </h5>
                    </td>
                    <td>
                        <div class="d-sm-inline-flex">
                            <button class="btn btn-custom" ng-click="detailPhieuGiamGia(pgg.id)" data-bs-toggle="modal" data-bs-target="#showPhieuGiamGia">
                                <i class="fas fa-eye"></i>
                            </button>
                            <a class="btn btn-custom" ng-href="#/update/{{pgg.id}}"><i class="far fa-edit"></i></a>
                        </div>
                    </td>
                </tr>
            </table>

            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>

        </div>
    </div>
</div>

<!-- Modal Detail-->
<div class="modal fade" id="showPhieuGiamGia" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Phiếu Giảm Giá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>ID :</td>
                        <th>{{pggDetail.id}}</th>
                    </tr>
                    <tr>
                        <td>Mã phiếu :</td>
                        <th>{{pggDetail.maGiamGia}}</th>
                    </tr>
                    <tr>
                        <td>Phần trăm giảm :</td>
                        <th>{{pggDetail.phanTramGiam}}</th>
                    </tr>

                    <tr>
                        <td>Số luợng phiếu :</td>
                        <th>{{pggDetail.soLuongPhieu}}</th>
                    </tr>

                    <tr>
                        <td>Ngày bắt đầu :</td>
                        <th>{{pggDetail.ngayBatDau | longToDate}}</th>
                    </tr>

                    <tr>
                        <td>Ngày kết thúc :</td>
                        <th>{{pggDetail.ngayKetThuc | longToDate}}</th>
                    </tr>

                    <tr>
                        <td>Giá trị đơn tối thiểu :</td>
                        <th>{{pggDetail.giaTriDonToiThieu}}</th>
                    </tr>

                    <tr>
                        <td>Giá trị giảm tối đa :</td>
                        <th>{{pggDetail.giaTriGiamToiDa}}</th>
                    </tr>

                    <tr>
                        <td>Đối tượng áp dụng :</td>
                        <th>{{pggDetail.hangKhachHang}}</th>
                    </tr>

                    <tr>
                        <td>người tạo :</td>
                        <th>{{pggDetail.nguoiTao}}</th>
                    </tr>

                    <tr>
                        <td>Ngày tạo :</td>
                        <th>{{pggDetail.ngayTao | date: 'dd/MM/yyyy HH:mm:ss'}}</th>
                    </tr>

                    <tr>
                        <td>Trạng thái :</td>
                        <th>
                            <h5>
                <span ng-class="{'badge bd-success-custom': pggDetail.trangThai == 0, 'badge bd-danger-custom': pggDetail.trangThai != 0}">
                    {{pggDetail.trangThai == 0? "Còn hạn" : "Hết hạn"}}
                </span>
                            </h5>
                        </th>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>











