<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>

    <!-- Pagination -->
    <link rel="stylesheet" href="/pagination/pagination.css">
    <script src="/pagination/pagination.min.js" defer></script>
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--AngularJS-->
    <script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/angular-1.8.2/angular-route.min.js"></script>
    <script src="/angular-1.8.2/angular-cookies.js"></script>
    <!--Toastr-->
    <script src="/toastr/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/toastr/toastr/build/toastr.min.css">
    <script src="/toastr/toastr/build/toastr.min.js"></script>
    <script src="/toastr/toastr/build/toastr.min.js"></script>

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/css/all.min.css">

    <!-- Global -->
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global-style.css">
    <script src="/js/httpInterceptor.js" defer></script>


</head>

<body ng-controller="loginController">
<form name="loginForm" ng-submit="loginUser()">

    <div class="card border-success mb-3 mx-auto" style="max-width: 800px; margin-top: 20px">
        <div class="card-header bg-transparent border-success"><h5 class="text-center">Đăng nhập</h5></div>
        <div class="card-body text-success">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" ng-model="userLogin.tenDangNhap" name="tenDangNhap" class="form-control"
                   id="exampleInputEmail1" aria-describedby="emailHelp" maxlength="30">
            <small class="text-danger" ng-show="errors.tenDangNhap && !loginForm.tenDangNhap.$dirty">{{errors.tenDangNhap}}</small>
        </div>

        <div class="card-body text-success">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input ng-model="userLogin.matKhau" name="matKhau" type="password" class="form-control"
                   id="exampleInputPassword1">
            <small class="text-danger" ng-show="errors.matKhau && !loginForm.matKhau.$dirty">{{errors.matKhau}}</small>
        </div>
        <div class="card-footer bg-transparent border-success">
            <button type="submit" class="btn btn-primary float-end">Signin</button>
        </div>
    </div>
    <!--    <div class="mb-3">-->
    <!--        <label for="exampleInputEmail1" class="form-label">Email address</label>-->
    <!--        <input type="email" ng-model="userLogin.tenDangNhap" name="tenDangNhap" class="form-control"-->
    <!--               id="exampleInputEmail1" aria-describedby="emailHelp" maxlength="30">-->
    <!--        <small class="text-danger" ng-show="errors.tenDangNhap && !loginForm.tenDangNhap.$dirty">{{errors.tenDangNhap}}</small>-->
    <!--    </div>-->
    <!--    <div class="mb-3">-->
    <!--        <label for="exampleInputPassword1" class="form-label">Password</label>-->
    <!--        <input ng-model="userLogin.matKhau" name="matKhau" type="password" class="form-control"-->
    <!--               id="exampleInputPassword1">-->
    <!--        <small class="text-danger" ng-show="errors.matKhau && !loginForm.matKhau.$dirty">{{errors.matKhau}}</small>-->
    <!--    </div>-->
    <!--    <div class="mb-3 form-check">-->
    <!--    </div>-->
    <!--    <button type="submit" class="btn btn-primary" >Submit</button>-->
</form>
<script src="/js/user/index1.js"></script>
</body>

</html>