<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <!-- Pagination -->
    <link rel="stylesheet" href="/pagination/pagination.css">
    <script src="/pagination/pagination.min.js" defer></script>
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--AngularJS-->
    <script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/angular-1.8.2/angular-route.min.js"></script>
    <script src="/angular-1.8.2/angular-cookies.js"></script>
    <!--Toastr-->
    <script src="/toastr/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/toastr/toastr/build/toastr.min.css">
    <script src="/toastr/toastr/build/toastr.min.js"></script>
    <script src="/toastr/toastr/build/toastr.min.js"></script>

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/css/all.min.css">

    <!-- Global -->
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global-style.css">
    <script src="/js/httpInterceptor.js" defer></script>


</head>

<body ng-controller="signUpController">
<form name="user" ng-submit="signUp()">
    <div class="row">
        <div class="form-group mb-3">
            <label for="khachHangHoTen">Tên</label>
            <input type="text" class="form-control" id="khachHangHoTen" name="hoTen"
                   ng-model="khachHang.hoTen"
                   ng-maxlength="50" ng-required="true" ng-change="change(khachHangForm.hoTen)">
            <small class="error-message"
                   ng-show="(khachHangForm.hoTen.$dirty || khachHangForm.hoTen.$touched) && khachHangForm.hoTen.$error.required">Không
                được để
                trống tên</small>
            <small class="error-message"
                   ng-show="(khachHangForm.hoTen.$dirty || khachHangForm.hoTen.$touched) && khachHangForm.hoTen.$error.maxlength">Họ
                tên không được vượt quá 100 ký tự</small>
            <small class="error-message" ng-show="errors.ten">{{errors.ten}}</small>
        </div>

        <div class="form-group mb-3">
            <label>Giới Tính: </label>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" style="width: 16px; height: 16px; margin-right: 0"
                       id="khachHangGioiTinh1" value="true"
                       name="gioiTinh"
                       ng-model="khachHang.gioiTinh" ng-required="true"
                       ng-checked="khachHang.gioiTinh == true">
                <label class="form-check-label" for="khachHangGioiTinh1">
                    Nam
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" style="width: 16px; height: 16px; margin-right: 0"
                       id="khachHangGioiTinh2" value="false"
                       name="gioiTinh"
                       ng-model="khachHang.gioiTinh" ng-required="true"
                       ng-checked="khachHang.gioiTinh == false">
                <label class="form-check-label" for="khachHangGioiTinh2">
                    Nữ
                </label>
            </div>
            <small class="error-message"
                   ng-show="(khachHangForm.gioiTinh.$dirty || khachHangForm.gioiTinh.$touched) && khachHangForm.gioiTinh.$error.required">
                Không được để trống giới tính</small>
            <small class="error-message"
                   ng-show="errors.gioiTinh && !khachHangForm.gioiTinh.$dirty">{{errors.gioiTinh}}</small>
        </div>

        <div class="form-group mb-3">
            <label for="khachHangNgaySinh">Ngày Sinh: </label>
            <input type="date" class="form-control" id="khachHangNgaySinh" name="ngaySinh"
                   ng-model="khachHang.ngaySinh" ng-required="true"
                   ng-change="change(khachHangForm.ngaySinh)">
            <small class="error-message"
                   ng-show="(khachHangForm.ngaySinh.$dirty || khachHangForm.ngaySinh.$touched) && khachHangForm.ngaySinh.$error.required">
                Không được để trống ngày sinh</small>
            <small class="error-message"
                   ng-show="errors.ngaySinh && !khachHangForm.ngaySinh.$dirty">{{errors.ngaySinh}}</small>
        </div>

        <div class="form-group mb-3">
            <label for="khachHangSoDienThoai">Số điện thoại: </label>
            <input type="text" class="form-control" id="khachHangSoDienThoai" name="soDienThoai"
                   ng-model="khachHang.soDienThoai" ng-required="true"
                   ng-change="change(khachHangForm.soDienThoai)" ng-pattern="/^0\d{9}$/">
            <small class="error-message"
                   ng-show="(khachHangForm.soDienThoai.$dirty || khachHangForm.soDienThoai.$touched) && khachHangForm.soDienThoai.$error.required">
                Không được để trống số điện thoại</small>
            <small ng-show="khachHangForm.soDienThoai.$error.pattern" class="error-message">Số điện
                thoại không đúng định
                dạng.</small>
            <small class="error-message"
                   ng-show="errors.soDienThoai && !khachHangForm.soDienThoai.$dirty">{{errors.soDienThoai}}</small>
        </div>

        <div class="form-group mb-3">
            <label for="khachHangEmail">Email: </label>
            <input type="text" class="form-control" id="khachHangEmail" name="email"
                   ng-model="khachHang.email" ng-required="true"
                   ng-change="change(khachHangForm.email)">
            <small class="error-message"
                   ng-show="(khachHangForm.email.$dirty || khachHangForm.email.$touched) && khachHangForm.email.$error.required">
                Không được để trống email</small>
            <small class="error-message"
                   ng-show="errors.email && !khachHangForm.email.$dirty">{{errors.email}}</small>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>
<script src="/js/user/signup.js"></script>
</body>

</html>