.modal table td {
    white-space: nowrap;
}

.custom-radio {
    display: inline-block;
    position: relative;
    padding-right: 30px;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
}

.custom-radio label {
    position: relative;
    cursor: pointer;
}

.custom-radio label::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #007BFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.custom-radio input:checked + label::before {
    transform: scaleX(1);
}

.radio-label {
    font-weight: normal;
    color: #333;
}

.custom-radio input[type="radio"]:checked + .radio-label {
    font-weight: bold;
    color: #007bff;
}

@font-face {
    font-family: 'rabilo';
    /* Đặt tên cho font chữ của bạn */
    src: url('/font-text/Inter-Medium.ttf') format('woff2');
    /* Đường dẫn đến tệp font */
    /* Nếu bạn có các phiên bản font khác, hãy thêm chúng ở đây */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-weight: 500;
    color: black;
    font-family: 'Inter', sans-serif;
}

.error-message {
    color: red;
    font-weight: bold;
}

.badge{
    border-radius: 92px;
    padding: 6px 26px;
}

.bd-success-custom {
    color: #2bd27f;
    background: #e7fbf0 !important;
    font-weight: 500;
}

.bd-danger-custom {
    background-color: rgb(241 89 92 / 20%) !important;
    color: rgb(241 89 92);
    font-weight: 500;
}

.bd-warning-custom {
    background-color: #ffdf9b !important;
    color: #e49c06;
    font-weight: 500;
}

.bd-info-custom {
    background-color: #abd3d9 !important;
    color: #177787;
    font-weight: 500;
}

.bd-primary-custom {
    background-color: #17a2b8 !important;
    color: white;
    font-weight: 500;
}

.bd-warning2-custom{
    background-color: #ffdf9b !important;
    color: #e49c06;
    font-weight: 500;
}

.bd-redOrange-custom{
    background-color: #edb3a0 !important;
    color: #c73c10;
    font-weight: 500;
}

.bd-blueDark-custom{
    background-color: #848cdf !important;
    color: #000969;
    font-weight: 500;
}


table {
    font-size: 14px;
    color: #686e7e !important;
    border: transparent;
}

th {
    font-size: 13px;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem !important;
    border-top: 1px solid #ededed;
    color: #5d5d5d;
}

td {
    word-break: break-all;
    padding: 1.8rem 0.8rem 0.8rem 0.8rem !important;
    border-top: 1px solid #ededed;
}

table tr {
border-style: none;
}

.table-size-fix{
    margin-right: -0.95rem;
    margin-left: -0.95rem;
}

.btn-custom {
    color: white;
    background-color: #0f172a;
    font-size: 15px !important;
    margin: 0px 2px;
    transition: 0.3s ease-in-out;
}

.btn-custom:hover {
    color: white;
    background-color: #111c43;
    opacity: 0.7;
}

.btn-primary{
    color: #fff;
    background-color: #4669fa !important;
    border-color: #4669fa !important;
}

.radio-filter {
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    border-radius: 0px 10px 0px 0px;
}

.add-search-custom {
    align-items: center;
    justify-content: space-between;
    padding: 21px 7px;
}

.select-basic {
    color: #4b5675;
    cursor: pointer;
    border: none !important;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f1f1f2;
}

.select-basic:focus {
    background-color: #e9e9ea;
    outline: none !important;
}

.select-basic option {
    cursor: pointer;
    background-color: transparent;
}

.box-shadow-page {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.title-page {
    margin-top: 10px;
    margin-left: 20px;

}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input:focus{
    box-shadow: none !important;
    outline: 0;
    border:1px solid black !important;
}

.form-label {
    color: #686e7e !important;
}

.card-body {
    border-radius: 10px;
    background: white;
}

/* Đơn Hàng CSS */
.hr-item {
    border-bottom: 2px solid gray;
    width: 150px;
}

.passed {
    color: #0088FF;
}

.passed div {
    border-bottom: 2px solid #0088FF;
}

.progess-outer p {
    margin: 0px;
}

.font-size-14 {
    font-size: 14px;
    color: gray;
}
.font-size-13 {
    font-size: 13px;
    color: gray;
}

.font-size-12 {
    font-size: 12px;
    color: gray;
}

.font-size-14-ncl {
    font-size: 14px;
}

.font-size-13-ncl {
    font-size: 13px;
}

.font-size-12-ncl {
    font-size: 12px;
}

.font-size-16{
    font-size: 16px;
}
.font-size-16-ncl{
    font-size: 16px;
}

.li-custom {
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 2px #E6F4FF;
    flex-shrink: 0;
    margin-right: 12px;
    border-radius: 100%;
    background-color: #59ff00;
}

.w-133px {
    width: 133px;
}
.bg-warning-gradient{
    background: rgb(229, 255, 229);
}

.bg-purple{
    background: rgb(234 229 255);
}

.bg-orange{
    background: rgb(255 237 229);
}

.bg-blue{
    background: rgb(229 249 255);
}
.line{
    margin-top: -46px;
    margin-left: 4px;
    background: #bfbfbf;
    width: 1px;
    height: 72px;
}
.li-status{
    background: #4669fa;
    padding: 6px;
    font-size: 9px;
    border-radius: 50%;
    color: white;
}

.li-status-unactive{
    background: #f1f1f1;
    padding: 6px;
    font-size: 9px;
    border-radius: 50%;
    color: #f1f1f1;
}
.line-status-unactive{
    width: 2px;
    background-color: #f1f1f1;
    height: 33px;
    margin: auto;
}
.line-status{
    width: 2px;
    background-color: #4669fa;
    height: 33px;
    margin: auto;
}

.mt-a4{
    margin-top: -4px;
}

.font-item{
    padding: 3px 61px;
    color: white;
    background: #333333;
}
.hover-item{
    border-radius: 1rem ;
    border: 1px solid #d5d5d5;
}
.hover-item:hover{
    border: 1px solid #d5d5d5;
    cursor: pointer;
}

.cart-table{
    height:381px;
    overflow: auto;
}

.box-search{
    padding: 15px;
    left: 34px;
    background: white;
    position: absolute;
    right: 0px;
    top: 105px;
    max-height: 500px;
    overflow: auto;
    height: auto;
}

.btn-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-white:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

.click-button{
    background-color: black;
    color: white;
}

.border-bottom-1{
    border-bottom: 1px solid #e5e5e5;
}

.badge-custom{
    padding: 3px;
    border: 1px solid black;
}

.pointer{
    cursor: pointer;
}
.border-bottom-2{
    border-bottom: 2px solid black;
}