.modal table td {
    white-space: nowrap;
}

.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
}

.custom-radio label {
    position: relative;
    cursor: pointer;
}

.custom-radio label::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #007BFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.custom-radio input:checked + label::before {
    transform: scaleX(1);
}

.radio-label {
    font-weight: normal;
    color: #333;
}

.custom-radio input[type="radio"]:checked + .radio-label {
    font-weight: bold;
    color: #007bff;
}

@font-face {
    font-family: 'rabilo';
    /* Đặt tên cho font chữ của bạn */
    src: url('/font-text/Roboto-Medium.ttf') format('woff2');
    /* Đường dẫn đến tệp font */
    /* Nếu bạn có các phiên bản font khác, hãy thêm chúng ở đây */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rabilo';
}

body {
    background-color: #fcfcfc;
    overflow-x: hidden;
}

.bd-success-custom {
    color: #2bd27f;
    background: #e7fbf0 !important;
    font-weight: 500;
}

.bd-danger-custom {
    background-color: #f1c3c8 !important;
    color: darkred;
    font-weight: 500;
}

table {
    font-size: 14px;
    color: #686e7e !important;
}

th {
    padding: 1rem 1rem 1rem 1rem !important;
}

td {
    word-break: break-all;
    padding: 1.8rem 0.8rem 0.8rem 0.8rem !important;
}

table tr {

}

.btn-custom {
    color: white;
    background-color: #111c43;
    font-size: 15px !important;
    margin: 0px 2px;
    transition: 0.3s ease-in-out;
}

.btn-custom:hover {
    color: white;
    background-color: #111c43;
    opacity: 0.7;
}

.radio-filter {
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dee2e6;
    padding: 15px 0px;
    border-radius: 0px 10px 0px 0px;
}

.add-search-custom {
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dee2e6;
    padding: 21px 7px;
}

.select-basic {
    color: #4b5675;
    cursor: pointer;
    border: none !important;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f1f1f2;
}

.select-basic:focus {
    background-color: #e9e9ea;
    outline: none !important;
}

.select-basic option {
    cursor: pointer;
    background-color: transparent;
}

.box-shadow-page {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title-page {
    margin-top: 10px;
    margin-left: 20px;

}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.form-label {
    color: #686e7e !important;
}
.card-body{
    border-radius: 10px;
    background: white;
}
