<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bán Hàng</title>

    <!-- Pagination -->
    <link rel="stylesheet" href="/pagination/pagination.css">
    <script src="/pagination/pagination.min.js" defer></script>
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--AngularJS-->
    <script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/angular-1.8.2/angular-route.min.js"></script>
    <script src="/angular-1.8.2/angular-cookies.js"></script>
    <!--Toastr-->
    <script src="/toastr/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/toastr/toastr/build/toastr.min.css">
    <script src="/toastr/toastr/build/toastr.min.js"></script>
    <script src="/toastr/toastr/build/toastr.min.js"></script>

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/css/all.min.css">

    <!--Sweet Alert -->
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

    <!-- Global -->
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global-style.css">
    <script src="/js/httpInterceptor.js" defer></script>

    <link rel="stylesheet" href="/css/base_sidebar/style.min.css">

    <link rel="stylesheet" href="/css/banhang/style.css">

</head>

<body>
<div class="page-flex">

    <aside class="sidebar" style="max-width: fit-content">
        <div class="sidebar-start">
            <div class="sidebar-head">
                <a href="http://localhost:8080/admin/ban-hang#/home" class="logo-wrapper" title="Home">
                    <span class="sr-only">Home</span>
                    <img style="    border-radius: 10px;width: 35px;margin-right: 6px;" src="/img/logo_datn.png" alt="">
                    <div class="logo-text">
                        <span class="logo-title">LuckyStore</span>
                        <span class="logo-subtitle"></span>
                    </div>

                </a>
                <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                    <span class="sr-only">Toggle menu</span>
                    <i class="far icon fa-caret-square-left"></i>
                </button>
            </div>
            <div class="sidebar-body">
                <span class="system-menu__title">Quản Lý</span>
                <ul class="sidebar-body-menu">
                    <li>
                        <a class="active" href="http://localhost:8080/admin/tong-quan#/home"><i
                                class="icon fas fa-th-large"></i></span>Tổng quan</a>
                    </li>
                </ul>
                <span class="system-menu__title">Bán Hàng</span>
                <ul class="sidebar-body-menu">
                    <li>
                        <a href="http://localhost:8080/admin/ban-hang#/home"><i class="icon fas fa-vote-yea"></i></span>
                            Máy POS</a>
                    </li>

                    <li>
                        <a class="show-cat-btn" href="##">
                            <i class="icon fas fa-file-invoice"></i></span>Hóa Đơn
                            <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <i class="icon fas fa-angle-down"></i>
                                </span>
                        </a>
                        <ul class="cat-sub-menu">

                            <li>
                                <a href="http://localhost:8080/admin/hoa-don#/hoa-don">Hóa đơn</a>
                            </li>

                            <li>
                                <a href="http://localhost:8080/admin/hoa-don#/hoa-don-cho">Chờ xác nhận</a>
                            </li>

                            <li>
                                <a href="http://localhost:8080/admin/hoa-don#/hoa-don-hoan">Đơn hoàn</a>
                            </li>

                        </ul>

                    </li>

                    <li>
                        <a class="show-cat-btn" href="##">
                            <i class="icon fas fa-users"></i></span>Yêu Cầu
                            <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                   <i class="icon fas fa-angle-down"></i>
                                </span>
                        </a>
                        <ul class="cat-sub-menu">
                            <li>
                                <a href="http://localhost:8080/admin/yeu-cau">Danh Sách</a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/admin/yeu-cau#/hoa-don">Đổi Trả Nhanh</a>
                            </li>
                        </ul>
                    </li>

<!--                    <li>-->
<!--                        <a href="##"><i class="icon fas fa-info-circle"></i></span>-->
<!--                            Thông tin cá nhân</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </aside>

    <div class="main-wrapper">
        <div ng-view></div>
    </div>
</div>
<script src="/QRReader/quagga.min.js"></script>
<script src="/QRReader/jsQr.js"></script>
<script src="/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/js/banhang/index.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/navbar.js"></script>
<script src="/print/print.min.js"></script>
</body>

</html>