<div style="margin: 20px">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="fw-bold">Tổng Quan</h5>
        <div class="btn-report">
            <button class="btn btn-custom">
                In Báo Cáo
            </button>
        </div>
    </div>
    <div class="row bg-white box-shadow-page" style="border-radius: 11px;
    margin: 3px;">
        <div class="col-md-3">
            <div class="m-2" >
                <div class="p-4 rounded box-shadow-page" style="background-image: url(https://dashcode-react.codeshaper.net/assets/widget-bg-2.035e0098.png);">
                    <h5 class="text-white mb-4">Xin chào Minh Quân</h5>
                    <p class="text-white font-size-14-ncl">Chào mừng đến với Tổng Quan</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="m-2">
                <div class="p-4 rounded box-shadow-page " style="background: rgb(12 231 250 / 15%);">
                    <p class="mb-2 font-size-14-ncl"> Số lượng đơn hàng</p>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fw-bold"><i class="fas fa-shopping-basket" style="    background: white;padding: 10px;
    border-radius: 10px;
    color: rgb(12 231 250);"></i> 400</h5>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="m-2">
                <div class="p-4 rounded box-shadow-page" style=" background: rgb(250 145 107 / 15%);">
                    <p class="mb-2 font-size-14-ncl">Tổng doanh thu</p>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fw-bold"><i class="fas fa-wallet" style="background: white;padding: 10px;
    border-radius: 10px;
    color: rgb(250 145 107);"></i> 400</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="m-2">
                <div class="p-4 rounded box-shadow-page" style=" background: rgb(87 67 190 / 15%);">
                    <p class="mb-2 font-size-14-ncl">Số lượng khách hàng mới</p>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fw-bold"><i class="fas fa-user-plus" style="padding: 10px; background: white;
    border-radius: 10px;
    color: rgb(87 67 190);"></i> 400</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="">
                <div class="">
                    <div class="card m-2 p-2 rounded box-shadow-page bg-white">
                        <div class="card-header bg-white">
                            <p class="fw-bold p-1 mt-1">Doanh thu 14 ngày gần nhất</p>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mt-2 ">
                <div class="card rounded">
                    <div class="card-header bg-white">
                        <p class="card-title p-1 mt-1 fw-bold">
                            Lịch sử hoạt động
                        </p>
                    </div>
                    <div class="card-body" style="height: 474px;overflow-x: hidden;">
                        <div class="activity">
                            <div ng-repeat="hanhDong in listHanhDong">
                                <div class="d-flex ">
                                    <div>
                                        <div class="li-custom"></div>
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center"><p class="font-size-13-ncl">
                                            <span class="fw-bold">{{hanhDong.performerName}}</span>
                                            {{hanhDong.actionDescription}}</p>
                                        </div>
                                        <p class="font-size-12">{{hanhDong.timestamp}}</p>
                                    </div>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="box-shadow-page">
            <div class="card-body">
                <div>
                    <div class="card rounded-md bg-white">
                        <main class="card-body p-6">
                            <div class="d-md-flex justify-content-between align-items-center mb-6">

                                <div>
                                    <h4 class="card-title fw-bold">
                                        Lịch sử chỉnh sửa đơn hàng gần nhất
                                    </h4>
                                    <div class="d-flex justify-content-start radio-filter">
                                        <div class="custom-radio">
                                            <input type="radio" id="all" name="status" ng-model="status" value="-1"
                                                   ng-checked="status != 0 && status != 1"
                                                   ng-change="changeRadio(-1)">
                                            <label class="radio-label" for="all">Tất cả</label>
                                        </div>

                                        <div class="custom-radio">
                                            <input type="radio" id="active" name="status" ng-model="status" value="1"
                                                   ng-checked="status == 1"
                                                   ng-change="changeRadio(1)">
                                            <label class="radio-label" for="active">Đang Làm</label>
                                        </div>

                                        <div class="custom-radio">
                                            <input type="radio" id="disable" name="status" ng-model="status" value="0"
                                                   ng-checked="status == 0"
                                                   ng-change="changeRadio(0)">
                                            <label class="radio-label" for="disable">Đã Nghỉ</label>
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="form-group">
                                            <input type="text" ng-model="searchText" ng-change="search()"
                                                   placeholder="search..." class="form-control py-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table class="table align-middle table-borderless text-center mw-100" border="1">
                                    <tr class="">
                                        <th>ID</th>
                                        <th>HỌ TÊN</th>
                                        <th>SỐ ĐIỆN THOẠI</th>
                                        <th>EMAIL</th>
                                        <th>CHỨC VỤ</th>
                                        <th>TRẠNG THÁI</th>
                                        <th>ACTION</th>
                                    </tr>

                                    <tr>
                                        <td>{{nhanvien.id}}</td>
                                        <td>{{nhanvien.hoTen}}</td>
                                        <td>{{nhanvien.soDienThoai}}</td>
                                        <td>{{nhanvien.email}}</td>
                                        <td>{{nhanvien.chucVu == 1 ? "Nhân Viên" : "Chủ Cửa Hàng"}}</td>
                                        <td>
                                            <h5>
                                    <span ng-class="{'badge bd-success-custom': nhanvien.trangThai == 1, 'badge bd-danger-custom': nhanvien.trangThai != 1}">
                                        {{nhanvien.trangThai == 1 ? 'Đang Làm' : 'Đã Nghỉ'}}
                                    </span>
                                            </h5>
                                        </td>
                                        <td>
                                            <div class="d-sm-inline-flex">
                                                <button class="btn btn-custom" ng-click="detailNhanVien(nhanvien.id)"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#showNhanVien" data-bs-placement="top"
                                                        title="Xem Chi Tiết">
                                                    <i class="fas fa-eye "></i>
                                                </button>
                                                <a class="btn btn-custom" ng-href="#/update/{{nhanvien.id}}"
                                                   data-bs-placement="top"
                                                   title="Cập Nhật"><i class="far fa-edit"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </main>
                    </div>
                    <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages"
                         data-current-page="curPage"
                         data-max-size="maxSize"
                         data-boundary-links="true">
                    </div>


                </div>
            </div>
        </div>

        <div class="modal fade" id="showNhanVien" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Nhân Viên</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table mw-100">
                            <tr>
                                <td>ID :</td>
                                <th>{{nhanVienDetail.id}}</th>
                            </tr>
                            <tr>
                                <td>Tên :</td>
                                <th>{{nhanVienDetail.hoTen}}</th>
                            </tr>
                            <tr>
                                <td>Giới Tính :</td>
                                <th>{{nhanVienDetail.gioiTinh == 1 ? "Nam" : "Nữ"}}</th>
                            </tr>
                            <tr>
                                <td>Ngày Sinh :</td>
                                <th>{{nhanVienDetail.ngaySinh}}</th>
                            </tr>
                            <tr>
                                <td>Số Điện Thoại :</td>
                                <th>{{nhanVienDetail.soDienThoai}}</th>
                            </tr>
                            <tr>
                                <td> Email :</td>
                                <th>{{nhanVienDetail.email}}</th>
                            </tr>
                            <tr>
                                <td> Trạng Thái :</td>
                                <th>{{nhanVienDetail.trangThai == 1 ? "Đang Làm" : "Nghỉ Làm"}}</th>
                            </tr>
                            <tr>
                                <td>Địa Chỉ :</td>
                                <th>{{nhanVienDetail.xa}} - {{nhanVienDetail.huyen}} - {{nhanVienDetail.tinh}}</th>
                            </tr>
                            <tr>
                                <td>Chức Vụ :</td>
                                <th>{{nhanVienDetail.chucVu == 1 ? "Nhân Viên" : "Chủ Cửa Hàng"}}</th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
