<div style="margin: 20px">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="fw-bold">Tổng Quan</h5>
    </div>
    <div class="card m-2 p-2 rounded box-shadow-page bg-white">
        <div class="card-header">
            <select ng-model="selectedDate" ng-change="optionChanged()" style="float: right">
                <option value="" disabled>Chọn ngày tháng</option>
                <option ng-repeat="date in dates" value="{{ date.value }}">{{ date.display }}</option>
            </select>
        </div>
        <div class="row bg-white box-shadow-page" style="border-radius: 11px;
    margin: 3px;">
            <div class="col-md-3">
                <div class="m-2">
                    <div class="p-4 rounded box-shadow-page " style="background: rgb(12 231 250 / 15%);">
                        <p class="mb-2 font-size-14-ncl">Doanh thu </p>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h5 class="fw-bold"><i class="fas fa-shopping-basket" style="background: white;padding: 10px;
    border-radius: 10px;
    color: rgb(12 231 250);">  {{ tongDoanhThu | currency}} </i></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="m-2">
                    <div class="p-4 rounded box-shadow-page " style="background: rgb(12 231 250 / 15%);">
                        <p class="mb-2 font-size-14-ncl">Tổng hóa đơn</p>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h5 class="fw-bold"><i class="fas fa-shopping-basket" style="background: white;padding: 10px;
    border-radius: 10px;
    color: rgb(12 231 250);"> {{tongHoaDon}}</i></h5>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-2">
                    <div class="p-4 rounded box-shadow-page" style=" background: rgb(250 145 107 / 15%);">
                        <p class="mb-2 font-size-14-ncl">Tổng sản phẩm</p>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h5 class="fw-bold"><i class="fas fa-wallet" style="background: white;padding: 10px;
    border-radius: 10px;
    color: rgb(250 145 107);"> {{tongSanPham}}</i></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="m-2">
                    <div class="p-4 rounded box-shadow-page" style=" background: rgb(87 67 190 / 15%);">
                        <p class="mb-2 font-size-14-ncl">Yêu cầu đổi - trả</p>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h5 class="fw-bold"><i class="fas fa-user-plus" style="padding: 10px; background: white;
    border-radius: 10px;
    color: rgb(87 67 190);"> {{tongYeuCau}}</i></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="">
                <div class="">
                    <div class="card m-2 p-2 rounded box-shadow-page bg-white">
                        <div class="card-header bg-white">
                            <p class="fw-bold p-1 mt-1">Doanh thu các tháng trong năm</p>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="">
                <div class="">
                    <div class="card m-2 p-2 rounded box-shadow-page bg-white">
                        <div class="card-body">
                            <div class="">
                                <div id="myPlot1" style="width:100%;max-width:700px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="">
                <div class="">
                    <div class="card m-2 p-2 rounded box-shadow-page bg-white">
                        <div class="card-header bg-white">
                            <p class="fw-bold p-1 mt-1">Danh sách giầy bán chạy</p>
                        </div>

                        <canvas id="myChart2"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="">
                <div class="">
                    <div class="card m-2 p-2 rounded box-shadow-page bg-white">
                        <div class="card-body">
                            <div class="">
                                <div id="myPlot" style="width:100%;max-width:700px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
