<form name="dotGiamGiaForm" ng-submit="updateDotGiamGia()">
    <button type="submit" class="btn btn-primary" ng-disabled="dotGiamGiaForm.$invalid">Cập nhật</button>
    <div class="form-group">
        <label for="ten">Tên chương trình: </label>
        <input type="text" class="form-control" id="ten" name="ten" ng-model="dotGiamGia.ten" ng-maxlength="50"
               ng-required="true" ng-change="change(dotGiamGiaForm.ten)">
        <small class="error-message"
               ng-show="(dotGiamGiaForm.ten.$dirty || dotGiamGiaForm.ten.$touched) && dotGiamGiaForm.ten.$error.required">Không
            được để
            trống tên</small>
        <small class="error-message"
               ng-show="(dotGiamGiaForm.ten.$dirty || dotGiamGiaForm.ten.$touched) && dotGiamGiaForm.ten.$error.maxlength">Tên
            không được
            vượt quá 50 ký tự</small>
        <small class="error-message" ng-show="errors.ten && !dotGiamGiaForm.ten.$dirty">{{errors.ten}}</small>
    </div>
    <div class="form-group">
        <label for="ghiChu">Ghi chú: </label>
        <textarea class="form-control" id="ghiChu" name="ghiChu" rows="3" ng-model="dotGiamGia.ghiChu"
                  ng-change="changeGhiChu(dotGiamGiaForm.ghiChu)" ng-required="true"></textarea>
        <small class="error-message"
               ng-show="(dotGiamGiaForm.ghiChu.$dirty || dotGiamGiaForm.ghiChu.$touched) && dotGiamGiaForm.ghiChu.$error.required">Không
            được để
            trống ghi chú</small>
        <small class="error-message" ng-show="errors.ghiChu && !dotGiamGiaForm.ghiChu.$dirty">{{errors.ghiChu}}</small>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày bắt đầu: </label>
                <input type="date" class="form-control" id="ngayBatDau" name="ngayBatDau"
                       ng-model="dotGiamGia.ngayBatDau" ng-required="true">
                <small class="error-message"
                       ng-show="(dotGiamGiaForm.ngayBatDau.$dirty || dotGiamGiaForm.ngayBatDau.$touched) && dotGiamGiaForm.ngayBatDau.$error.required">Không
                    được để trống ngày bắt đầu</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày kết thúc: </label>
                <input type="date" class="form-control" id="ngayKetThuc" name="ngayKetThuc"
                       ng-model="dotGiamGia.ngayKetThuc" ng-required="true">
                <small class="error-message"
                       ng-show="(dotGiamGiaForm.ngayKetThuc.$dirty || dotGiamGiaForm.ngayKetThuc.$touched) && dotGiamGiaForm.ngayKetThuc.$error.required">Không
                    được để trống ngày kết thúc</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Trạng thái: </label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="dotGiamGiaTrangThai" name="trangThai"
                           ng-model="dotGiamGia.trangThai" ng-true-value="1" ng-false-value="0"
                           ng-init="dotGiamGia.trangThai = 1">
                    <label class="form-check-label" for="dotGiamGiaTrangThai">Kích hoạt</label>
                </div>
                <small class="error-message"
                       ng-show="errors.trangThai && !dotGiamGiaForm.trangThai.$dirty">{{errors.trangThai}}</small>
            </div>
        </div>
    </div>
    <label>Điều kiện</label>
    <div ng-repeat="dieuKien in dotGiamGia.dieuKienResponses">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="tongHoaDon" name="tongHoaDon{{$index}}"
                           ng-model="dieuKien.tongHoaDon" ng-change="change(dotGiamGiaForm['tongHoaDon' + $index])"
                           ng-required="true" placeholder="Tổng hóa đơn" ng-pattern="/^[1-9][0-9]*$/"/>
                    <small class="error-message"
                           ng-show="(dotGiamGiaForm['tongHoaDon' + $index].$dirty || dotGiamGiaForm['tongHoaDon' + $index].$touched) && (dotGiamGiaForm['tongHoaDon' + $index].$error.required || dotGiamGiaForm['tongHoaDon' + $index].$error.pattern)">Tổng
                        hóa đơn phải >= 0</small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="phanTramGiam" name="phanTramGiam{{$index}}"
                           ng-model="dieuKien.phanTramGiam" ng-change="change(dotGiamGiaForm['phanTramGiam' + $index])"
                           ng-required="true" placeholder="% giảm" ng-pattern="/^([1-9][0-9]?|100)$/"/>
                    <small class="error-message"
                           ng-show="(dotGiamGiaForm['phanTramGiam' + $index].$dirty || dotGiamGiaForm['phanTramGiam' + $index].$touched) && (dotGiamGiaForm['phanTramGiam' + $index].$error.required || dotGiamGiaForm['phanTramGiam' + $index].$error.pattern)">Vui
                        lòng nhập một số từ 1 đến 100</small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button ng-click="removeDieuKien($index)" ng-show="$index > 0">Xóa</button>
                </div>
            </div>

        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="addDieuKien()"
            ng-disabled="dotGiamGiaForm.$invalid">Thêm
        điều kiện
    </button>
</form>