<h1>Thêm lót giày</h1>

<form name="lotGiayForm" ng-submit="addLotGiay()">
    <div class="form-group">
        <label for="lotGiayTen">Tên: </label>
        <input type="text" class="form-control" id="lotGiayTen" name="ten" ng-model="lotGiay.ten" ng-maxlength="50" ng-required="true"
            ng-change="change(lotGiayForm.ten)">
        <small class="error-message" ng-show="(lotGiayForm.ten.$dirty || lotGiayForm.ten.$touched) && lotGiayForm.ten.$error.required">Không được để
            trống tên</small>
        <small class="error-message" ng-show="(lotGiayForm.ten.$dirty || lotGiayForm.ten.$touched) && lotGiayForm.ten.$error.maxlength">Tên không được
            vượt quá 50 ký tự</small>
        <small class="error-message" ng-show="errors.ten && !lotGiayForm.ten.$dirty">{{errors.ten}}</small>
    </div>
    <div class="form-group">
        <label for="lotGiayMoTa">Mô tả: </label>
        <textarea class="form-control" id="lotGiayMoTa" name="moTa" rows="3" ng-model="lotGiay.moTa" ng-minlength="3" ng-maxlength="3000" ng-required="true" ng-change="change(lotGiayForm.moTa)"></textarea>
        <small class="error-message" ng-show="(lotGiayForm.moTa.$dirty || lotGiayForm.moTa.$touched) && lotGiayForm.moTa.$error.required">Không được để
            trống mô tả</small>
        <small class="error-message" ng-show="(lotGiayForm.moTa.$dirty || lotGiayForm.moTa.$touched) && lotGiayForm.moTa.$error.minlength">Mô tả không được quá ngắn</small>
        <small class="error-message" ng-show="(lotGiayForm.moTa.$dirty || lotGiayForm.moTa.$touched) && lotGiayForm.moTa.$error.maxlength">Mô tả không được quá 3000 ký tự</small>
        <small class="error-message" ng-show="errors.moTa && !lotGiayForm.moTa.$dirty">{{errors.moTa}}</small>
    </div>

    <div class="form-group">
        <label>Trạng thái: </label>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="lotGiayTrangThai" name="trangThai" ng-model="lotGiay.trangThai" ng-true-value="1"
                   ng-false-value="0" ng-init="lotGiay.trangThai = 1">
            <label class="form-check-label" for="lotGiayTrangThai">Đang kinh doanh</label>
        </div>
        <small class="error-message" ng-show="errors.trangThai && !lotGiayForm.trangThai.$dirty">{{errors.trangThai}}</small>
    </div>
    <button type="submit" class="btn btn-primary">Tạo mới</button>
</form>