<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="title-page">
    <h5>Đơn Hàng</h5>
    <div class="d-flex">
        <p class="text-secondary m-0">Trang chủ - Quản Lý Đơn Hàng - Danh Sách</p>
    </div>
</div>
<div class="box-shadow-page" style="margin: 20px">
    <div class="card-body">
        <div class="d-flex add-search-custom">
            <div>
                <div>
                    <div class="input-group">
                        <span class="input-group-text bg-white" id="basic-addon1"><i class="fas fa-search"></i></span>
                        <input id="seachText" class="form-control" type="text" ng-model="searchText"
                               placeholder="Nhập từ khóa">
                        <button class="btn btn-custom " ng-click="search()">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="">
                <button ng-click="inBaoCao()" class="btn btn-primary">In Báo Cáo</button>
                <!--                <a class="btn btn-primary" href="#/add">Thêm Nhân Viên</a>-->
            </div>
        </div>
        <div class="d-flex justify-content-start radio-filter">
            <div class="custom-radio">
                <input type="radio" id="all" name="status" ng-model="status" value="-1"
                       ng-checked="status != 1 && status != 2"
                       ng-change="changeRadio(-1)">
                <label class="radio-label" for="all">Tất cả</label>
            </div>

            <div class="custom-radio">
                <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 1"
                       ng-change="changeRadio(1)">
                <label class="radio-label" for="active">Chờ thanh toán</label>
            </div>

            <div class="custom-radio">
                <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 2"
                       ng-change="changeRadio(2)">
                <label class="radio-label" for="disable">Đã thanh toán</label>
            </div>

        </div>
        <div>
            <table class="table align-middle text-center" border="1">
                <tr class="table-secondary">
                    <th>Mã Hóa Đơn</th>
                    <th>Ngày Tạo Đơn</th>
                    <th>Tên Khách Hàng</th>
                    <th>Người Tạo</th>
                    <th>Trạng Thái Đơn Hàng</th>
                    <th>Khách Phải Trả</th>
                    <th>Action</th>
                </tr>

                <tr ng-repeat="hoaDon in hoaDons">
                    <td>{{hoaDon.id}}</td>
                    <td>{{hoaDon.ngayTao}}</td>
                    <td>{{hoaDon.khachHang.hoTen}}</td>
                    <td>{{hoaDon.nhanVien.hoTen}}</td>
                    <td><h5>
                <span ng-class="{'badge bd-warning-custom': hoaDon.trangThai == 1, 'badge bd-success-custom': hoaDon.trangThai == 2}">
                    {{hoaDon.trangThai == 1 ? 'Chờ thanh toán' : 'Đã thanh toán'}}
                </span>
                    </h5></td>
                    <td>
                        {{hoaDon.tongTien == null ? "NaN" : hoaDon.tongTien}}
                    </td>
                    <td>
                                                <div class="d-sm-inline-flex">
                                                    <a class="btn btn-custom" ng-href="#/detail/{{hoaDon.id}}" data-bs-placement="top"
                                                       title="Chi Tiết"><i class="far fa-edit"></i></a>
                                                </div>
                    </td>
                </tr>
            </table>

            <!--            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
            <!--            <button type="button" hidden class="btn btn-primary"  data-bs-target="#showNhanVien">-->

            <!--            </button>-->

            <!-- Modal -->
            <!--            <div class="modal fade" id="showNhanVien" tabindex="-1" aria-labelledby="exampleModalLabel"-->
            <!--                 aria-hidden="true">-->
            <!--                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">-->
            <!--                    <div class="modal-content">-->
            <!--                        <div class="modal-header">-->
            <!--                            <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Nhân Viên</h5>-->
            <!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--                        </div>-->
            <!--                        <div class="modal-body">-->
            <!--                            <table>-->
            <!--                                <tr>-->
            <!--                                    <td>ID :</td>-->
            <!--                                    <th>{{nhanVienDetail.id}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td>Tên :</td>-->
            <!--                                    <th>{{nhanVienDetail.hoTen}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td>Giới Tính :</td>-->
            <!--                                    <th>{{nhanVienDetail.gioiTinh == 1 ? "Nam" : "Nữ"}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td>Ngày Sinh :</td>-->
            <!--                                    <th>{{nhanVienDetail.ngaySinh}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td>Số Điện Thoại :</td>-->
            <!--                                    <th>{{nhanVienDetail.soDienThoai}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td> Email :</td>-->
            <!--                                    <th>{{nhanVienDetail.email}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td> Trạng Thái :</td>-->
            <!--                                    <th>{{nhanVienDetail.trangThai == 1 ? "Đang Làm" : "Nghỉ Làm"}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td>Địa Chỉ :</td>-->
            <!--                                    <th>{{nhanVienDetail.xa}} - {{nhanVienDetail.huyen}} - {{nhanVienDetail.tinh}}</th>-->
            <!--                                </tr>-->
            <!--                                <tr>-->
            <!--                                    <td>Chức Vụ :</td>-->
            <!--                                    <th>{{nhanVienDetail.chucVu == 1 ? "Nhân Viên" : "Chủ Cửa Hàng"}}</th>-->
            <!--                                </tr>-->
            <!--                            </table>-->
            <!--                        </div>-->
            <!--                        <div class="modal-footer">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>


        </div>
    </div>
</div>