<style>
    .modal table td {
        white-space: unset !important;
    }
</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="title-page">
    <h5>Nhân Viên</h5>
    <div class="d-flex">
        <p class="text-secondary m-0">Trang chủ - Quản Lý Nhân Viên - Danh Sách</p>
    </div>
</div>
<div class="box-shadow-page" style="margin: 20px">
    <div class="card-body">
        <div class="d-flex add-search-custom">
        </div>
        <div>
            <div class="card rounded-md bg-white">
                <main class="card-body p-6">
                    <div class="d-md-flex justify-content-between align-items-center mb-6">

                        <div>
                            <h4 class="card-title fw-bold">
                                Danh Sách Nhân Viên
                            </h4>
                            <div class="d-flex justify-content-start radio-filter">
                                <!--                                <div class="custom-radio">-->
                                <!--                                    <input type="radio" id="all" name="status" ng-model="status" value="-1"-->
                                <!--                                           ng-checked="status != 1 && status != 2"-->
                                <!--                                           ng-change="changeRadio(-1)">-->
                                <!--                                    <label class="radio-label" for="all">Tất cả</label>-->
                                <!--                                </div>-->

                                <div class="custom-radio">
                                    <input type="radio" id="choThanhToan" name="status" ng-model="status" value="1"
                                           ng-checked="status == 1"
                                           ng-change="changeRadio(1)">
                                    <label class="radio-label" for="choThanhToan">Chờ xác nhận</label>
                                </div>

                                <div class="custom-radio">
                                    <input type="radio" id="daThanhToan" name="status" ng-model="status" value="2"
                                           ng-checked="status == 2"
                                           ng-change="changeRadio(2)">
                                    <label class="radio-label" for="daThanhToan">Chờ giao</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" id="choDongGoi" name="status" ng-model="status" value="3"
                                           ng-checked="status == 3"
                                           ng-change="changeRadio(3)">
                                    <label class="radio-label" for="choDongGoi">Đang giao</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" id="choGiaoHang" name="status" ng-model="status" value="4"
                                           ng-checked="status == 4"
                                           ng-change="changeRadio(4)">
                                    <label class="radio-label" for="choGiaoHang">Hoàn thành</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" id="dangGiaoHang" name="status" ng-model="status" value="5"
                                           ng-checked="status == 5"
                                           ng-change="changeRadio(5)">
                                    <label class="radio-label" for="dangGiaoHang">Chờ xác nhận</label>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <input type="text" ng-model="searchText" ng-change="search()"
                                           placeholder="search..." class="form-control py-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table align-middle table-borderless text-center mw-100" border="1">
                            <tr>
                                <th>Mã Hóa Đơn</th>
                                <th>Ngày Tạo Đơn</th>
                                <th>Tên Khách Hàng</th>
                                <th>Người Tạo</th>
                                <th>Trạng Thái Đơn Hàng</th>
                                <th>Khách Phải Trả</th>
                                <th>Action</th>
                            </tr>

                            <tr ng-repeat="hoaDon in hoaDons">
                                <td>
                                    <input type="checkbox" ng-model="hoaDon.isSelected">
                                </td>
                                <td>{{hoaDon.id}}</td>
                                <td>{{hoaDon.ngayTao}}</td>
                                <td>{{hoaDon.khachHang.hoTen}}</td>
                                <td>{{hoaDon.nhanVien.hoTen}}</td>
                                <td><h5>
               <span ng-class="{
                  'badge bd-blueDark-custom': hoaDon.trangThai == 1,
                  'badge bd-redOrange-custom': hoaDon.trangThai == 2,
                  'badge bd-info-custom': hoaDon.trangThai == 3,
                  'badge bd-success-custom': hoaDon.trangThai == 4,
                  'badge bd-warning-custom': hoaDon.trangThai == 5
                }">
              <span ng-if="hoaDon.trangThai == 1">Chờ xác nhận</span>
              <span ng-if="hoaDon.trangThai == 2">Chờ giao</span>
              <span ng-if="hoaDon.trangThai == 3">Đang giao</span>
              <span ng-if="hoaDon.trangThai == 4">Hoàn thành</span>
              <span ng-if="hoaDon.trangThai == 5">Chờ thanh toán</span>
</span>
                                </h5></td>
                                <td>
                                    {{hoaDon.tongTien == null ? "NaN" : hoaDon.tongTien}}
                                </td>
                                <td>
                                    <div class="d-sm-inline-flex">
                                        <button class="btn btn-custom" ng-click="detailHoaDon(hoaDon.id)"
                                                data-bs-toggle="modal"
                                                data-bs-target="#showHoaDon" data-bs-placement="top"
                                                title="Xem Chi Tiết">
                                            <i class="fas fa-eye "></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-custom" ng-click="updateSelected()">Cập nhật</button>
                        </div>

                    </div>
                </main>
            </div>
            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="showHoaDon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <h5 class="modal-title" id="exampleModalLabel">Mã Hóa Đơn {{hoaDon.id}} </h5>
                    <h5 style="    margin-left: 10px;"><span ng-class="{
                  'badge bd-blueDark-custom': hoaDon.trangThai == 1,
                  'badge bd-redOrange-custom': hoaDon.trangThai == 2,
                  'badge bd-info-custom': hoaDon.trangThai == 3,
                  'badge bd-success-custom': hoaDon.trangThai == 4,
                  'badge bd-warning-custom': hoaDon.trangThai == 5
                }">
              <span ng-if="hoaDon.trangThai == 1">Chờ xác nhận</span>
              <span ng-if="hoaDon.trangThai == 2">Chờ giao</span>
              <span ng-if="hoaDon.trangThai == 3">Đang giao</span>
              <span ng-if="hoaDon.trangThai == 4">Hoàn thành</span>
              <span ng-if="hoaDon.trangThai == 5">Chờ thanh toán</span>
                </span></h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="    overflow-y: auto;
    overflow-x: hidden;
    height: 491px;">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table align-middle table-borderless text-center " border="1">
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Đơn giá</th>
                                </tr>
                                <tr ng-repeat="hdct in hoaDonChiTiets">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-3 pe-3"
                                                 src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/786867c8-f1f7-4dfd-9a7e-039d92406715/air-jordan-1-low-shoes-6Q1tFM.png"
                                                 width="80px" alt="">
                                            <p> {{hdct.bienTheGiay.giayResponse.ten}} (
                                                {{hdct.bienTheGiay.kichThuoc.ten}} - {{hdct.bienTheGiay.mauSac.ten}}
                                                )</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>{{hdct.soLuong}}</p>
                                    </td>
                                    <td>
                                        <p>{{hdct.donGia}}</p>
                                    </td>
                                    <td>
                                        <p>{{hdct.soLuong * hdct.donGia}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <form ng-submit="updateHoaDon()">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-2">
                                            <label class="form-label">Khách Hàng</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control"
                                                       ng-model="hoaDon.khachHang.hoTen">
                                                <button class="btn btn-custom" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-2">
                                            <label class="form-label">Số điện thoại</label>
                                            <input type="text" class="form-control" ng-model="hoaDon.soDienThoai">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Mã Hóa Đơn</label>
                                            <input type="text" class="form-control" ng-model="hoaDon.id">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Người Bán</label>
                                            <input type="text" class="form-control" ng-model="hoaDon.nhanVien.hoTen">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Xã</label>
                                            <select class="form-select" ng-model="hoaDon.xa">
                                                <option value="1">Tân Hòa</option>
                                                <option value="2">Cộng Hòa</option>
                                                <option value="3">Tân Phú</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Huyện</label>
                                            <select class="form-select" ng-model="hoaDon.huyen">
                                                <option value="1">Quốc Oai</option>
                                                <option value="2">Thạch Thất</option>
                                                <option value="3">Chương Mỹ</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tỉnh</label>
                                            <select class="form-select" ng-model="hoaDon.tinh">
                                                <option value="1">Bà Rịa</option>
                                                <option value="2">KonTum</option>
                                                <option value="3">Đak Lak</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Địa Chỉ Chi Tiết</label>
                                            <textarea class="form-control" rows="9"
                                                      ng-model="hoaDon.diaChiChiTiet"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Khuyến Mãi ( % )</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Tổng Tiền Sản Phẩm ( VNĐ )</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Phương Thức Mua Hàng</label>
                                            <select class="form-select">
                                                <option value="1">Mua Tại Cửa Hàng</option>
                                                <option value="3">Mua Online</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Phương Thức Thanh Toán</label>
                                            <select class="form-select">
                                                <option value="1">Tiền Mặt</option>
                                                <option value="3">Chuyển Khoản</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                                <label class="form-check-label">
                                                    Chờ thanh toán
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 d-flex align-items-center">
                                        <label class="form-label">Đơn vị vận chuyển</label>
                                        <img src="https://file.hstatic.net/200000078829/file/dich_vu_van_chuyen_ghn_express_1_f7f05461de5140f4abf8ab4524fd260f_grande.png"
                                             width="100px" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Phí Vận Chuyển</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Tổng Tiền</label>
                                            <input type="text" class="form-control" ng-model="tongTien">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Ghi chú</label>
                                            <textarea class="form-control" rows="3" ng-model="hoaDon.ghiChu"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Xuất QR</button>
                <button type="button" class="btn btn-custom">Cập nhật</button>
                <button type="button" class="btn btn-danger">Hủy</button>
            </div>
        </div>
    </div>
</div>
