
<div class="card" style="margin: 20px">
    <h5 class="card-header">Danh sách khách hàng</h5>
    <div class="card-body">
        <div class="d-flex add-search-custom">
            <div class="input-group w-25">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                <input id="seachText" class="form-control" type="text" ng-model="searchText"
                       placeholder="Nhập từ khóa">
                <button class="btn btn-custom " ng-click="search()">Tìm kiếm</button>
            </div>
            <a class="btn btn-primary" href="#/add">Thêm khách hàng</a>
        </div>

        <div class="d-flex justify-content-start radio-filter">
            <div class="custom-radio">
                <input type="radio" id="all" name="status" ng-model="status" value="-1" ng-checked="status != 0 && status != 1"
                       ng-change="changeRadio(-1)">
                <label class="radio-label" for="all">Tất cả</label>
            </div>

            <div class="custom-radio">
                <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 1"
                       ng-change="changeRadio(1)">
                <label class="radio-label" for="active">hoạt động</label>
            </div>

            <div class="custom-radio">
                <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 0"
                       ng-change="changeRadio(0)">
                <label class="radio-label" for="disable">không hoạt động</label>
            </div>
            <div class="custom-radio">
                <input type="radio" id="staff" name="status" ng-model="status" value="2" ng-checked="status == 2"
                       ng-change="changeRadio(2)">
                <label class="radio-label" for="staff">Khách Hàng</label>
            </div>
        </div>


        <div>
            <table class="table" border="1">
                <tr class="table-secondary">
                    <th>ID</th>
                    <th>Họ Tên</th>
                    <th>Giới tính</th>
                    <th>Ngày Sinh</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Điểm tích luỹ</th>
                    <th>Trạng Thái</th>
                    <th>Action</th>
                </tr>

                <tr ng-repeat="khachHang in khachHangs">
                    <td>{{khachHang.id}}</td>
                    <td>{{khachHang.hoTen}}</td>
                    <td>{{khachHang.gioiTinh==true?"Nam":"Nữ"}}</td>
                    <td>{{khachHang.ngaySinh}}</td>
                    <td>{{khachHang.soDienThoai}}</td>
                    <td>{{khachHang.email}}</td>
                    <td>{{khachHang.diemTichLuy}}</td>
                    <td>
                        <h5>
                <span ng-class="{'badge bd-success-custom': khachHang.trangThai == 1, 'badge bd-danger-custom': khachHang.trangThai != 1}">
                    {{khachHang.trangThai == 1 ? 'Hoạt động' : 'không hoạt động'}}
                </span>
                        </h5>
                    </td>

                    <td>
                        <div class="d-sm-inline-flex">
                            <button class="btn btn-custom" ng-click="detailKhachHang(khachHang.id)"><i class="fas fa-eye"></i>
                            </button>
                            <a class="btn btn-custom" ng-href="#/update/{{khachHang.id}}"><i class="far fa-edit"></i></a>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- Button trigger modal -->
            <button type="button" hidden class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showKhachHang">

            </button>

            <!-- Modal -->
            <div class="modal fade" id="showKhachHang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Khách Hàng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tr>
                                    <td>ID :</td>
                                    <th>{{khachHangDetail.id}}</th>
                                </tr>
                                <tr>
                                    <td>Tên :</td>
                                    <th>{{khachHangDetail.hoTen}}</th>
                                </tr>
                                <tr>
                                    <td>Giới Tính :</td>
                                    <th>{{khachHangDetail.gioiTinh == 1 ? "Nam" : "Nữ"}}</th>
                                </tr>
                                <tr>
                                    <td>Ngày Sinh :</td>
                                    <th>{{khachHangDetail.ngaySinh}}</th>
                                </tr>
                                <tr>
                                    <td>Số Điện Thoại :</td>
                                    <th>{{khachHangDetail.soDienThoai}}</th>
                                </tr>
                                <tr>
                                    <td> Email :</td>
                                    <th>{{khachHangDetail.email}}</th>
                                </tr>
                                <tr>
                                    <td> Trạng Thái :</td>
                                    <th>{{khachHangDetail.trangThai == 1 ? "Hoạt động" : "Không hoạt động"}}</th>
                                </tr>

                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>


        </div>

    </div>
</div>