<style>
    #buttons-container {
        display: flex;
    }

    .insideDiv {
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        border-radius: 7px;
    }

    .button_checked {
        transition: 0.3s all;
        border: 1px solid rgb(0, 0, 0) !important;
        border-radius: 7px;
    }

    #image-container img {
        margin-bottom: 10px;
    }

    .text-limit {
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .toggle-button {
        background: transparent;
        border: none;
        color: blue;
    }

    .labelTabDelete {
        cursor: pointer;
    }

    .labelTabDelete:hover {
        color: red;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        font-weight: bolder;
        background-color: #fff;
        border-color: #1d1e1e #dee2e6 #fff;
        border-top: 1.5px solid #1d1e1e;
    }
    .item{
        margin-top:13px;
        border-bottom: 1px solid #dbdbdb;
    }
    .item div{
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    .item h5 {
        font-weight: bold;
    }

    .item p {
        color: black;
        font-size: 14px;
    }
    .btn-size{
        padding: 10px 20px;
    }
    .show-text p{
        max-height: 100px !important;
        transition: 0.3s ease-in-out;
    }
    .show-text i{
        transition: 0.3s ease-in-out;
        transform: rotate(180deg);
    }
    .i-button{
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }

</style>

<div class="container">
    <div class="row">
        <div id="" class=" col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" id="image-container">
                </div>
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col-md-7">
            <div class="side-left">
                <div class="title">
                    <h5 class="py-3 fw-bold border-bottom-1">{{giayDetail.ten}} </h5>
                    <h5 class="py-2 text-danger fw-bold">
                        <span id="price-product" class="py-3">

                                <span ng-show="!giayDetail.giaBan">
                                    {{ '₫' + (giaySeletect.giaThapNhat | number) + (giaySeletect.giaThapNhat !== giaySeletect.giaLonNhat ? '
                                            - ₫' + (giaySeletect.giaLonNhat | number) : '') }}
                                </span>
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan  | number:0 }}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}
                                        </span>
                                    </span>
                    </h5>
                    <h5 class="font-size-16-ncl fw-bold">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span>
                    </h5>
                </div>
                <h5 class="font-size-16-ncl fw-bold py-3">Màu Sắc</h5>
                <div id="buttons-container"></div>
                <div id="product-info"></div>
                <div class="size-selector">
                    <h5 class="font-size-16-ncl fw-bold py-3">Kích Thước</h5>
                    <div id="sizeButtons"></div>
                </div>
                <div class="mt-3 d-flex" style="width: 263px;">
                    <button class="btn btn-light"><i class="fas fa-minus"></i></button>
                    <input type="number" class="form-control" ng-model="soLuongMua" ng-init="1">
                    <button class="btn btn-light"><i class="fas fa-plus"></i></button>
                </div>

            </div>
            <button class="btn btn-custom mt-3" style="    width: 263px;
    padding: 13px 0px;" ng-click="themVaoGioHang()">Thêm Vào Giỏ Hàng
            </button>
            <br>
            <button class="btn btn-outline-dark mt-3" style="    width: 263px;
    padding: 13px 0px;" ng-click="themVaoGioHang()"><i class="far fa-heart" style=""></i> Yêu Thích
            </button>
        </div>
    </div>
    <div class="moTa pt-3">
        <h5 class="font-size-16-ncl">Mô tả sản phẩm</h5>
        <div class="info"></div>
    </div>

    <div class="py-5">
        <h5 style="text-align: center; font-weight: bold">Có thể bạn sẽ thích</h5>
    </div>
    <div class="row">
        <div class="col-md-2" ng-repeat="giay in giays">
            <a href="#/detail/{{giay.id}}" class="text-none">
                <div class=" position-relative">
                    <div class="mb-2">
                        <img src="https://product.hstatic.net/1000361048/product/dz0482_001_a_d718733fb6d344febec840aee172ca23_master.jpg"
                             width="100%" alt="">
                    </div>
                    <div class="product-name">
                        <h5 class="font-size-14-ncl" title="{{giay.ten}}">{{giay.ten}}</h5>
                    </div>
                    <div class="product-price">
                        <div class="d-flex align-items-center">
                            <p class="font-size-14-ncl text-danger m-0">
                                {{ '₫' + (giay.giaThapNhat | number) + (giay.giaThapNhat !== giay.giaLonNhat ? '
                                - ₫' + (giay.giaLonNhat | number) : '') }}
                            </p>

                        </div>
                    </div>
                    <div class="product-variant">
                        <p class="font-size-14-ncl">{{giay.lstMauSac.length }} Màu </p>
                    </div>
                    <div class="position-absolute top-0 right-0">
                        <p class="font-size-14-ncl fw-bold"><span style="    padding: 10px;font-size: 13px;color: red;"
                                                                  class="">-36%</span></p>
                    </div>
                    <div class="position-absolute " style="color: black;right: 8px;top: 3px;">
                        <i class="far fa-heart" style="font-size: 20px;"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
