<style>
    .modal table td {
        white-space: unset !important;
    }

    .nav-menu i {
        width: 31px;
    }

    .bg-black {
        background: black;
    }

    .custom-radio label::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: black;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .custom-radio input[type="radio"]:checked + .radio-label {
        font-weight: bold;
        color: black;
    }

    .rating {
        font-size: 24px;
        cursor: pointer;
    }

    .star {
        color: #ccc;
    }

    .filled {
        color: gold;
    }

    .hover {
        color: orange;
    }
</style>
<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 pb-5">

    <div class="row">
        <div class="col-md-12 border-bottom-1 pb-3">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="" style="padding-left: 21%;">
                        <div class="row">
                            <div class="col-auto">
                                <div>
                                    <a class="text-decoration-none text-dark fw-bold" href="">Thông Tin Cá Nhân</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div>
                                    <a class="text-decoration-none text-dark fw-bold" href=""
                                       style="border-bottom: 2px solid #212529;">Đơn Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="py-3 mt-3 bg-black rounded">
                <p class="text-white m-auto ps-3 fw-bold">DANH SÁCH ĐƠN HÀNG</p>
            </div>
            <div class="d-flex justify-content-start radio-filter">
                <div class="custom-radio" ng-init="status = 4">
                    <input type="radio" id="choThanhToan" name="status" ng-model="status" value="1"
                           ng-checked="status == 4"
                           ng-change="changeRadio(4)">
                    <label class="radio-label" for="choThanhToan">Chờ xác nhận</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="daThanhToan" name="status" ng-model="status" value="2"
                           ng-checked="status == 2"
                           ng-change="changeRadio(2)">
                    <label class="radio-label" for="daThanhToan">Chờ giao</label>
                </div>
                <div class="custom-radio">
                    <input type="radio" id="choDongGoi" name="status" ng-model="status" value="3"
                           ng-checked="status == 3"
                           ng-change="changeRadio(3)">
                    <label class="radio-label" for="choDongGoi">Đang giao</label>
                </div>
                <div class="custom-radio">
                    <input type="radio" id="choGiaoHang" name="status" ng-model="status" value="4"
                           ng-checked="status == 1"
                           ng-change="changeRadio(1)">
                    <label class="radio-label" for="choGiaoHang">Hoàn thành</label>
                </div>
<!--                <div class="custom-radio">-->
<!--                    <input type="radio" id="dangGiaoHang" name="status" ng-model="status" value="5"-->
<!--                           ng-checked="status == 0"-->
<!--                           ng-change="changeRadio(0)">-->
<!--                    <label class="radio-label" for="dangGiaoHang">Chờ thanh toán</label>-->
<!--                </div>-->

            </div>
            <div ng-repeat="hoaDon in hoaDons" class="pb-4 border-bottom-1">
                <div class=" p-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <p>Mã Hóa Đơn <span class="fw-bold">{{hoaDon.loaiHoaDon == 1 ? "HD" : hoaDon.loaiHoaDon == 2 ? "HDD" : "TH"}}{{hoaDon.id}}</span></p>
                        <p>Ngày Tạo Đơn :{{hoaDon.ngayTao}}</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <button ng-if="hoaDon.trangThai == 1" ng-click="danhGiaDonHang(hoaDon.id)" data-bs-toggle="modal"
                                    data-bs-target="#listDanhGiaDonHang" class="btn btn-outline-dark">Đánh Giá
                            </button>
                            <a href="#/don-hang/detail/{{hoaDon.id}}" class="btn btn-outline-dark">Chi Tiết Đơn Hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal List Đánh Giá Đơn Hàng-->
<div class="modal fade" id="listDanhGiaDonHang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-3">
                    <div>
                        <div class="cart-selected-list" id="cart">
                            <div ng-repeat="hoaDonChiTiet in lstHoaDonChiTiet" class="border-bottom-1 mt-1">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div data-bs-toggle="collapse" href="#collapseExample" role="button"
                                         aria-expanded="false" aria-controls="collapseExample">
                                        <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                            {{hoaDonChiTiet.bienTheGiay.giayResponse.ten}}</p>
                                        <div class="d-flex">
                                            <div>
                                                <a href="#/detail/{{bienTheGiay.id}}">
                                                    <img class="rounded" width="70px"
                                                         src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="w-75 ps-3">

                                                <div class="d-flex align-items-center justify-content-between">
                                                    <p class="font-size-14-ncl text-secondary mb-1">Kích cỡ :
                                                        {{hoaDonChiTiet.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                                                        {{hoaDonChiTiet.bienTheGiay.mauSac.ten}}</p>

                                                </div>
                                                <div class=" d-flex">
                                                    <p class="font-size-12-ncl text-dark mb-1">Số lượng :
                                                        {{hoaDonChiTiet.soLuong}}</p>
                                                    <div ng-repeat="error in data">
                                                        <div ng-if="getErrorId(error) === bienTheGiay.id">
                                                            <!-- Hiển thị message lỗi dưới sản phẩm -->
                                                            {{ error.split(':')[1] }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" d-flex  mb-3">
                                                    <p class="font-size-13-ncl fw-bold text-dark mb-1"><span
                                                            ng-show="hoaDonChiTiet.bienTheGiay.khuyenMai">
                                            <del>{{hoaDonChiTiet.bienTheGiay.giaBan  | number : 0:0 }}</del>
                                        <span class="position-relative">
                                            {{hoaDonChiTiet.bienTheGiay.giaBanSauKhuyenMai | number : 0:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{hoaDonChiTiet.bienTheGiay.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                                        <span ng-show="!hoaDonChiTiet.bienTheGiay.khuyenMai">
                                            {{ hoaDonChiTiet.bienTheGiay.giaBan | number : 0:0}}
                                        </span></p>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <button ng-if="!hoaDonChiTiet.bienTheGiay.daDanhGia" class="btn btn-dark" data-bs-target="#danhGiaDonHang" data-bs-toggle="modal"
                                            data-bs-dismiss="modal" ng-click="danhGiaChiTiet(hoaDonChiTiet)">Đánh giá
                                    </button>

                                    <button  ng-if="hoaDonChiTiet.bienTheGiay.daDanhGia" class="btn btn-dark" data-bs-target="#danhGiaDonHang" data-bs-toggle="modal"
                                            data-bs-dismiss="modal" ng-click="detailDanhGia(hoaDonChiTiet)">Xem đánh giá
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Đánh Giá Đơn Hàng-->
<div class="modal fade" id="danhGiaDonHang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đánh giá đơn hàng chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div data-bs-toggle="collapse" href="#collapseExample" role="button"
                         aria-expanded="false" aria-controls="collapseExample">
                        <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                            {{hoaDonChiTietDanhGia.bienTheGiay.giayResponse.ten}}</p>
                        <div class="d-flex">
                            <div>
                                <a href="#/detail/{{bienTheGiay.id}}">
                                    <img class="rounded" width="70px"
                                         src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="w-75 ps-3">

                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="font-size-14-ncl text-secondary mb-1">Kích cỡ :
                                        {{hoaDonChiTietDanhGia.bienTheGiay.kichThuoc.ten}} / Màu Sắc :
                                        {{hoaDonChiTietDanhGia.bienTheGiay.mauSac.ten}}</p>

                                </div>
                                <div class=" d-flex">
                                    <p class="font-size-12-ncl text-dark mb-1">Số lượng :
                                        {{hoaDonChiTietDanhGia.soLuong}}</p>
                                    <div ng-repeat="error in data">
                                        <div ng-if="getErrorId(error) === bienTheGiay.id">
                                            <!-- Hiển thị message lỗi dưới sản phẩm -->
                                            {{ error.split(':')[1] }}
                                        </div>
                                    </div>
                                </div>
                                <div class=" d-flex  mb-3">
                                    <p class="font-size-13-ncl fw-bold text-dark mb-1"><span
                                            ng-show="hoaDonChiTietDanhGia.bienTheGiay.khuyenMai">
                                            <del>{{hoaDonChiTietDanhGia.bienTheGiay.giaBan  | number : 0:0 }}</del>
                                        <span class="position-relative">
                                            {{hoaDonChiTietDanhGia.bienTheGiay.giaBanSauKhuyenMai | number : 0:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{hoaDonChiTietDanhGia.bienTheGiay.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!hoaDonChiTietDanhGia.bienTheGiay.khuyenMai">
                                            {{ hoaDonChiTietDanhGia.bienTheGiay.giaBan | number : 0:0}}
                                        </span></p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <div class="rating">
                                <span ng-repeat="star in stars" class="star" ng-class="starClass(star)"
                                      ng-click="toggleRating(star)">&#9733;</span>
                    </div>
                    <p>Bạn đã đánh giá: {{ rating }}/5 sao</p>
                    <div class="form-floating">
                        <textarea ng-model="danhGia.binhLuan" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    <br>
                    <small class="error-message" ng-show="errors.binhLuan">{{errors.binhLuan}}</small>
                    <br>
                    <button type="submit" class="btn btn-dark" data-bs-target="#listDanhGiaDonHang" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Trở về</button>
                    <button ng-if="!danhGia.daDanhGia" type="submit" class="btn btn-dark" ng-click="comfirmAdd()">Xác nhận đánh giá</button>
                </div>

            </div>
        </div>
    </div>
</div>


