<style>


    .cart-selected-list {
        transition: 0.3s ease;
    }

    .cart-click {
        cursor: pointer;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        padding: 18px 0px 10px 0px;
        margin-bottom: 10px;
    }

    .rotate-icon {
        transform: rotate(180deg); /* Xoay 180 độ */
        transition: 0.3s ease-in-out;
    }

    .coupon-item-left::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        right: -50px;
        top: -21px;
        border-radius: 50%;
        background: #e0e0e0;

    }

    .coupon-item-left::after {
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 20px;
        height: 20px;
        right: -50px;
        bottom: -20px;
        background: #e0e0e0;
    }

    .coupon-item-left {
        position: relative;
    }

    .coupon-outer {
        background: white;
        padding: 10px;
    }

    .modal-coupon {
        background: #e0e0e0;
    }
</style>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-8">
            <p class="fw-bold">Thông Tin Khách Hàng </p>
            <p class="font-size-12-ncl" ng-show="errosDiaChiNhan !== null">{{errosDiaChiNhan}}</p>
            <div>
                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" ng-model="diaChiNhanHang.hoTen" readonly
                                       placeholder="name@example.com">
                                <label for="floatingInput">Họ tên</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" ng-model="diaChiNhanHang.soDienThoaiNhan"
                                       readonly placeholder="name@example.com">
                                <label for="floatingInput">Số điện thoại</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" ng-model="khachHang.email" readonly
                                       placeholder="name@example.com">
                                <label for="floatingInput">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <p ng-if="diaChiNull"><span class="font-size-16-ncl fw-bold">Địa chỉ nhận hàng : </span>
                            {{diaChiNhanHang.diaChiNhan}} ,Xã {{diaChiNhanHang.wards.ten}} ,Huyện
                            {{diaChiNhanHang.districts.ten}} ,Huyện {{diaChiNhanHang.provinces.ten}}
                            <button ng-if="userLogged" ng-click="thayDoiDiaChiNhanHang()" type="button"
                                    class="btn btn-dark"
                                    data-bs-toggle="modal" data-bs-target="#modalDiaChiNhanHang"> Thay đổi
                            </button>

                            <button ng-if="!userLogged" ng-click="chonDiaChiNhanHang()" type="button"
                                    class="btn btn-dark"
                                    data-bs-toggle="modal" data-bs-target="#modalChonDiaChiNhanHang"> Thay đổi
                            </button>
                        </p>
                        <p ng-if="!diaChiNull"><span class="font-size-16-ncl fw-bold">Địa chỉ nhận hàng : </span> -
                            <button ng-if="userLogged" ng-click="thayDoiDiaChiNhanHang()" type="button"
                                    class="btn btn-dark"
                                    data-bs-toggle="modal" data-bs-target="#modalDiaChiNhanHang"> Thêm mới
                            </button>
                            <button ng-if="!userLogged" type="button" class="btn btn-dark"
                                    data-bs-toggle="modal" data-bs-target="#modalChonDiaChiNhanHang"> Chọn
                            </button>
                        </p>
                    </div>


                    <button class="btn btn-custom w-100 mb-5" type="button" ng-click="thanhToan()">Thanh Toán</button>
                </form>
            </div>

        </div>
        <div class="col-md-4">
            <div>
                <div ng-click="toggleHeight()" class="cart-click d-flex align-items-center justify-content-between">
                    <h5 class="font-size-14-ncl">Giỏ hàng ( {{listBienTheGiayLocalStorage.length}} )</h5> <i
                        style="margin-bottom: 8px;" class="fas fa-caret-down " id="icon-drop-down"></i>
                </div>
                <div class="cart-selected-list" id="cart">
                    <div ng-repeat="bienTheGiay in listBienTheGiayLocalStorage">
                        <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                            {{bienTheGiay.giayResponse.ten}}</p>
                        <div class="d-flex mb-3">
                            <div>
                                <a href="#/detail/{{bienTheGiay.id}}">
                                    <img class="rounded" width="70px"
                                         ng-src="{{bienTheGiay.giayResponse.lstAnh[0]}}"
                                         alt="">
                                </a>
                            </div>
                            <div class="w-75 ps-3">

                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="font-size-14-ncl text-secondary mb-1">Kích cỡ :
                                        {{bienTheGiay.kichThuoc.ten}} / Màu Sắc : {{bienTheGiay.mauSac.ten}}</p>

                                </div>
                                <div class=" d-flex">
                                    <p class="font-size-12-ncl text-dark mb-1">Số lượng : {{bienTheGiay.soLuongMua}}</p>
                                    <div ng-repeat="error in data">
                                        <div ng-if="getErrorId(error) === bienTheGiay.id">
                                            <!-- Hiển thị message lỗi dưới sản phẩm -->
                                            {{ error.split(':')[1] }}
                                        </div>
                                    </div>
                                </div>
                                <div class=" d-flex  mb-3">
                                    <p class="font-size-13-ncl fw-bold text-dark mb-1"><span
                                            ng-show="bienTheGiay.khuyenMai">
                                            <del>{{bienTheGiay.giaBan  | number : 0:0 }}</del>
                                        <span class="position-relative">
                                            {{bienTheGiay.giaBanSauKhuyenMai | number : 0:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{bienTheGiay.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!bienTheGiay.khuyenMai">
                                            {{ bienTheGiay.giaBan | number : 0:0}}
                                        </span></p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <p class="font-size-14-ncl border-bottom-1 py-2 fw-bold">Thông Tin Thanh Toán</p>

                    <div class="d-flex align-items-center justify-content-between  border-bottom-1">
                        <p class=" font-size-14-ncl py-1">Tổng tiền</p>
                        <p class="fw-bold font-size-14-ncl">{{tongTienSanPham | number : 0}} ₫</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-between" ng-if="userLogged">
                        <p class=" font-size-14-ncl py-1">Hạng Khách Hàng</p>
                        <p class="fw-bold font-size-14-ncl">
                            <span ng-show="tongKhuyenMaiHoaDon === 0">-</span>
                            <span ng-show="tongKhuyenMaiHoaDon !== 0">-{{tongKhuyenMaiHoaDon | number : 0}} ₫</span>
                            <span ng-show="tongKhuyenMaiHoaDon !== 0">(-{{khachHang.hangKhachHang.uuDai}}% )</span></p>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <p class=" font-size-14-ncl py-1">Chương trình giảm giá</p>
                        <p class="fw-bold font-size-14-ncl">
                            <span ng-show="tongKhuyenMaiTheoDot !== 0">{{tongKhuyenMaiTheoDot | number : 0 : 0}} ₫</span>
                            <span ng-show="tongKhuyenMaiTheoDot === 0">-</span>
                            <span class="text-danger" ng-show="tongKhuyenMaiTheoDot !== 0">( -{{khuyenMaiDot}}% )</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between" ng-if="userLogged">
                        <p class=" font-size-14-ncl py-1">Voucher</p>

                        <p class="fw-bold font-size-14-ncl"> <span ng-show="phieuGiamGiaChoosed.maGiamGia">
                            {{phieuGiamGiaChoosed.maGiamGia}} <span
                                class="font-size-14-ncl text-danger">-{{tongTienPhieuGiamSelected}}</span>
                        </span>
                            <span ng-show="!phieuGiamGiaChoosed.maGiamGia">-</span>
                            <button class="btn btn-outline-dark" data-bs-toggle="modal"
                                    data-bs-target="#phieuGiamGiaModal" ng-click="getPhieuGiamGia()"><i
                                    class="fas fa-exchange-alt"></i></button>
                        </p>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">
                        <p class=" font-size-14-ncl py-1">Tổng Tiền Tạm Tính</p>
                        <p class="fw-bold font-size-14-ncl">{{tongTienSauKhuyenMai | number : 0 : 0}} ₫</p>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class=" font-size-14-ncl py-1">Phí ship</p>
                        <p class="fw-bold font-size-14-ncl">{{feeShippingPerOne | number : 0 : 0}} ₫</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class=" font-size-14-ncl py-1">Tổng thanh toán</p>
                        <p class="fw-bold font-size-14-ncl">{{tongThanhToan | number : 0}} ₫</p>
                    </div>

                    <div class="mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                   ng-model="phuongThucThanhToan" value="1"
                                   ng-checked="phuongThucThanhToan==1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Khi nhận hàng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                   ng-model="phuongThucThanhToan" value="2"
                                   ng-checked="phuongThucThanhToan==2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Banking
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<p id="soldout" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></p>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <h5 class="modal-title mb-1" id="staticBackdropLabel">Số lượng giày trong kho không đủ vui lòng kiểm tra
                    lại</h5>
                <p class="font-size-12-ncl mb-3">Tải lại trang để cập nhật mới nhất về trạng thái sản phẩm</p>
                <div ng-show="productsSoldOutQuantity.length > 0">
                    <h5>Sản phẩm hết hàng</h5>
                    <div class="d-flex mb-3" ng-repeat="bienTheGiay in productsSoldOutQuantity">
                        <div>
                            <a href="#/detail/{{bienTheGiay.id}}">
                                <img class="rounded" width="100%"
                                     src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="w-75 ps-3">
                            <div class="d-flex align-items-center">
                                <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                    {{bienTheGiay.giayResponse.ten}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-size-14-ncl text-secondary">Kích cỡ : {{bienTheGiay.kichThuoc.ten}} / Màu
                                    Sắc : {{bienTheGiay.mauSac.ten}}</p>
                                <p class="font-size-16-ncl fw-bold text-dark">{{bienTheGiay.giaBan | number : 0}} ₫</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="productsLessQuantity.length > 0">
                    <h5>Sản phẩm vượt quá số lượng</h5>
                    <div class="d-flex mb-3" ng-repeat="bienTheGiay in productsLessQuantity">
                        <div>F
                            <a href="#/detail/{{bienTheGiay.id}}">
                                <img class="rounded" width="100%"
                                     src="https://secure-images.nike.com/is/image/DotCom/FB8900_100?align=0,1&cropN=0,0,0,0&resMode=sharp&bgc=f5f5f5&wid=150&fmt=jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="w-75 ps-3">
                            <div class="d-flex align-items-center">
                                <p class="font-size-14-ncl fw-bold text-dark mb-2 text-wrap-none">
                                    {{bienTheGiay.giayResponse.ten}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-size-14-ncl text-secondary">Kích cỡ : {{bienTheGiay.kichThuoc.ten}} / Màu
                                    Sắc : {{bienTheGiay.mauSac.ten}}</p>
                                <p class="font-size-16-ncl fw-bold text-dark">{{bienTheGiay.giaBan | number : 0}} ₫</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="phieuGiamGiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body modal-coupon">
                <div>
                    <h2 class="font-size-16-ncl">Danh Sách Phiếu Giảm Giá</h2>
                    <div>
                        <div class="d-flex coupon-outer align-items-center justify-content-between mb-1"
                             ng-repeat="pgg in phieuGiamGiaList">

                            <div class="coupon-item-left">
                                <img width="80px" class="rounded"
                                     src="https://play-lh.googleusercontent.com/FwtFo7JjEQ7UE-857BU1flMZQUoA_SFIfdLN3NAiqJzQBrNi3FBEdWnrW1c3pOwekJ9z"
                                     alt="">
                            </div>
                            <div class="ps-3 ms-2 coupon-item-right" style="    border-left: 1px dashed #ccc;">
                                <p class="font-size-16-ncl fw-bold m-0">Giảm {{pgg.phanTramGiam}}%</p>
                                <p class="font-size-12-ncl m-0 fw-bold">Đơn Tối Thiểu {{pgg.giaTriDonToiThieu |
                                    number:0}} đ ( Giảm tối đa {{pgg.giaTriGiamToiDa | number : 0:0}} đ )</p>
                                <p class="font-size-14-ncl m-0">Mã : {{pgg.maGiamGia}}</p>
                                <p class="font-size-14-ncl m-0">Số Lượng Còn Lại: {{pgg.soLuongPhieu}}</p>
                            </div>
                            <div>
                                <button class="btn btn-dark" ng-click="addPhieuGiamGia(pgg)"><i
                                        class="fas font-size-12-ncl fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="phieuGiamGiaList.length === 0">
                        <h2 style="text-align: center;">Danh sách trống</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Dia Chi Nhan Hang -->
<div class="modal fade" id="modalDiaChiNhanHang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách địa chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div ng-repeat="diaChiNhanHang in diaChiNhanHangs">
                    <div class="border-bottom-1 mb-3 ">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="d-flex align-items-center">
                                    <h5 class="mb-0">{{diaChiNhanHang.hoTen}}</h5>
                                    <p class="font-size-16-ncl  mb-0 ps-3">{{diaChiNhanHang.soDienThoaiNhan}}</p>
                                </div>
                                <h5 class="font-size-16-ncl">
                                    {{diaChiNhanHang.diaChiNhan}}
                                </h5>
                                <h5 class="font-size-14-ncl">
                                    Xã <span>{{diaChiNhanHang.wards}}</span>, Huyện
                                    <span>{{diaChiNhanHang.districts}}</span>, <span>{{diaChiNhanHang.provinces}}</span>
                                </h5>
                                <div class="mb-2">
                            <span class="badge-custom" ng-show="diaChiNhanHang.trangThai == 1">
                                {{diaChiNhanHang.trangThai == 1 ? 'Mặc Định' : 'Không áp dụng'}}
                            </span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <button class="btn btn-outline-dark" data-bs-dismiss="modal"
                                            ng-click="selectedDiaChiNhanHang(diaChiNhanHang)">Chọn
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-bs-target="#modalThemDiaChiNhanHang" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Thêm Địa Chỉ
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalThemDiaChiNhanHang" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 rounded">
                    <div>
                        <h5 class="fw-bold">Cập Nhật Địa Chỉ</h5>
                    </div>
                    <form name="diaChiNhanHangForm" ng-submit="addDiaChiNhanHang()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="hfoTen"
                                           name="hoTen"
                                           ng-model="diaChiNhanHangAdd.hoTen"
                                           ng-required="true" ng-change="change(diaChiNhanHangForm.hoTen)">
                                    <label for="floatingInput">Họ Tên</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="hoTen" name="soDienThoaiNhan"
                                           ng-model="diaChiNhanHangAdd.soDienThoaiNhan">
                                    <label for="floatingInput">Số Điện Thoại</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="Tỉnh" name="provinces"
                                            ng-model="diaChiNhanHangAdd.provinces"
                                            ng-options="province.ten  for province in provinces"
                                            ng-change="changeProvince()">
                                    </select>
                                    <label for="floatingSelect">Tỉnh</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="Huyện" name="districts"
                                            ng-model="diaChiNhanHangAdd.districts"
                                            ng-options="district.ten for district in districts"
                                            ng-change="changeDistrict()">
                                    </select>
                                    <label for="floatingSelect">Huyện</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="xã" name="wards"
                                            ng-model="diaChiNhanHangAdd.wards" ng-options="ward.ten for ward in wards">
                                    </select>
                                    <label for="floatingSelect">Xã</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="hoTen"
                                           name="diaChiNhan" ng-model="diaChiNhanHangAdd.diaChiNhan">
                                    <label for="floatingInput">Địa Chỉ Chi Tiết</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                           ng-model="diaChiNhanHangAdd.macDinh">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Đặt làm địa chỉ mặc định
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Thêm địa chỉ</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-bs-target="#modalDiaChiNhanHang" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Trở về
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Khach chua login -->
<div class="modal fade" id="modalChonDiaChiNhanHang" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 rounded">
                    <div>
                        <h5 class="fw-bold">Chọn địa chỉ nhận hàng</h5>
                    </div>
                    <form name="diaChiNhanHangForm" ng-submit="chonDiaChiNhanHang()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="hoTen" name="hoTen" ng-required="true"
                                           ng-model="diaChiNhanHangAdd.hoTen"
                                           ng-change="change(diaChiNhanHangForm.hoTen)">
                                    <label for="floatingInput">Họ Tên</label>
                                </div>
                                <p class="font-size-12-ncl text-danger" ng-show="diaChiNhanHangForm.hoTen.$touched && diaChiNhanHangForm.hoTen.$error.required">Vui lòng nhập Họ Tên người nhận</p>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="hoTen" name="soDienThoaiNhan" ng-required="true"
                                           ng-model="diaChiNhanHangAdd.soDienThoaiNhan">
                                    <label for="floatingInput">Số Điện Thoại</label>
                                </div>
                                <p class="font-size-12-ncl text-danger" ng-show="diaChiNhanHangForm.soDienThoaiNhan.$touched && diaChiNhanHangForm.soDienThoaiNhan.$error.required">Vui lòng nhập Số điện thoại</p>

                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" placeholder="hoTen" name="email" ng-required="true"
                                           ng-model="diaChiNhanHangAdd.email">
                                    <label for="floatingInput">Email</label>
                                </div>
                                <p class="font-size-12-ncl text-danger" ng-show="diaChiNhanHangForm.email.$touched && diaChiNhanHangForm.email.$error.required">Vui lòng nhập Email</p>

                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="Tỉnh" name="provinces"
                                                ng-model="diaChiNhanHangAdd.provinces"
                                                ng-options="province.ten  for province in provinces"
                                                ng-change="changeProvince()">
                                        </select>
                                        <label for="floatingSelect">Tỉnh</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="Huyện" name="districts"
                                                ng-model="diaChiNhanHangAdd.districts"
                                                ng-options="district.ten for district in districts"
                                                ng-change="changeDistrict()">
                                        </select>
                                        <label for="floatingSelect">Huyện</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="xã" name="wards"
                                                ng-model="diaChiNhanHangAdd.wards"
                                                ng-options="ward.ten for ward in wards">
                                        </select>
                                        <label for="floatingSelect">Xã</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" placeholder="hoTen"
                                               name="diaChiNhan" ng-model="diaChiNhanHangAdd.diaChiNhan">
                                        <label for="floatingInput">Địa Chỉ Chi Tiết</label>
                                    </div>
                                    <p class="font-size-12-ncl text-danger" ng-show="diaChiNhanErrors">{{diaChiNhanErrors}}</p>
                                </div>
                                <button class="btn btn-dark">Thêm địa chỉ</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

