<style>
    .nav-menu div i{
        width: 20px;
    }
</style>
<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
           <div class="nav-menu">
               <div class="mb-3">
                   <i class="fas fa-user"></i> <a class="font-size-16-ncl text-decoration-none text-dark">Thông Tin Tài Khoản</a>
               </div>
               <div class="mb-3">
                   <i class="fas fa-truck"></i> <a class="font-size-16-ncl text-decoration-none text-dark">Đơn Hàng Của Tôi</a>
               </div>
               <div class="mb-3">
                   <i class="fas fa-map-marker-alt"></i> <a class="font-size-16-ncl text-decoration-none text-dark">Địa Chỉ Giao Hàng</a>
               </div>
           </div>
        </div>
        <div class="col-md-8">
            <div>
                <h5 class="fw-bold">CHI TIẾT TÀI KHOẢN</h5>
            </div>
            <div>
                input
            </div>
        </div>
    </div>
</div>