
<div class="card" style="margin: 20px">
  <h5 class="card-header">Danh sách sản phẩm yêu thích</h5>
  <div class="card-body">
    <div class="d-flex add-search-custom">
      <div class="input-group w-25">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        <input id="seachText" class="form-control" type="text" ng-model="searchText"
               placeholder="Nhập từ khóa">
        <button class="btn btn-custom " ng-click="search()">Tìm kiếm</button>
      </div>
<!--      <a class="btn btn-primary" href="#/add">Back</a>-->
    </div>
    <div class="d-flex justify-content-start radio-filter">
      <div class="custom-radio">
        <input type="radio" id="all" name="status" ng-model="status" value="-1" ng-checked="status != 0 && status != 1"
               ng-change="changeRadio(-1)">
        <label class="radio-label" for="all">Tất cả</label>
      </div>
    </div>

    <div>
      <table class="table" border="1">
        <tr>
          <th>ID</th>
          <th>id khách hàng</th>
          <th>Tên khách hàng</th>
          <th>Id Giay</th>
          <th>Tên giày</th>
          <th>Số lượng</th>
          <th>Giá bán</th>
          <th>Hình ảnh</th>
          <th></th>
        </tr>

        <tr ng-repeat="sanPhamYeuThich in sanPhamYeuThichs">
          <td>{{sanPhamYeuThich.id}}</td>
          <td>{{sanPhamYeuThich.khachHangResponse.id}}</td>
          <td>{{sanPhamYeuThich.khachHangResponse.hoTen}}</td>
          <td>{{sanPhamYeuThich.giayResponse.id}}</td>
          <td>{{sanPhamYeuThich.giayResponse.ten}}</td>
          <td>{{sanPhamYeuThich.soLuong}}</td>
          <td>{{sanPhamYeuThich.giaBan}}</td>
          <td>
            <img width="60%" class="rounded-3"
                 style="height: 85px; width: 85px; object-fit: contain"
                 ng-src="{{giay.lstAnh && giay.lstAnh.length > 0 ? giay.lstAnh[0] : 'https://product.hstatic.net/1000361048/product/giay_co_lung_forum_trang_fy4976_02_standard_hover_1af12c21fb0a498eb38c9d41c04e4514_grande.jpg'}}"
                 alt="Ảnh giày">
          </td>

          <td>
            <div class="d-sm-inline-flex">
              <a class="btn btn-custom" ng-click="deleteSanPhamYeuThich(sanPhamYeuThich.id)"><i class="fas fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
      </table>

      <!---->
      <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
           data-max-size="maxSize"
           data-boundary-links="true">
      </div>


    </div>

  </div>
</div>