<h1>Thêm hash tag</h1>

<form name="hashTagForm" ng-submit="addMauSac()">
    <div class="form-group">
        <label for="hashTagTen">Tên: </label>
        <input type="text" class="form-control" id="hashTagTen" name="ten" ng-model="hashTag.ten" ng-maxlength="100" ng-required="true"
            ng-change="change(hashTagForm.ten)">
        <small class="text-danger" ng-show="(hashTagForm.ten.$dirty || hashTagForm.ten.$touched) && hashTagForm.ten.$error.required">Không được để
            trống tên</small>
        <small class="text-danger" ng-show="(hashTagForm.ten.$dirty || hashTagForm.ten.$touched) && hashTagForm.ten.$error.maxlength">Tên không được
            vượt quá 100 ký tự</small>
        <small class="text-danger" ng-show="errors.ten && !hashTagForm.ten.$dirty">{{errors.ten}}</small>
    </div>
    <div class="form-group">
        <label for="hashTagMoTa">Mô tả: </label>
        <textarea class="form-control" id="hashTagMoTa" name="moTa" rows="3" ng-model="hashTag.moTa" ng-change="change(hashTagForm.moTa)"></textarea>
        <small class="text-danger" ng-show="errors.moTa && !hashTagForm.moTa.$dirty">{{errors.moTa}}</small>
    </div>

    <div class="form-group">
        <label>Trạng thái: </label>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="hashTagTrangThai" name="trangThai" ng-model="hashTag.trangThai" ng-true-value="1"
                   ng-false-value="0" ng-init="hashTag.trangThai = 1">
            <label class="form-check-label" for="hashTagTrangThai">Đang kinh doanh</label>
        </div>
        <small class="text-danger" ng-show="errors.trangThai && !hashTagForm.trangThai.$dirty">{{errors.trangThai}}</small>
    </div>
    <button type="submit" class="btn btn-primary">Tạo mới</button>
</form>