<img src="{{image}}" alt="">
<h1>Thêm giày</h1>
<form name="addGiayForm" novalidate>
    <div class="mb-3 px-3">
        <label for="tenGiay" class="form-label">Tên giày <sup class="text-danger">(*)</sup></label>
        <input type="text" class="form-control" id="tenGiay" name="ten" ng-model="ten" ng-maxlength="120"
               ng-required="true">
        <small class="text-danger"
               ng-show="(addGiayForm.ten.$dirty || addGiayForm.ten.$touched) && addGiayForm.ten.$error.required">Không
            được để
            trống tên</small>
        <small class="text-danger"
               ng-show="(addGiayForm.ten.$dirty || addGiayForm.ten.$touched) && addGiayForm.ten.$error.maxlength">Tên
            không được
            vượt quá 120 ký tự</small>
        <small class="text-danger" ng-show="errors.ten && !addGiayForm.ten.$dirty">{{errors.ten}}</small>
    </div>

    <!-- Hình ảnh -->
    <div class="px-3">
        <label>Hình ảnh <sup class="text-danger">(cần ít nhất một ảnh)</sup></label>
        <div class="imageContainer d-flex flex-row">

            <div class="image m-2">
                <label class="image-image p2" for="imageInput1">
                    <input type="file" hidden id="imageInput1" accept="image/*" ng-model="image1"
                           onchange="angular.element(this).scope().showSelectedImage(event, 1)">
                    <div class="imageSquare">
                        <img class="selectedImage" id="selectedImage1" src="" alt="Ảnh được chọn">
                    </div>
                    <div class="imageTextContainer" ng-hide="image1">
                            <span class="imageText-icon">
                                <i class="fas fa-image fa-lg"></i>
                            </span>
                        <small class="imageText">Thêm ảnh(1/5)</small>
                    </div>
                </label>
                <div class="remove-icon text-center" ng-show="image1" ng-click="removeImage(1)"><i
                        class="fas fa-times"></i>
                </div>
            </div>

            <!-- image 2                     -->
            <div class="image m-2" ng-show="image1">
                <label class="image-image p2" for="imageInput2">
                    <input type="file" hidden id="imageInput2" accept="image/*" ng-model="image2" name="image2"
                           onchange="angular.element(this).scope().showSelectedImage(event, 2)">
                    <div class="imageSquare">
                        <img class="selectedImage" id="selectedImage2" src="" alt="Ảnh được chọn">
                    </div>
                    <div class="imageTextContainer" ng-hide="image2">
                            <span class="imageText-icon">
                                <i class="fas fa-image fa-lg"></i>
                            </span>
                        <small class="imageText">Thêm ảnh(2/5)</small>
                    </div>
                </label>
                <div class="remove-icon text-center" ng-show="image2" ng-click="removeImage(2)"><i
                        class="fas fa-times"></i>
                </div>
            </div>

            <!-- image 3                     -->
            <div class="image m-2" ng-show="image2">
                <label class="image-image p2" for="imageInput3">
                    <input type="file" hidden id="imageInput3" accept="image/*" ng-model="image3" name="image3"
                           onchange="angular.element(this).scope().showSelectedImage(event, 3)">
                    <div class="imageSquare">
                        <img class="selectedImage" id="selectedImage3" src="" alt="Ảnh được chọn">
                    </div>
                    <div class="imageTextContainer" ng-hide="image3">
                            <span class="imageText-icon">
                                <i class="fas fa-image fa-lg"></i>
                            </span>
                        <small class="imageText">Thêm ảnh(3/5)</small>
                    </div>
                </label>
                <div class="remove-icon text-center" ng-show="image3" ng-click="removeImage(3)"><i
                        class="fas fa-times"></i>
                </div>
            </div>

            <!-- image 4                     -->
            <div class="image m-2" ng-show="image3">
                <label class="image-image p2" for="imageInput4">
                    <input type="file" hidden id="imageInput4" accept="image/*" ng-model="image4"
                           onchange="angular.element(this).scope().showSelectedImage(event, 4)">
                    <div class="imageSquare">
                        <img class="selectedImage" id="selectedImage4" src="" alt="Ảnh được chọn">
                    </div>
                    <div class="imageTextContainer" ng-hide="image4">
                            <span class="imageText-icon">
                                <i class="fas fa-image fa-lg"></i>
                            </span>
                        <small class="imageText">Thêm ảnh(4/5)</small>
                    </div>
                </label>
                <div class="remove-icon text-center" ng-show="image4" ng-click="removeImage(4)"><i
                        class="fas fa-times"></i>
                </div>
            </div>

            <!-- image 5                     -->
            <div class="image m-2" ng-show="image4">
                <label class="image-image p2" for="imageInput5">
                    <input type="file" hidden id="imageInput5" accept="image/*" ng-model="image5"
                           onchange="angular.element(this).scope().showSelectedImage(event, 5)">
                    <div class="imageSquare">
                        <img class="selectedImage" id="selectedImage5" src="" alt="Ảnh được chọn">
                    </div>
                    <div class="imageTextContainer" ng-hide="image5">
                            <span class="imageText-icon">
                                <i class="fas fa-image fa-lg"></i>
                            </span>
                        <small class="imageText">Thêm ảnh(5/5)</small>
                    </div>
                </label>
                <div class="remove-icon text-center" ng-show="image5" ng-click="removeImage(5)"><i
                        class="fas fa-times"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- combobox -->
    <!-- Lót giày, Mũi giày -->
    <div class="row g-3">
        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="lotGiay">Lót giày <sup class="text-danger">(*)</sup></label>
                <custom-select id="lotGiay" title="lót giày" items="lotGiays" ng-model="selectedLotGiay"
                               modal-id="{{modalLotGiay}}"></custom-select>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="muiGiay">Mũi giày <sup class="text-danger">(*)</sup></label>
                <custom-select id="muiGiay" title="mũi giày" items="muiGiays" ng-model="selectedMuiGiay"
                               modal-id="{{modalMuiGiay}}"></custom-select>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="coGiay">Cổ giày <sup class="text-danger">(*)</sup></label>
                <custom-select id="coGiay" title="cổ giày" items="coGiays" ng-model="selectedCoGiay"
                               modal-id="{{modalCoGiay}}"></custom-select>
            </div>
        </div>
    </div>

    <div class="row g-3">

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="thuongHieu">Thương hiệu <sup class="text-danger">(*)</sup></label>
                <custom-select id="thuongHieu" title="mũi giày" items="thuongHieus" ng-model="selectedThuongHieu"
                               modal-id="{{modalThuongHieu}}"></custom-select>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="chatLieu">Chất liệu <sup class="text-danger">(*)</sup></label>
                <custom-select id="chatLieu" title="chất liệu" items="chatLieus" ng-model="selectedChatLieu"
                               modal-id="{{modalChatLieu}}"></custom-select>
            </div>
        </div>
        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="dayGiay">Đây giày <sup class="text-danger">(*)</sup></label>
                <custom-select id="dayGiay" title="dây giày" items="dayGiays" ng-model="selectedDayGiay"
                               modal-id="{{modalDayGiay}}"></custom-select>
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="deGiay">Đế giày <sup class="text-danger">(*)</sup></label>
                <custom-select id="deGiay" title="Đế giày" items="deGiays" ng-model="selectedDeGiay"
                               modal-id="{{modalDeGiay}}"></custom-select>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="hashTag">Hashtag </label>
                <custom-input select-type="hashtag" id="hashTag" title="hashtag" items="hashTags"
                              ng-model="selectedHashTag"
                              modal-id="{{modalHashTag}}"></custom-input>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="kichThuoc">Kích thước <sup class="text-danger">(*)</sup></label>
                <custom-input select-type="kichthuoc" id="kichThuoc" title="kích thước" items="kichThuocs"
                              ng-model="selectedKichThuoc"
                              modal-id="{{modalKichThuoc}}"></custom-input>
                <label type="button" id="inputChangeKichThuoc" hidden ng-click="changeSelectedKichThuoc()"></label>
            </div>
        </div>
    </div>
    <!-- màu sắc, kích thước -->
    <div class="row g-3">

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="mauSac">Màu sắc <sup class="text-danger">(*)</sup></label>
                <custom-input select-type="mausac" id="mauSac" title="màu sắc" items="mauSacs" ng-model="selectedMauSac"
                              modal-id="{{modalMauSac}}"></custom-input>
                <label type="button" hidden id="inputChangeMauSac" ng-click="changeSelectedKichThuoc()"></label>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="namSX" class="form-label">Năm sản xuất <sup class="text-danger">(*)</sup></label>
                <input type="number" step="1" class="form-control" id="namSX" name="namSX" ng-model="namSX" min="1000"
                       ng-init="namSX = 2020" max="9999" ng-required="true">
                <small class="text-danger"
                       ng-show="(addGiayForm.namSX.$dirty || addGiayForm.namSX.$touched) && addGiayForm.namSX.$error.required">
                    Không được để trống năm sản xuất</small>
                <small class="text-danger" ng-show="errors.namSX && !addGiayForm.namSX.$dirty">{{errors.namSX}}</small>
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <div class="wrapper px-3 py-2">
                <label for="mauSac">Trạng thái <sup class="text-danger">(*)</sup></label>
                <div class="w-100 form-switch">
                    <input class="form-check-input" type="checkbox" id="trangThaiGiay" name="trangThai"
                           style="cursor: pointer;"
                           ng-model="trangThai" ng-true-value="1" ng-false-value="0" ng-init="trangThai = 1">
                </div>
            </div>
        </div>

    </div>

    <div class="mb-3 px-3 py-2">

        <small class="text-danger" ng-show="errors.namSX && !addGiayForm.namSX.$dirty">{{errors.namSX}}</small>
        <label for="moTa" class="form-label">Mô tả <sup class="text-danger">(*)</sup></label>
        <textarea class="form-control" id="moTa" name="moTa" ng-model="moTa" rows="3" ng-minlength="3"
                  ng-maxlength="3000"
                  ng-required="true"></textarea>
        <small class="text-danger"
               ng-show="(addGiayForm.moTa.$dirty || addGiayForm.moTa.$touched) && addGiayForm.moTa.$error.required">
            Không được để trống mô tả</small>
        <small class="text-danger"
               ng-show="(addGiayForm.moTa.$dirty || addGiayForm.moTa.$touched) && addGiayForm.moTa.$error.minlength">
            Mô tả không được quá ngắn</small>
        <small class="text-danger"
               ng-show="(addGiayForm.moTa.$dirty || addGiayForm.moTa.$touched) && addGiayForm.moTa.$error.maxlength">
            Mô tả không được quá 3000 ký tự</small>
        <small class="text-danger" ng-show="errors.moTa && !addGiayForm.moTa.$dirty">{{errors.moTa}}</small>
    </div>

    <!-- Biến thể -->

    <div ng-show="selectedMauSac.length > 0 && selectedKichThuoc.length > 0">
        <div class="input-group mb-3 row g-3 d-flex align-items-center justify-content-center">
            <span class=" col col-2">Chỉnh sửa cho toàn bộ</span>
            <div class="col col-3">
                <div class="input-group mb-3 px-3 py-2" style="margin-bottom: 0 !important;">
                    <span class="input-group-text text-black-50" id="giaNhapAll">Giá nhập ₫</span>
                    <input type="number" class="form-control" ng-model="giaNhapAll" aria-label="Giá nhập"
                           aria-describedby="labelGiaNhapAll">
                </div>
            </div>
            <div class="col col-3">
                <div class="input-group mb-3 px-3 py-2" style="margin-bottom: 0 !important;">
                    <span class="input-group-text text-black-50" id="labelGiaBanAll">Giá bán ₫</span>
                    <input type="number" class="form-control" ng-model="giaBanAll" aria-label="Giá bán"
                           aria-describedby="labelGiaBanAll">
                </div>
            </div>
            <button type="button" class="btn btn-primary col col-3">Cập nhật cho toàn bộ</button>
        </div>

        <!-- Bảng phân loại -->
        <table class="table table-bordered align-middle text-center">
            <thead class="">
            <th>Màu sắc</th>
            <th>Kích thước</th>
            <th>Giá nhập</th>
            <th>Giá bán</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
            <th>Barcode</th>
            </thead>

            <tbody ng-repeat="(msIndex, mauSac) in selectedMauSacs">
            <tr ng-repeat="(ktIndex, kichThuoc) in mauSac.selectedKichThuocs">
                <td ng-if="$first" rowspan="{{mauSac.selectedKichThuocs.length}}">
                    <div class="imageContainer d-flex flex-column justify-content-center">
                                <span><span ng-style="{'color': mauSac.maMau}" class="px-1"><i
                                        class="fas fa-square fa-lg"></i></span>
                                    {{mauSac.ten}}</span>
                        <div class="image m-2 w-100">
                            <label class="image-image p2" for="imageColorInput{{mauSac.id}}" style="width: 100px;">
                                <input type="file" hidden id="imageColorInput{{mauSac.id}}" ms-index={{msIndex}}
                                       accept="image/*" ng-model="mauSac.hinhAnh"
                                       onchange="angular.element(this).scope().showSelectedColorImage(event, this);">
                                <div class="imageSquare">
                                    <img class="selectedImage" id="selectedColorImage{{mauSac.id}}" src=""
                                         alt="Ảnh được chọn">
                                </div>
                                <div class="imageTextContainer" id="imageTextContainer{{mauSac.id}}">
                                            <span class="imageText-icon">
                                                <i class="fas fa-image fa-lg"></i>
                                            </span>
                                    <small class="imageText">Thêm ảnh</small>
                                </div>
                            </label>
                            <div class="remove-icon text-center" style="display: none; right: 20%; top: -5px;"
                                 ng-click="removeImageColor($event, mauSac.id, msIndex, ktIndex)"><i
                                    class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{kichThuoc.ten}}</td>
                <td>
                    <div class="input-group mb-3 px-3 d-flex flex-column" style="margin-bottom: 0 !important;">
                        <div class="d-flex flex-row">
                            <span class="input-group-text text-black-50" id="labelGiaBan{{msIndex}}{{ktIndex}}">₫</span>
                            <input type="number" class="form-control" ng-model="kichThuoc.giaNhap" placeholder="Giá nhập"
                                   aria-label="Giá nhập" ng-required="true" min="0" ng-change="changeInput(msIndex, ktIndex, 'giaNhap')"
                                   ng-blur="blurInput(msIndex, ktIndex, 'giaNhap')" name="giaNhap" onkeypress="nextInput(event)"
                                   aria-describedby="labelGiaNhap{{msIndex}}{{ktIndex}}">
                        </div>
                        <div>
                            <small class="text-danger"
                                   ng-show="kichThuoc.errors.giaNhap">{{kichThuoc.errors.giaNhap}}</small></div>
                        <div>
                    </div>

                </td>
                <td>
                    <div class="input-group mb-3 px-3 d-flex flex-column" style="margin-bottom: 0 !important;">
                        <div class="d-flex flex-row">
                            <span class="input-group-text text-black-50" id="labelGiaBan{{msIndex}}{{ktIndex}}">₫</span>
                            <input type="number" class="form-control" ng-model="kichThuoc.giaBan" placeholder="Giá bán"
                                   aria-label="Giá bán" ng-required="true" min="0"
                                   aria-describedby="labelGiaBan{{msIndex}}{{ktIndex}}">
                        </div>
                        <div>
                            <small class="text-danger"
                                   ng-show="(addGiayForm.kichThuoc.giaBan.$dirty || addGiayForm.kichThuoc.giaBan.$touched) && addGiayForm.kichThuoc.giaBan.$error.required">Không
                                được để trống</small></div>
                        <div><small class="text-danger"
                                    ng-show="(addGiayForm.kichThuoc.giaBan.$dirty || addGiayForm.kichThuoc.giaBan.$touched) && addGiayForm.kichThuoc.giaBan.$error.min">Số
                            lượng không được âm</small></div>
                    </div>

                </td>
                <td>
                    <div class="input-group mb-3 px-3 d-flex flex-column" style="margin-bottom: 0 !important;">
                        <div class="d-flex flex-row">
                            <input type="number" step="1" class="form-control" ng-model="kichThuoc.soLuong"
                                   placeholder="Số lượng" ng-required="true" min="0" ng-init="kichThuoc.soLuong = 0">
                        </div>
                        <div>
                            <small class="text-danger"
                                   ng-show="(addGiayForm.kichThuoc.soLuong.$dirty || addGiayForm.kichThuoc.soLuong.$touched) && addGiayForm.kichThuoc.soLuong.$error.required">Không
                                được để trống</small></div>
                        <div><small class="text-danger"
                                    ng-show="(addGiayForm.kichThuoc.soLuong.$dirty || addGiayForm.kichThuoc.soLuong.$touched) && addGiayForm.kichThuoc.soLuong.$error.min">Số
                            lượng không được âm</small></div>
                    </div>
                </td>
                <td>
                    <div class="w-100 form-switch">
                        <input class="form-check-input" type="checkbox" id="kichThuocTrangThai" name="trangThai"
                               style="cursor: pointer;" ng-required="true"
                               ng-model="kichThuoc.trangThai" ng-true-value="1" ng-false-value="0"
                               ng-init="kichThuoc.trangThai = 1">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3 px-3 d-flex flex-column">
                        <div class="d-flex flex-row">
                            <input type="text" class="form-control" ng-model="kichThuoc.barcode" name="barcode"
                                   id="barcode{{msIndex}}{{ktIndex}}" placeholder="Barcode" ng-required="true">
                            <button type="button" role="button" class="input-group-text"
                                    ng-click="setBarcode(msIndex, ktIndex)"><i class="fas fa-qrcode"></i>
                            </button>
                        </div>
                        <div><small class="text-danger"
                                    ng-show="(addGiayForm.barcode.$dirty || addGiayForm.barcode.$touched) && addGiayForm.barcode.$error.required">Không
                            được để trống</small></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Button trigger modal -->
    <button type="button" hidden ng-click="getDetailEntity()" id="modalDetail" class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
    </button>
    <!-- Modal -->
    <div class="modal fade" onclick="event.stopPropagation()" id="exampleModal" tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết {{detailEntity.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td class="nowrap-column px-3">ID :</td>
                            <th>{{detailEntity.id}}</th>
                        </tr>
                        <tr ng-show="detailEntity.ten">
                            <td class="nowrap-column px-3">Tên :</td>
                            <th>{{detailEntity.ten}}</th>
                        </tr>
                        <tr ng-show="detailEntity.moTa" class="nowrap-column px-3">
                            <td class="nowrap-column px-3">Mô tả :</td>
                            <th>{{detailEntity.moTa}}</th>
                        </tr>

                        <tr ng-show="detailEntity.chatLieu">
                            <td class="nowrap-column px-3">Chất liệu :</td>
                            <th>{{detailEntity.chatLieu}}</th>
                        </tr>

                        <tr ng-show="detailEntity.chieuDai">
                            <td class="nowrap-column px-3">Chiều dài :</td>
                            <th> {{detailEntity.chieuDai}}cm</th>
                        </tr>
                        <tr ng-show="detailEntity.chieuRong">
                            <td class="nowrap-column px-3">Chiều rộng :</td>
                            <th> {{detailEntity.chieuRong}}cm</th>
                        </tr>

                        <tr ng-show="detailEntity.maMau">
                            <td class="nowrap-column px-3">Màu sắc :</td>
                            <td><span ng-style="{'color': detailEntity.maMau}"><i
                                    class="fas fa-square fa-lg"></i></span>
                            </td>
                        </tr>

                        <tr ng-show="detailEntity.trangThai">
                            <td class="nowrap-column px-3">Trạng thái:</td>
                            <td>
                                <h5>
                                        <span
                                                ng-class="{'badge bd-success-custom': detailEntity.trangThai == 1, 'badge bd-danger-custom': detailEntity.trangThai != 1}">
                                            {{detailEntity.trangThai == 1? "Hiển thị" : "Ngừng khinh doanh"}}
                                        </span>
                                </h5>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="px-3 py-2">
        <button ng-click="submitData()" type="submit" class="btn btn-primary">Tạo mới</button>
    </div>

</form>
