<style>
    #buttons-container {
        display: flex;
    }

    .insideDiv {
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        border-radius: 7px;
    }

    .button_checked {
        transition: 0.3s all;
        border: 1px solid rgb(0, 0, 0) !important;
        border-radius: 7px;
    }

    #image-container img {
        margin-bottom: 10px;
    }

    .text-limit {
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .toggle-button {
        background: transparent;
        border: none;
        color: blue;
    }

    .labelTabDelete {
        cursor: pointer;
    }

    .labelTabDelete:hover {
        color: red;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        font-weight: bolder;
        background-color: #fff;
        border-color: #1d1e1e #dee2e6 #fff;
        border-top: 1.5px solid #1d1e1e;
    }

    .item {
        margin-top: 13px;
        border-bottom: 1px solid #dbdbdb;
    }

    .item div {
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    .item h5 {
        font-weight: bold;
    }

    .item p {
        color: black;
        font-size: 14px;
    }

    .btn-size {
        padding: 10px 20px;
    }

    .show-text p {
        max-height: 100px !important;
        transition: 0.3s ease-in-out;
    }

    .show-text i {
        transition: 0.3s ease-in-out;
        transform: rotate(180deg);
    }

    .i-button {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }

</style>
<a class="ms-4 mb-3 btn btn-primary" href="#!list"><i class="fas fa-chevron-left"></i>Danh sách</a>
<div class="title-page">
    <div class="d-flex">
        <p class="text-secondary m-0">Trang chủ - Quản Lý Chất Liệu - Chi Tiết Giày</p>
    </div>
</div>

<div class="card" style="margin: 20px">
    <div class="card-body">
        <div class="py-3">
            <div class="container">
                <div class="row">
                    <div id="" class=" col-md-5">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" id="image-container">
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="side-left">
                            <div class="title">
                                <h5 class="py-3 fw-bold border-bottom-1">{{giayDetail.ten}} </h5>
                                <h5 class="py-2 text-danger fw-bold">
                        <span id="price-product" class="py-3">

                                <span ng-show="!giayDetail.giaBan">
                                    {{ '₫' + (giaySeletect.giaThapNhat | number) + (giaySeletect.giaThapNhat !== giaySeletect.giaLonNhat ? '
                                            - ₫' + (giaySeletect.giaLonNhat | number) : '') }}
                                </span>
                                        <span ng-show="giayDetail.khuyenMai">
                                            <del>{{giayDetail.giaBan  | number:0 }}</del>
                                        <span class="position-relative">
                                            {{(giayDetail.giaBan - (giayDetail.giaBan * giayDetail.khuyenMai / 100))| number:0 }}
                                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                                              style="transform: translate(0,-50%)!important; padding: 5px;">
                                            -{{giayDetail.khuyenMai}}%
                                        </span>
                                        </span>
                                        </span>
                                        <span ng-show="!giayDetail.khuyenMai">
                                            {{ giayDetail.giaBan | number:0}}
                                        </span>
                                    </span>
                                </h5>
                                <h5 class="font-size-16-ncl fw-bold">Số lượng: <span id="quantity">{{giayDetail.soLuong}}</span>
                                </h5>
                            </div>
                            <h5 class="font-size-16-ncl fw-bold py-3">Màu Sắc</h5>
                            <div id="buttons-container"></div>
                            <div id="product-info"></div>
                            <div class="size-selector">
                                <h5 class="font-size-16-ncl fw-bold py-3">Kích Thước</h5>
                                <div id="sizeButtons"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <h5 class="font-size-16-ncl">Mô tả sản phẩm</h5>
                    <div class="py-2">
                        <li>{{giaySeletect.moTa}}</li>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#deGiay" role="button" aria-expanded="false" aria-controls="deGiay">
                            <span><strong>Đế giày: </strong> {{giaySeletect.deGiay.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="deGiay">
                            <li>{{giaySeletect.deGiay.moTa}}</li>
                        </div>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#thuongHieu" role="button" aria-expanded="false" aria-controls="thuongHieu">
                            <span><strong>Thương hiệu: </strong> {{giaySeletect.thuongHieu.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="thuongHieu">
                            <li>{{giaySeletect.thuongHieu.moTa}}</li>
                        </div>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#coGiay" role="button" aria-expanded="false" aria-controls="coGiay">
                            <span><strong>Cổ giày: </strong> {{giaySeletect.coGiay.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="coGiay">
                            <li>{{giaySeletect.coGiay.moTa}}</li>
                        </div>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#lotGiay" role="button" aria-expanded="false" aria-controls="lotGiay">
                            <span><strong>Lót giày: </strong> {{giaySeletect.lotGiay.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="lotGiay">
                            <li>{{giaySeletect.lotGiay.moTa}}</li>
                        </div>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#muiGiay" role="button" aria-expanded="false" aria-controls="muiGiay">
                            <span><strong>Mũi giày: </strong> {{giaySeletect.muiGiay.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="muiGiay">
                            <li>{{giaySeletect.muiGiay.moTa}}</li>
                        </div>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#chatLieu" role="button" aria-expanded="false" aria-controls="chatLieu">
                            <span><strong>Chất liệu: </strong> {{giaySeletect.chatLieu.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="chatLieu">
                            <li>{{giaySeletect.chatLieu.moTa}}</li>
                        </div>
                    </div>

                    <div class="py-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer" data-bs-toggle="collapse"
                             href="#dayGiay" role="button" aria-expanded="false" aria-controls="dayGiay">
                            <span><strong>Dây giày: </strong> {{giaySeletect.dayGiay.ten}}</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="dayGiay">
                            <li>{{giaySeletect.dayGiay.moTa}}</li>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
