<div class="wrapper" id="{{id}}">
    <div ng-click="toggleDropdown()">
        <div class="form-select" id="{{inputId}}" style="padding: 0; min-height: 38px;">
            <div class="selected-tags d-flex flex-wrap justify-content-start align-items-center" style="padding-left: 12px; height: 38px;">
                <option ng-show="selectType == 'hashtag'">{{selectedTags.length == 0? "Chọn hashtags" : ""}}</i></option>
                <option ng-show="selectType == 'mausac'">{{selectedTags.length == 0? "Chọn màu sắc" : ""}}</i></option>
                <option ng-show="selectType == 'kichthuoc'">{{selectedTags.length == 0? "Chọn kích thước" : ""}}</i></option>
                <div class="tag d-flex justify-content-between" ng-repeat="tag in selectedTags | filter: { status: 'active' }" style="padding: 4px;">
                    <div class="badge rounded-pill  bg-secondary text-white" style="font-size: 100%;">

                        <span style="padding-right: 5px;" ng-show="selectType == 'hashtag'">#{{tag.ten}}</span>
                        <span style="padding-right: 5px;" ng-show="selectType == 'mausac'"><span ng-style="{'color': tag.maMau}" class="px-1"><i
                                class="fas fa-square fa-lg"></i></span>
                            {{tag.ten}}</span>
                        <span style="padding-right: 5px;" ng-show="selectType == 'kichthuoc'">{{tag.ten}}</span>

                        <span class="rounded-circle tag-remove-icon" ng-show="tag.canRemove" ng-click="removeTag(tag)"><i class="fas fa-times"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" ng-show="isActive" style="z-index: 999; width: 94.5%;">
        <div class="search">
            <input spellcheck="false" type="text" placeholder="Search" ng-model="searchKeyword">
        </div>
        <ul class="options">
            <li ng-repeat="item in items | filter: searchKeyword" ng-click="selectItem(item)">
                <span ng-show="selectType == 'hashtag'" id="hashtag{{item.id}}">{{item.ten}}</span>
                <span ng-show="selectType == 'mausac'"  id="mausac{{item.id}}">
                    <span ng-style="{'color': item.maMau}" class="px-2"><i class="fas fa-square fa-lg"></i></span>
                    {{item.ten}}
                </span>
                <span ng-show="selectType == 'kichthuoc'">{{item.ten}} <small>(Chiều dài: {{item.chieuDai}}, Chiều rộng:
                        {{item.chieuRong}})</small></span>
            </li>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{modalId}}">
                Thêm {{title}}
            </button>
        </ul>
    </div>
</div>