<div ng-show="isLoading" class="loading-spinner">
    <div class="text-center" style="  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền đục để làm mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; ">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="title-page">
    <div class="d-flex">
        <p class="text-secondary m-0">Trang chủ - Quản Lý Giày - Danh Sách</p>
    </div>
</div>
<div class="card" style="margin: 20px">
    <div class="card-body">
        <div class="py-3">

            <div class="row pb-2">
                <div class="col col-6">
                    <custom-input select-type="thuonghieu" id="thuongHieu" title="thương hiệu" items="thuongHieus"
                                  ng-model="selectedThuongHieu"></custom-input>
                </div>

                <div class="col col-6 row">
                    <div class="col col-6">
                        <div class="input-group">
                            <div class="input-group-prepend m-auto">
                                <span class="input-group-text" id="giaTuSearch">đ</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Giá từ" aria-label="Username"
                                   aria-describedby="giaTuSearch" ng-model="giaTuSearch">
                        </div>
                    </div>

                    <div class="col col-6">
                        <div class="input-group">
                            <div class="input-group-prepend m-auto">
                                <span class="input-group-text" id="giaDenSearch">đ</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Giá đến" aria-label="Username"
                                   aria-describedby="giaDenSearch" ng-model="giaDenSearch">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="input-group w-50">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input id="seachText" class="form-control" type="text" ng-model="searchText"
                           placeholder="Nhập tên">
                    <button class="btn btn-custom " ng-click="search()">Tìm kiếm</button>
                    <button class="btn btn-custom mx-2" ng-click="resetSearch()">Nhập lại</button>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between radio-filter" style="border-bottom: none">
            <div>
                <div class="custom-radio">
                    <input type="radio" id="all" name="status" ng-model="status" value="-1"
                           ng-checked="status != 0 && status != 1"
                           ng-change="changeRadio(-1)">
                    <label class="radio-label" for="all">Tất cả</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 1"
                           ng-change="changeRadio(1)">
                    <label class="radio-label" for="active">Đang hiển thị</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 0"
                           ng-change="changeRadio(0)">
                    <label class="radio-label" for="disable">Đã ẩn</label>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="px-3">
                    <a class="btn btn-primary" href="#/excel"><i class="fas fa-file-excel px-2"></i>Thêm với excel</a>
                </div>

                <div>
                    <a class="btn btn-primary" href="#/excelUpdate"><i class="fas fa-file-excel px-2"></i>Cập nhật với excel</a>
                </div>

                <div class="px-3">
                    <a class="btn btn-primary" href="#/add"><i class="fas fa-plus px-2 small"></i> Thêm 1 giày mới</a>
                </div>
            </div>
        </div>

        <div>

            <div class="border border-dark p-3 text-center"
                 style="border-radius: 10px; border-color: rgba(0, 0, 0, 0.25) !important;">
                <div class="row mb-2 justify-content-center" style="height: 50px">
                    <div class="col col-3 border-top border-bottom border-dark border-opacity-25p d-flex align-items-center">
                        <div class="w-100"><h5>Tên sản phẩm</h5></div>
                    </div>
                    <div class="col col-9 row">
                        <div class="col col-3 border-top border-bottom border-dark border-opacity-25p d-flex align-items-center">
                            <div class="w-100"><h5>Phân loại</h5></div>
                        </div>
                        <div class="col col-3 border-top border-bottom border-opacity-25p border-dark d-flex align-items-center">
                            <div class="w-100"><h5>Giá bán</h5></div>
                        </div>
                        <div class="col col-3 border-top border-bottom border-opacity-25p border-dark d-flex align-items-center">
                            <div class="w-100"><h5>Số lượng</h5></div>
                        </div>
                        <div class="col col-3 border-top border-bottom border-opacity-25p border-dark d-flex align-items-center">
                            <div class="w-100"><h5>Action</h5></div>
                        </div>
                    </div>

                </div>

                <div ng-repeat="(index, giay) in giays">

                    <div class="row border-bottom border-left border-right border-opacity-25p border-dark p-3">
                        <div class="product col col-3 d-flex align-items-center justify-content-center">
                            <div>
                                <div class="product-image">
                                    <img src="{{giay.lstAnh[0]}}" alt="Sản phẩm chưa có hình ảnh"
                                         style="width:8rem; height: 8rem; background-color: aqua; object-fit: cover;">
                                </div>
                                <div class=" product-info">
                                    <h5>{{giay.ten}}</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col col-9 row text-center"
                             style="line-height: 2.5rem; border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <div class="col col-3">
                                <ul class="variants mb-0">
                                    <li ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                        class="border-botton-005 li-height-50 d-flex align-items-end justify-content-center py-1">
                                        <span class="bienTheField">{{bienThe.mauSac.ten}}, {{bienThe.kichThuoc.ten}}</span>
                                    </li>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <li ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                            class="border-botton-005 li-height-50 d-flex align-items-end justify-content-center py-1">
                                            <span class="bienTheField"></span>{{bienThe.mauSac.ten}}, <span
                                                class="bienTheField"></span>{{bienThe.kichThuoc.ten}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-3">
                                <ul class="variants mb-0 ">
                                    <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                         class="border-botton-005 li-height-50 d-flex align-items-end justify-content-center py-1"
                                         data-bs-toggle="modal" data-bs-target="#giaModal"
                                         ng-click="focusInputModal('giaBan', index, $index)">
                                        <span class="bienTheField">{{bienThe.giaBan}} <i
                                                class="fas fa-pen edit-icon"></i></span>
                                    </div>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                             class="border-botton-005 li-height-50 d-flex align-items-end justify-content-center py-1"
                                             data-bs-toggle="modal" data-bs-target="#giaModal"
                                             ng-click="focusInputModal('giaBan', index, $index)">
                                            <span class="bienTheField">{{bienThe.giaBan}}<i
                                                    class="fas fa-pen edit-icon"></i></span>
                                        </div>
                                    </ul>
                                </div>
                            </div>

                            <div class="col col-3">
                                <ul class="variants mb-0 ">
                                    <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                         class="border-botton-005 li-height-50 d-flex align-items-end justify-content-center py-1">
                                        <span class="bienTheField" data-bs-toggle="modal" data-bs-target="#soLuongModal"
                                              ng-click="focusInputModal('soLuong', index, $index)">{{bienThe.soLuong}}<i
                                                class="fas fa-pen edit-icon"></i></span>
                                    </div>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                             class="border-botton-005 li-height-50 d-flex align-items-end justify-content-center py-1">
                                            <span class="bienTheField" data-bs-toggle="modal"
                                                  data-bs-target="#soLuongModal"
                                                  ng-click="focusInputModal('soLuong', index, $index)">{{bienThe.soLuong}}<i
                                                    class="fas fa-pen edit-icon"></i></span>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-3 d-flex justify-content-center align-items-center">
                                <div class="d-flex flex-column">
                                    <a class="btn btn-primary mb-2" ng-href="#/update/{{giay.id}}">Cập nhật</a>
                                    <a class="btn btn-primary mb-2" ng-href="#/detail/{{giay.id}}">Xem chi tiết</a>
                                </div>
                            </div>
                            <div ng-show="giay.lstBienTheGiay.length > 5 && !looped" class="w-100 text-center">
                                <a data-bs-toggle="collapse" ng-click="toggleVarients(index)"
                                   ng-show="!showVarients[index]" href="#collapseVarients{{index}}"
                                   class="text-decoration-none text-dark">
                                    Xem thêm {{giay.lstBienTheGiay.length - 5}} biến thể</a>
                                <a data-bs-toggle="collapse" ng-click="toggleVarients(index)"
                                   ng-show="showVarients[index]" href="#collapseVarients{{index}}"
                                   class="text-decoration-none text-dark">Đóng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="soLuongModal" tabindex="-1" aria-labelledby="soLuongModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  modal-lg"
         style="width: 600px; height: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-start flex-column">
                    <h5 class="modal-title" id="soLuongModalLabel">Cập nhật kho hàng</h5>
                    <div>{{giayModal.ten}}</div>
                </div>
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

            </div>
            <div class="card" style="border-top: none;">
                <div class="card-body m-auto">
                    <div class="input-group">
                        <small class="input-group-text border-dark border-opacity-50" id="updateKhoHang">Chỉnh sửa hàng
                            loạt</small>
                        <div>
                            <input type="number" class="form-control border-dark border-opacity-50" id="basic-url"
                                   aria-describedby="updateKhoHang" ng-model="soLuongUpdateAll"
                                   ng-change="changeInputSetAllForUpdate()">
                            <div>
                                <small class="text-danger"
                                       ng-show="soLuongUpdateAllErrors">{{soLuongUpdateAllErrors}}</small>
                            </div>
                        </div>
                        <button class="btn btn-outline-secondary" ng-click="setAllForUpdateSoLuong()"><small>Áp
                            dụng</small></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-border table-hover">
                    <thead style="background: rgba(0, 0, 0, 0.25)">
                    <th class="pl-3">Phân loại</th>
                    <th class="pl-3">Số lượng</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detailModal in giayModal.lstBienTheGiay">
                        <th style="vertical-align: middle;"><span class="text-dark">{{detailModal.mauSac.ten}}, {{detailModal.kichThuoc.ten}}</span>
                        </th>
                        <td style="padding-right: 10%;" class="d-flex flex-column">
                            <input type="number" class="form-control" ng-model="detailModal.soLuong"
                                   id="detailModalSoLuong{{$index}}" ng-change="changeInputModal('soLuong', $index)">
                            <div>
                                <small class="text-danger" ng-show="detailModal.errors.soLuong">{{detailModal.errors.soLuong}}</small>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalSoLuong">Đóng
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateSoLuong()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="giaModal" tabindex="-1" aria-labelledby="giaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         style="width: 800px; height: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-start flex-column">
                    <h5 class="modal-title" id="giaModalLabel">Cập nhật giá</h5>
                    <div>{{giayModal.ten}}</div>
                </div>
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

            </div>
            <div class="card" style="border-top: none;">
                <div class="card-body m-auto">
                    <div class="input-group">
                        <small class="input-group-text border-dark border-opacity-50" id="updateGia">Chỉnh sửa hàng
                            loạt</small>
                        <div>
                            <div class="input-group">
                                <input type="number" class="form-control border-dark border-opacity-50"
                                       aria-describedby="updateGiaBan" ng-model="giaBanUpdateAll" step="1000"
                                       ng-change="changeInputSetAllForUpdateGia('giaBan')">
                                <div>
                                    <small class="text-danger"
                                           ng-show="giaBanUpdateAllErrors">{{giaBanUpdateAllErrors}}</small>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-outline-secondary" ng-click="setAllForUpdateGia()"><small>Áp dụng</small>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-border table-hover">
                    <thead style="background: rgba(0, 0, 0, 0.25)">
                    <th class="pl-3">Phân loại</th>
                    <th class="pl-3">Giá bán</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detailModal in giaGiayModal.lstBienTheGiay">
                        <th style="vertical-align: middle;"><span class="text-dark">{{detailModal.mauSac.ten}}, {{detailModal.kichThuoc.ten}}</span>
                        </th>
                        <td style="padding-right: 10%;">
                            <input type="number" class="form-control" ng-model="detailModal.giaBan"
                                   ng-blur="blurGiaInput($index, 'giaBan')"
                                   onkeypress="nextInput(event)"
                                   id="detailModalGiaBan{{$index}}" ng-change="changeInputModal('giaBan', $index)">
                            <div>
                                <small class="text-danger" ng-show="detailModal.errors.giaBan">{{detailModal.errors.giaBan}}</small>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalGia">Đóng
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateGia()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
