<div class="card" style="margin: 20px">
    <h5>Danh sách giày</h5>
    <div class="card-body">
        <div class="d-flex add-search-custom">
            <div class="input-group w-25">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                <input id="seachText" class="form-control" type="text" ng-model="searchText"
                       placeholder="Nhập từ khóa">
                <button class="btn btn-custom " ng-click="search()">Tìm kiếm</button>
            </div>
        </div>

        <div class="d-flex justify-content-between radio-filter" style="border-bottom: none">
            <div>
                <div class="custom-radio">
                    <input type="radio" id="all" name="status" ng-model="status" value="-1"
                           ng-checked="status != 0 && status != 1"
                           ng-change="changeRadio(-1)">
                    <label class="radio-label" for="all">Tất cả</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 1"
                           ng-change="changeRadio(1)">
                    <label class="radio-label" for="active">Đang hiển thị</label>
                </div>

                <div class="custom-radio">
                    <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 0"
                           ng-change="changeRadio(0)">
                    <label class="radio-label" for="disable">Đã ẩn</label>
                </div>
            </div>
            <div class="px-3">
                <a class="btn btn-primary" href="#/add"><i class="fas fa-plus px-2 small"></i> Thêm 1 giày mới</a>
            </div>
        </div>

        <div>

            <div class="border border-dark p-3 text-center"
                 style="border-radius: 10px; border-color: rgba(0, 0, 0, 0.25) !important;">
                <div class="row mb-2">
                    <div class="col col-3 border-top border-bottom border-dark border-opacity-25p">
                        <div class="w-100"><h5 style="margin-top: 0.5rem">Tên sản phẩm</h5></div>
                    </div>
                    <div class="col col-9 row">
                        <div class="col col-3 border-top border-bottom border-dark border-opacity-25p">
                            <div class="w-100"><h5 style="margin-top: 0.5rem">Phân loại</h5></div>
                        </div>
                        <div class="col col-2 border-top border-bottom border-opacity-25p border-dark">
                            <div class="w-100"><h5 style="margin-top: 0.5rem">Giá bán</h5></div>
                        </div>
                        <div class="col col-2 border-top border-bottom border-opacity-25p border-dark">
                            <div class="w-100"><h5 style="margin-top: 0.5rem">Giá nhập</h5></div>
                        </div>
                        <div class="col col-2 border-top border-bottom border-opacity-25p border-dark">
                            <div class="w-100"><h5 style="margin-top: 0.5rem">Số lượng</h5></div>
                        </div>
                        <div class="col col-3 border-top border-bottom border-opacity-25p border-dark">
                            <div class="w-100"><h5 style="margin-top: 0.5rem">Action</h5></div>
                        </div>
                    </div>

                </div>

                <div ng-repeat="(index, giay) in giays">

                    <div class="row border-bottom border-left border-right border-opacity-25p border-dark p-3">
                        <div class="product col col-3 d-flex align-items-center flex-column">
                            <div class="product-image">
                                <img src="{{giay.lstAnh[0]}}" alt="Sản phẩm chưa có hình ảnh"
                                     style="width:8rem; height: 8rem; background-color: aqua; object-fit: cover;">
                            </div>
                            <div class=" product-info">
                                <h5>{{giay.ten}}</h5>
                            </div>
                        </div>

                        <div class="col col-9 row text-center"
                             style="line-height: 2.5rem; border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <div class="col col-3">
                                <ul class="variants mb-0">
                                    <li ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                        class="border-botton-005">
                                        <span class="bienTheField">{{bienThe.mauSac.ten}}, {{bienThe.kichThuoc.ten}}</span>
                                    </li>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <li ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                            class="border-botton-005">
                                            <span class="bienTheField"></span>{{bienThe.mauSac.ten}}, <span
                                                class="bienTheField"></span>{{bienThe.kichThuoc.ten}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-2">
                                <ul class="variants mb-0 ">
                                    <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                         class="border-botton-005">
                                        <span class="bienTheField">{{bienThe.giaBan}} <i
                                                class="fas fa-pen edit-icon"></i></span>
                                    </div>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                             class="border-botton-005">
                                            <span class="bienTheField">{{bienThe.giaBan}}<i
                                                    class="fas fa-pen edit-icon"></i></span>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-2">
                                <ul class="variants mb-0 ">
                                    <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                         class="border-botton-005">
                                        <span class="bienTheField">{{bienThe.giaNhap}} <i
                                                class="fas fa-pen edit-icon"></i></span>
                                    </div>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                             class="border-botton-005">
                                            <span class="bienTheField">{{bienThe.giaNhap}}<i
                                                    class="fas fa-pen edit-icon"></i></span>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-2">
                                <ul class="variants mb-0 ">
                                    <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index < 5"
                                         class="border-botton-005">
                                        <span class="bienTheField">{{bienThe.soLuong}}<i
                                                class="fas fa-pen edit-icon"></i></span>
                                    </div>
                                </ul>
                                <div class="collapse" id="collapseVarients{{index}}">
                                    <ul class="variants">
                                        <div ng-repeat="bienThe in giay.lstBienTheGiay" ng-show="$index >= 5"
                                             class="border-botton-005">
                                            <span class="bienTheField">{{bienThe.soLuong}}<i
                                                    class="fas fa-pen edit-icon"></i></span>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-3">
                                <div class="d-flex flex-column">
                                    <button class="btn btn-primary m-3">Cập nhật</button>
                                    <button class="btn btn-primary m-3">Xem chi tiết</button>
                                </div>
                            </div>
                            <div ng-show="giay.lstBienTheGiay.length > 5 && !looped" class="w-100 text-center">
                                <a data-bs-toggle="collapse" ng-click="toggleVarients(index)"
                                   ng-show="!showVarients[index]" href="#collapseVarients{{index}}"
                                   class="text-decoration-none text-dark">
                                    Xem thêm {{giay.lstBienTheGiay.length - 5}} biến thể</a>
                                <a data-bs-toggle="collapse" ng-click="toggleVarients(index)"
                                   ng-show="showVarients[index]" href="#collapseVarients{{index}}"
                                   class="text-decoration-none text-dark">Đóng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage"
                 data-max-size="maxSize"
                 data-boundary-links="true">
            </div>

        </div>
    </div>

</div>
