<div>
    <label for="seachText">Tên: </label><input id="seachText"  type="text" ng-model="searchText" placeholder="Nhập từ khóa">
    <button ng-click="search()">Tìm kiếm</button>
</div>

<a class="btn btn-primary" href="#/add">Hạng Khách hàng</a>

<h1>Danh sách hạng khách hàng</h1>

<div class="d-flex justify-content-start">
    <div class="custom-radio">
        <input type="radio" id="all" name="status" ng-model="status" value="-1" ng-checked="status != 0 && status != 1" ng-change="changeRadio(-1)">
        <label class="radio-label" for="all">Tất cả</label>
    </div>

    <div class="custom-radio">
        <input type="radio" id="active" name="status" ng-model="status" value="1" ng-checked="status == 1" ng-change="changeRadio(1)">
        <label class="radio-label" for="active">Áp dụng</label>
    </div>

    <div class="custom-radio">
        <input type="radio" id="disable" name="status" ng-model="status" value="0" ng-checked="status == 0" ng-change="changeRadio(0)">
        <label class="radio-label" for="disable">Không áp dụng</label>
    </div>
</div>

<div>
    <table class="table" border="1">
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Điều Kiện</th>
            <th>Ưu Đãi</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>

        <tr ng-repeat="hangKhachHang in hangKhachHangs">
            <td>{{hangKhachHang.id}}</td>
            <td>{{hangKhachHang.tenHang}}</td>
            <td>{{hangKhachHang.dieuKien}}</td>
            <td>{{hangKhachHang.uuDai}}</td>
            <td>{{hangKhachHang.moTa}}</td>
            <td>{{hangKhachHang.trangThai == 1? "Áp dụng" : "Không áp dụng"}}</td>
            <td>
                <a class="btn btn-info" ng-href="#/detail/{{hangKhachHang.id}}">Chi tiết</a>
                <a class="btn btn-info" ng-href="#/update/{{hangKhachHang.id}}">Cập nhật</a>
            </td>
        </tr>
    </table>

    <div ng-show="numOfPages > 1" data-pagination="" data-num-pages="numOfPages" data-current-page="curPage" data-max-size="maxSize"
        data-boundary-links="true">
    </div>



</div>