<h1>Cập nhật màu sắc</h1>

<form name="hangKhachHangForm" ng-submit="updateHangKhachHang()">
    <div class="form-group">
        <label for="hangKhachHangTen">Tên: </label>
        <input type="text" class="form-control" id="hangKhachHangTen" name="tenHang" ng-model="hangKhachHang.tenHang" ng-maxlength="50" ng-required="true"
               ng-change="change(hangKhachHangForm.tenHang)">
        <small class="error-message" ng-show="(hangKhachHangForm.tenHang.$dirty || hangKhachHangForm.tenHang.$touched) && hangKhachHangForm.tenHang.$error.required">
            Không được để trống tên</small>
        <small class="error-message" ng-show="(hangKhachHangForm.tenHang.$dirty || hangKhachHangForm.tenHang.$touched) && hangKhachHangForm.tenHang.$error.maxlength">
            Tên không được vượt quá 50 ký tự</small>
        <small class="error-message" ng-show="errors.tenHang && !hangKhachHangForm.tenHang.$dirty">{{errors.tenHang}}</small>
    </div>
    <div class="form-group">
        <label for="hangKhachHangDieuKien">Điều kiện: </label>
        <input type="number" class="form-control" id="hangKhachHangDieuKien" name="dieuKien" ng-model="hangKhachHang.dieuKien"  ng-required="true"
               ng-change="change(hangKhachHangForm.dieuKien)">
        <small class="error-message" ng-show="(hangKhachHangForm.dieuKien.$dirty || hangKhachHangForm.dieuKien.$touched) && hangKhachHangForm.dieuKien.$error.required">
            Không được để trống điều kiện</small>
        <small class="error-message" ng-show="errors.dieuKien && !hangKhachHangForm.dieuKien.$dirty">{{errors.dieuKien}}</small>
    </div>

    <div class="form-group">
        <label for="hangKhachHangUuDai">Ưu đãi: </label>
        <input type="number" class="form-control" id="hangKhachHangUuDai" name="uuDai" ng-model="hangKhachHang.uuDai"  ng-required="true"
               ng-change="change(hangKhachHangForm.uuDai)">
        <small class="error-message" ng-show="(hangKhachHangForm.uuDai.$dirty || hangKhachHangForm.uuDai.$touched) && hangKhachHangForm.uuDai.$error.required">
            Không được để trống ưu đãi</small>
        <small class="error-message" ng-show="errors.uuDai && !hangKhachHangForm.uuDai.$dirty">{{errors.uuDai}}</small>
    </div>

    <div class="form-group">
        <label for="hangKhachHangMoTa">Mô tả: </label>
        <textarea class="form-control" id="hangKhachHangMoTa" name="moTa" rows="3" ng-model="hangKhachHang.moTa" ng-change="change(hangKhachHangForm.moTa)"></textarea>
        <small class="error-message" ng-show="errors.moTa && !hangKhachHangForm.moTa.$dirty">{{errors.moTa}}</small>
    </div>

    <div class="form-group">
        <label for="hangKhachHangTrangThai">Trạng thái: </label>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="hangKhachHangTrangThai" name="trangThai" ng-model="hangKhachHang.trangThai" ng-true-value="1"
                   ng-false-value="0" ng-init="hangKhachHang.trangThai = 1">
            <label class="form-check-label" for="hangKhachHangTrangThai">Áp dụng</label>
        </div>
        <small class="error-message" ng-show="errors.trangThai && !hangKhachHangForm.trangThai.$dirty">{{errors.trangThai}}</small>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>