<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kích thước</title>

    <!-- Pagination -->
    <link rel="stylesheet" href="/pagination/pagination.css">
    <script src="/pagination/pagination.min.js" defer></script>
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--AngularJS-->
    <script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/angular-1.8.2/angular-route.min.js"></script>
    <!--Toastr-->
    <script src="/toastr/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/toastr/toastr/build/toastr.min.css">
    <script src="/toastr/toastr/build/toastr.min.js"></script>
    <script src="/toastr/toastr/build/toastr.min.js"></script>

    <!-- Global -->
    <script src="/js/global.js"></script>
    <link rel="stylesheet" href="/css/global-style.css">
    <script src="/js/httpInterceptor.js" defer></script>
</head>

<body>
<div ng-view></div>

<script src="/js/kichthuoc/index.js"></script>
</body>

</html>